
@{
    ViewBag.Title = "Dash";
}
<style>
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid black;
        }
</style>
<div class="card " style="background-color: rgb(255, 255, 255, 0.94);">
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                <div class="card-header" style="background-color: #331603; color: white; border-radius: 14px "> <i class="fa fa-spinner"></i> Dash A </div>
                <div class="card-body text-left" style="background-color:white;border-radius: 14px;">


                    <table class="table table-bordered curved-table">
                        <thead style="background-color: #331603">
                            <tr>

                                <th style="color:white"> <small>Top Highest expenses on @DateTime.Now.ToString("MMMM")</small></th>

                            </tr>
                        </thead>
                        <thead style="background-color:whitesmoke">
                            <tr>
                                <th style="background-color: #331603; color: white"> Item</th>
                                <th style="background-color: #331603; color: white">Month</th>
                                <th style="background-color: #331603; color: white"> Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.A2)
                            {
                                <tr>

                                    <td>
                                       <i class="fa fa-shopping-bag"></i> @item.items
                                    </td>
                                    <td> @item.Period</td>


                                    <td>
                                        @item.Total.ToString("#,##0.00")
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <hr /> <table class="table table-bordered curved-table">
                        <thead style="background-color: #331603">
                            <tr>

                                <th style="color:white"> <small>Top Highest expense on Current Week</small></th>

                            </tr>
                        </thead>
                        <thead style="background-color:whitesmoke">
                            <tr>
                                <th style="background-color: #331603; color: white"> Item</th>
                                <th style="background-color: #331603; color: white">Period</th>
                                <th style="background-color: #331603; color: white"> Week</th>

                                <th style="background-color: #331603; color: white"> Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.A3)
                            {
                                <tr>



                                    <td>
                                        @item.items
                                    </td>
                                    <td>@item.Period</td>
                                    <td>
                                        @item.WeekNumber
                                    </td>
                                    <td>
                                        @item.Total.ToString("#,##0.00")
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                <div class="card-header" style="background-color: #331603; color: white; border-radius: 14px "> <i class="fa fa-spinner"></i> Dash B </div>
                <div class="card-body text-left" style="background-color:white;border-radius: 14px;">

                    <h6><i class="fa fa-chart-line text-primary"></i> Expense summary</h6>
                    @foreach (var item in ViewBag.l9)
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-5 col-6" style="border-radius: 24px;">
                                <div class="info-box" style="border-radius: 14px; background-color: #803209">
                                    <span><i class="fa fa-book-reader text-white"></i></span>

                                    <div class="info-box-content" style="color:white">
                                        <span class="info-box-text">Month - @DateTime.Now.ToString("MMMM")</span>
                                        <span class="info-box-number">@item.Total_Month.ToString("#,##0.00") </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-5 col-6">
                                <div class="info-box" style="border-radius: 14px;background-color:black">
                                    <span><i class="fa fa-clipboard-list text-white"></i></span>

                                    <div class="info-box-content" style="color:white">
                                        <span class="info-box-text">Week - </span>
                                        <span class="info-box-number">@item.Total_Week.ToString("#,##0.00") </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-5 col-6">
                                <div class="info-box" style="border-radius: 14px;background-color:#064e12">
                                    <span><i class="fa fa-calendar-day text-white"></i></span>

                                    <div class="info-box-content" style="color:white">
                                        <span class="info-box-text">Today-@DateTime.Now.ToString("dddd")</span>
                                        <span class="info-box-number">@item.Total_Today.ToString("#,##0.00") </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>
                    }
                    <hr />
                    <table class="table table-bordered curved-table">
                        <thead style="background-color: #001F3F">
                            <tr>

                                <th style="color:white"> <small>Top Highest expenses on last Month</small></th>

                            </tr>
                        </thead>
                        <thead style="background-color:whitesmoke">
                            <tr>
                                <th style="background-color: #001F3F; color: white"> Item</th>
                                <th style="background-color: #001F3F; color: white">Month</th>
                                <th style="background-color: #001F3F; color: white"> Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.A4)
                            {
                                <tr>

                                    <td>
                                        <i class="fa fa-shopping-bag"></i> @item.items
                                    </td>
                                    <td> @item.Period</td>


                                    <td>
                                        @item.Total.ToString("#,##0.00")
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>