@model Ishop.Models.FileUpload


@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.93);">



    <div class="card-header" style="background-color: black ">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-home"></i>
            HomePage
        </h3>
    </div>
    <div class="card-body">
       

        @if (this.User.IsInRole("Admin"))
        {
            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                        <div class="card-header" style="background-color: black; color: white ">  <img src="~/Images/logo.png" height="50" alt="User Avatar"> : Welcome @User.Identity.Name </div>
                        <div class="card-body text-left" style="background-color:whitesmoke;border-radius: 14px;">

                            <ul style="text-align:left">
                                <li>
                                    <i class="fa fa-user-circle text-orange"></i> <b>User</b> : @User.Identity.Name

                                </li>

                                @foreach (var item in ViewBag.F)
                                {
                                    <li>
                                        <i class="fa fa-envelope text-orange"></i> <b>Email</b> : @item.email
                                    </li>
                                }

                                <li><i class="fa fa-hourglass-start text-orange"></i> <b>Today</b> : @DateTime.Now.ToString("dddd:dd-MMMM-yyyy")</li>
                            </ul>

                        </div>
                        <!-- /.widget-user -->
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                        <div class="card-header" style="background-color: black; color: white "> <i class="fa fa-spinner"></i> Summary </div>
                        <div class="card-body text-left" style="background-color:white;border-radius: 14px;">

                            <h6><i class="fa fa-chart-line text-primary"></i> Expense summary</h6>
                            @foreach (var item in ViewBag.l9)
                            {
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="info-box">
                                            <span><i class="fa fa-book-reader text-primary"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Month - @DateTime.Now.ToString("MMMM")</span>
                                                <span class="info-box-number">@item.Total_Month.ToString("#,##0.00") </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="info-box">
                                            <span><i class="fa fa-list text-primary"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Week - </span>
                                                <span class="info-box-number">@item.Total_Week.ToString("#,##0.00") </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="info-box">
                                            <span><i class="fa fa-calendar-day text-orange"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Today-@DateTime.Now.ToString("dddd")</span>
                                                <span class="info-box-number">@item.Total_Today.ToString("#,##0.00") </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </div>
                            }
                            <hr />
                            <a href="@Url.Action("Dashboard", "Home")">
                                <div class="spinner-border spinner-border-sm" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>  Monthly Statements
                            </a>
                            ||
                            <a href="@Url.Action("Index", "Reports")">
                                <div class="spinner-border spinner-border-sm text-warning" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow spinner-grow-sm text-warning" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>  Today Statement
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
        }

        <div class="card-footer p-0" style="background-color:whitesmoke">
        </div>


    </div>
</div>

     