@model Ishop.Models.FileUpload



@using Microsoft.AspNet.Identity


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid orange;
        }
</style>




<div class="card-header" style="background-color: #001F3F ">
    <h3 class="card-title" style="color:white">
        <i class="fa fa-home"></i>
        HomePage
    </h3>
</div>

<div class="card" style="background-color:#ffffffc6">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2" style="border-radius: 14px ">
                    <div class="card-header" style="background-color: #001F3F;color:white; border-radius: 14px ">
                        <i class="fa fa-user-circle text-white nav-icon"></i> Welcome @User.Identity.Name
                    </div>

                    <div class="card-footer p-0">
                        <div class="card-body">

                            <div>

                                <ul style="text-align:left">
                                    <li>
                                        <i class="fa fa-user-shield"></i> Access Level
                                        @if (this.User.IsInRole("Admin"))
                                        {<medium style="font-family:Calibri">
                                                <i class="fa fa-user-check text-success"></i>:-Administrator
                                            </medium>}


                                        else if (this.User.IsInRole("Employee"))
                                        { <medium style="font-family:Calibri">
                                                :-Employee
                                            </medium>}
                                        else if (this.User.IsInRole("Staffing_Agency"))
                                        { <medium style="font-family:Calibri">
                                                :-Staffing Agency user
                                            </medium>}

                                        else if (this.User.IsInRole("Facility"))
                                        { <medium style="font-family:Calibri">
                                                Facility
                                            </medium>}
                                        else
                                        { <medium style="font-family:Calibri">
                                                unknown
                                            </medium>}
                                    </li>
                                    <li>
                                        @if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 12)
                                        {
                                            <medium style="font-family:Calibri">
                                                <i class="fa fa-cloud-sun text-orange"></i> :-Good Morning
                                            </medium>
                                        }
                                        else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
                                        {
                                            <medium style="font-family:Calibri">
                                                <i class="fa fa-sun text-orange"></i> :-Good Afternoon
                                            </medium>
                                        }
                                        else
                                        {
                                            <medium style="font-family:Calibri">
                                                <i class="fa fa-cloud-sun text-orange"></i> :-Good Evening
                                            </medium>
                                        }
                                    </li>
                                    <li><i class="fa fa-calendar text-success"></i> @DateTime.Now.ToString("dd-MMMM-yyyy")</li>
                                </ul>



                            </div>

                        </div>
                        <!-- /.widget-user -->
                    </div>
                </div>
            </div>
            <div class="col-xl-8">

                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2" style="border-radius: 14px ">
                    <div class="card-header" style="background-color: #001F3F;color:white; border-radius: 14px;text-align:center ">
                        <i class="fa fa-spin fa-circle-notch text-white nav-icon"></i> Upcoming Events
                    </div>


                    <div class="container-fluid">



                       
                            <div class="table-responsive" style="min-height: 100px">

                                <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">



                                    <thead>
                                        <tr style="color:white">
                                            <th style="background-color: #050a42; "> Event</th>
                                            <th style="background-color: #050a42; "> Date</th>
                                            <th style="background-color: #050a42; ">  Confirmed</th>

                                        </tr>

                                    </thead>
                                    @foreach (var item2 in ViewBag.MyEvents)
                                    {
                                        <tbody style="line-height:30px;">



                                            <tr data-widget="expandable-table" aria-expanded="false">

                                                <td style="background-color:white">
                                                    <h5><i class="fa fa-umbrella text-orange"></i>  @item2.Name</h5>

                                                </td>
                                                <td style="background-color:white">
                                                    <h5><i class="fa fa-users text-orange"></i> @item2.Event_date.ToString("dd-MMMM-yyyy")</h5>
                                                </td>
                                                <td style="background-color:white">
                                                    <h5><i class="fa fa-umbrella"></i>  @item2.Type</h5>
                                                </td>

                                            </tr>



                                        </tbody>
                                    }
                                    </table>


                            </div>
                        
                        </div>
                </div>

            </div>
        </div>
    </div>
