@model Ishop.Models.FileUpload



@using Microsoft.AspNet.Identity


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid orange;
        }
</style>




<div class="card-header" style="background-color: #0656A5; border-radius: 11px">
    <h3 class="card-title" style="color:white">
        <i class="fa fa-home"></i>
        HomePage
    </h3>
</div>

<div class="card" style="background-color:#ffffffc6">
    <div class="card-body">
        <div class="row">


            <div class="col-xl-4">
                <div class="card mb- mb-xl-0" style="border-radius: 24px;">
                    <div class="card-header" style="background-color: #0656A5; color: white; border-radius: 11px ">
                        <i class="fa fa-home"></i> Welcome
                    </div>
                    <div class="card-body">
                        <div class="col d-flex justify-content-center">
                            <img src="~/Images/homee.png" height="30px" width="30px" class="circle-image" style="text-align:center">

                            <h5 style="font-family:Calibri">
                                @if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 12)
                                {<b><i class="fa fa-cloud-sun text-orange"></i> Good Morning , @User.Identity.Name!</b>
                            }
                            else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
                            {<b><i class="fa fa-sun text-orange"></i> Good Afternoon , @User.Identity.Name!</b> }
                        else
                        { <b><i class="fa fa-cloud-sun text-orange"></i> Good Evening , @User.Identity.Name!</b>}
                            </h5>

                        </div>



                        <div style="text-align:center">

                            <div class="dropdown-divider" style="color:forestgreen"></div>
                            <h6>Welcome to your  dashboard.</h6>
                            <h6><i class="fa fa-calendar-day text-primary"></i><b> @DateTime.Now.ToString("dddd,MMMM,dd,yyyy")</b> </h6>



                        </div>



                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-6 justify-content-end">
                <!-- small box -->
                <div class="small-box " style="background-color: #302f2f; border-radius: 11px;">
                    <div class="inner">
                        <h4 style="color:white"><span class="badge badge-primary"> @ViewBag.Children  </span> Children</h4>

                        <p style="color:white"><i class="fa fa-users text-white"></i> Total Children Accounts</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-6 justify-content-end">
                <!-- small box -->
                <div class="small-box " style="background-color: #0656A5; border-radius: 11px;">
                    <div class="inner">
                        <h4 style="color:white">@ViewBag.Credit sms</h4>

                        <p style="color:white"><i class="fa fa-spin fa-circle-notch text-white"></i> @ViewBag.Response</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sms"></i>
                    </div>

                </div>
            </div>
            
        </div>


                </div>
            </div>



