@model Ishop.Models.FileUpload



@using Microsoft.AspNet.Identity


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid orange;
        }
</style>




<div class="card-header" style="background: linear-gradient(to right, #030a41, #0C54A0); border-radius: 11px">
    <h3 class="card-title" style="color:white">
        <i class="fa fa-home"></i>
        HomePage
    </h3>
</div>

<div class="card" style="background-color:#ffffffc6">
    <div class="card-body">
        <div class="row">


            <div class="col-xl-4">
                <div class="card mb- mb-xl-0" style="border-radius: 24px;">
                    <div class="card-header" style="background-color: #0C54A0; color: white; border-radius: 11px ">
                        <i class="fa fa-home"></i> Welcome
                    </div>
                    <div class="card-body">
                        <div class="col d-flex justify-content-center">
                            <img src="~/Images/homee.png" height="30px" width="30px" class="circle-image" style="text-align:center">

                            <h5 style="font-family:Calibri">
                                @if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 12)
                                {<b><i class="fa fa-cloud-sun text-orange"></i> Good Morning , @User.Identity.Name!</b>
                            }
                            else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
                            {<b><i class="fa fa-sun text-orange"></i> Good Afternoon , @User.Identity.Name!</b> }
                        else
                        { <b><i class="fa fa-cloud-sun text-orange"></i> Good Evening , @User.Identity.Name!</b>}
                            </h5>

                        </div>



                        <div style="text-align:center">

                            <div class="dropdown-divider" style="color:forestgreen"></div>
                            <h6>Welcome to your  dashboard.</h6>
                            <h6><i class="fa fa-calendar-day text-primary"></i><b> @DateTime.Now.ToString("dddd,MMMM,dd,yyyy")</b> </h6>



                        </div>



                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-7">


                <div class="row justify-content-end">
                    <div class="col-md-4 col-sm-4 col-9">
                        <div class="info-box" style="border-radius: 14px; background-color:#080348 ">
                            <span><i class="fa fa-user-clock text-white"></i></span>

                            <div class="info-box-content" style="color: white">
                                <span class="info-box-text">Today InDirect Hours</span>
                                <span class="info-box-number">11 <small><b>Hours</b></small></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                    <div class="col-md-4 col-sm-4 col-9">
                        <div class="info-box" style="border-radius: 14px; background-color: #03421a ">
                            <span><i class="fa fa-user-clock text-white"></i></span>

                            <div class="info-box-content" style="color: white">
                                <span class="info-box-text">Today Direct Hours</span>
                                <span class="info-box-number">11 <small><b>Hours</b></small></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-4 col-sm-4 col-9">
                        <div class="info-box" style="border-radius: 14px; background-color: #423404 ">
                            <span><i class="fa fa-user-clock text-white"></i></span>

                            <div class="info-box-content" style="color: white">
                                <span class="info-box-text">Total  Hours</span>
                                <span class="info-box-number">11 <small><b>Hours</b></small></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8 col-11">
                            <!-- small card -->
                            <div class="small-box bg-gradient-navy" style="border-radius: 15px">
                                <div class="inner">

                                    <h4> <i class="fa fa-umbrella-beach"></i><b> leave Request</b></h4>
                                    <h6>View staff members on leave ,requested leaves </h6>
                                    <small><i class="fa fa-spin fa-circle-notch"></i> Click view  to view the leave module</small>
                                </div>
                                <div class="icon"> <i class="fa fa-umbrella-beach"></i></div>
                                <a href="@Url.Action("All", "Leaves")" class="small-box-footer" style="background-color: black; color: white;border-radius:10px;">
                                    <b style="color:white">View</b> <i class="fas fa-arrow-circle-right text-white"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="dropdown-divider"></div>



            <div class="col-xl-5">
                <div class="col-lg-11 col-11">
                    <!-- small card -->
                    <div class="small-box bg-warning" style="border-radius: 15px">
                        <div class="inner">


                            <h4> <i class="fa fa-chart-pie"></i><b> System Reports</b></h4>
                            <h6>Report analysis estimates,invoices data</h6>
                            <small><i class="fa fa-spin fa-circle-notch"></i> Click view  to view the reports module</small>
                        </div>
                        <div class="icon">
                            <i class="fa fa-chart-bar"></i>
                        </div>
                        <a href="@Url.Action("Index", "Reports")" class="small-box-footer" style="background-color: black; color: white;border-radius:10px;">
                            <b style="color:white">View</b> <i class="fas fa-arrow-circle-right text-white"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

            


        </div>
            </div>



