@model Ishop.Models.FileUpload



@using Microsoft.AspNet.Identity


<style>
   

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid orange;
        }
</style>




<div class="card-header" style="background: linear-gradient(to left, #AAAC26, #53085B); border-radius: 5px ">
    <h3 class="card-title" style="color:white">
        <i class="fa fa-home"></i>
        HomePage
    </h3>
</div>

<div class="card" style="background-color:#ffffffdc">
    <div class="card-body">
        <div class="row">


            <div class="col-xl-4">
                <div class="card mb- mb-xl-0" style="border-radius: 24px;">
                    <div class="card-header" style="background-color: #53085B; color: white; border-radius: 11px ">
                        <i class="fa fa-home"></i> Welcome
                    </div>
                    <div class="card-body">
                        <div class="col d-flex justify-content-center">
                            <img src="~/Images/homee.png" height="30px" width="30px" class="circle-image" style="text-align:center">

                            <h5 style="font-family:Calibri">
                                @if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 12)
                                {<b><i class="fa fa-cloud-sun text-orange"></i> Good Morning , @User.Identity.Name!</b>
                            }
                            else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
                            {<b><i class="fa fa-sun text-orange"></i> Good Afternoon , @User.Identity.Name!</b> }
                        else
                        { <b><i class="fa fa-cloud-sun text-orange"></i> Good Evening , @User.Identity.Name!</b>}
                            </h5>

                        </div>



                        <div style="text-align:center">

                            <div class="dropdown-divider" style="color:forestgreen"></div>
                            <h6>Welcome to your  dashboard.</h6>
                            <h6> <span class="badge badge-pill badge-warning"> </span><b>  @DateTime.Now.ToString("ddd-MMM-dd-yyyy")  </b>  <span class="badge badge-pill badge-warning"> </span> </h6>



                        </div>



                    </div>
                </div>

            </div>
            <div class="col-xl-2"></div>
            <div class="col-xl-6">
                <div class="row justify-content-center">

                    <div class="col-sm-4 col-6 border-right" style="border-radius: 15px; background-color: white; border-left: 6px solid #53085B">
                        <div class="description-block">
                            <h3 class="description-header"><span class="badge badge-warning"><i class="fa fa-calendard-day"></i></span>  @ViewBag.Admin</h3>
                            <div class="dropdown-divider"></div>
                            <span><b>Total Admissions</b></span>
                        </div>
                        <!-- /.description-block -->
                    </div>

                    <div class="col-sm-4 col-6  border-right" style="border-radius: 15px; background-color: white; border-left: 6px solid #A4A71C">
                        <div class="description-block">
                            <h3 class="description-header"><span class="badge badge-success"><i class="fa fa-calendard-day"></i></span>  @ViewBag.Imm</h3>
                            <div class="dropdown-divider"></div>
                            <span><b>Total Immigrants</b></span>
                        </div>
                        <!-- /.description-block -->
                    </div>

                    <!-- /.col -->

                </div>
                <small><i class="fa fa-chart-line"></i>  Data summary</small>
                <div class="dropdown-divider"></div>
            </div>

            </div>

            <div class="dropdown-divider"></div>



            <div class="row">
                @if (this.User.IsInRole("Admisions"))
                {
                    <div class="col-xl-4">
                        <div class="list-group" style="border-radius: 14px; border-left: 5px solid #93bb09 ">
                            <a href="#" class="list-group-item list-group-item-action " style="background: linear-gradient(to right, #ffffff,#d5d5d5 ); color: black ">
                                <i class="fa fa-book-reader"></i>   <b>Admissions</b>

                            </a>
                            <a href="@Url.Action("Add", "Admission")" class="list-group-item list-group-item-action"><span class="badge badge-warning badge-pill"><i class="fa fa-plus-circle"></i></span> New Admission</a>
                            <a href="@Url.Action("Index", "Admission")" class="list-group-item list-group-item-action"><span class="badge badge-warning badge-pill"><i class="fa fa-clipboard-list"></i></span> Admission list</a>
                        </div>
                    </div>
                }



                    

                    @if (this.User.IsInRole("MasterData"))
                    {
                        <div class="col-xl-4">
                            <div class="list-group" style="border-radius: 14px; border-left: 5px solid #93bb09 ">
                                <a href="#" class="list-group-item list-group-item-action " style="background: linear-gradient(to right, #ffffff,#d5d5d5 ); color: black ">
                                    <i class="fa fa-map"></i>   <b>Management</b>

                                </a>
                                <a href="@Url.Action("Index", "Employees")" class="list-group-item list-group-item-action"><span class="badge badge-success badge-pill"><i class="fa fa-handshake"></i></span> Employees list</a>
                                <a href="@Url.Action("Index", "Departments")" class="list-group-item list-group-item-action"><span class="badge badge-success badge-pill"><i class="fa fa-handshake"></i></span> Departments list</a>
                            </div>
                        </div>
                    }
                </div>
        </div>
        </div>



