@model Ishop.Models.FileUpload


@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.93);">



    <div class="card-header" style="background-color: #331603 ">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-home"></i>
            HomePage
        </h3>
    </div>
    <div class="card-body">
       

            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                        <div class="card-header" style="background-color: #331603; border-radius: 14px; color: white ">  <img src="~/Images/logo.png" height="50" alt="User Avatar"> : Welcome @User.Identity.Name </div>
                        <div class="card-body text-left" style="background-color:whitesmoke;border-radius: 14px;">

                                <div>
                                    <i class="fa fa-user-circle text-orange"></i> <b>User</b> : <medium>@User.Identity.Name</medium>

                                </div>

                                @foreach (var item in ViewBag.F)
                                {
                                    <div>
                                        <i class="fa fa-envelope text-orange"></i> <b>Email</b> : <medium style="color:blue">@item.email</medium>
                                    </div>
                                }

                                <div><i class="fa fa-circle-notch text-orange"></i> <b>Today</b> : <medium>@DateTime.Now.ToString("dddd:dd-MMMM-yyyy")</medium></div>
                            

                        </div>
                        <!-- /.widget-user -->
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                        <div class="card-header" style="background-color: #331603; color: white; border-radius: 14px "> <i class="fa fa-spinner"></i> Summary </div>
                        <div class="card-body text-left" style="background-color:white;border-radius: 14px;">

                            <h6><i class="fa fa-chart-line text-primary"></i> Expense summary</h6>
                            @foreach (var item in ViewBag.l9)
                            {
                                <div class="row">
                                    <div class="col-md-4 col-sm-5 col-6" style="border-radius: 24px;">
                                        <div class="info-box" style="border-radius: 14px; background-color: #803209">
                                            <span><i class="fa fa-book-reader text-white"></i></span>

                                            <div class="info-box-content" style="color:white">
                                                <span class="info-box-text">Month - @DateTime.Now.ToString("MMMM")</span>
                                                <span class="info-box-number">@item.Total_Month.ToString("#,##0.00") </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <div class="col-md-4 col-sm-5 col-6">
                                        <div class="info-box" style="border-radius: 14px;background-color:black">
                                            <span><i class="fa fa-clipboard-list text-white"></i></span>

                                            <div class="info-box-content" style="color:white">
                                                <span class="info-box-text">Week - </span>
                                                <span class="info-box-number">@item.Total_Week.ToString("#,##0.00") </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <div class="col-md-4 col-sm-5 col-6">
                                        <div class="info-box" style="border-radius: 14px;background-color:#064e12">
                                            <span><i class="fa fa-calendar-day text-white"></i></span>

                                            <div class="info-box-content" style="color:white">
                                                <span class="info-box-text">Today-@DateTime.Now.ToString("dddd")</span>
                                                <span class="info-box-number">@item.Total_Today.ToString("#,##0.00") </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </div>
                            }
                            <hr />
                            
                        </div>
                    </div>
                </div>
            </div>
         
        
        <div class="card-footer p-0" style="background-color:whitesmoke">
        </div>


    </div>
</div>

     