@model Ishop.Models.FileUpload



@using Microsoft.AspNet.Identity


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid orange;
        }
</style>




<div class="card-header" style="background: linear-gradient(to left, #094686, #0C54A0); border-radius:5px ">
    <h3 class="card-title" style="color:white">
        <i class="fa fa-home"></i>
        HomePage
    </h3>
</div>

<div class="card" style="background-color:#ffffffc6">
    <div class="card-body">
        <div class="row">


            <div class="col-xl-4">
                <div class="card mb- mb-xl-0" style="border-radius: 24px;">
                    <div class="card-header" style="background-color: #0C54A0; color: white; border-radius: 11px ">
                        <i class="fa fa-home"></i> Welcome
                    </div>
                    <div class="card-body">
                        <div class="col d-flex justify-content-center">
                            <img src="~/Images/homee.png" height="30px" width="30px" class="circle-image" style="text-align:center">

                            <h5 style="font-family:Calibri">
                                @if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 12)
                                {<b><i class="fa fa-cloud-sun text-orange"></i> Good Morning , @User.Identity.Name!</b>
                            }
                            else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
                            {<b><i class="fa fa-sun text-orange"></i> Good Afternoon , @User.Identity.Name!</b> }
                        else
                        { <b><i class="fa fa-cloud-sun text-orange"></i> Good Evening , @User.Identity.Name!</b>}
                            </h5>

                        </div>



                        <div style="text-align:center">

                            <div class="dropdown-divider" style="color:forestgreen"></div>
                            <h6>Welcome to your  dashboard.</h6>
                            <h6> <span class="badge badge-pill badge-warning"> </span><b>  @DateTime.Now.ToString("ddd-MMM-dd-yyyy")  </b>  <span class="badge badge-pill badge-warning"> </span> </h6>



                        </div>



                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-7">

                <div class="row">
                    <div class="col-sm-3 col-10 border-right" style="border-left: 6px solid #0C54A0; border-radius: 15px; background-color: #0C54A0; color: white">
                        <div class="description-block">
                            <h3 class="description-header">
                                <i class="fa  fa-clock text-white"></i>
                                @if (ViewBag.InDirectHours != null)
                                {
                                    <span class="info-box-number"><b>@ViewBag.InDirectHours<small> . <b>Hrs</b></small></b></span>
                                }
                                else
                                {
                                    <span class="info-box-number"> . <b>N/A<small> <b>Hrs</b></small></b></span>
                                }

                            </h3>
                            <span><b>Non Project Hours</b></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-10 border-right" style="border-left: 6px solid #030230; border-radius: 15px; background-color: #030230; color: white">
                        <div class="description-block">
                            <h3 class="description-header">
                                <i class="fa  fa-clock text-white"></i>
                                @if (ViewBag.DirectHours != null)
                                {
                                    <span class="info-box-number"><b>@ViewBag.DirectHours<small> . <b>Hrs</b></small></b></span>
                                }
                                else
                                {
                                    <span class="info-box-number"> . <b>N/A <small><b>Hrs</b></small></b></span>
                                }
                            </h3>
                            <span><b>Project Hours</b></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-3 col-10 border-right" style="border-left: 6px solid #000000; border-radius: 15px; background-color: #525252;color:white">
                        <div class="description-block">
                            <h3 class="description-header">
                                <i class="fa  fa-clock text-warning"></i>
                                @if (ViewBag.leave != null)
                                {
                                    <span class="info-box-number"><b>@ViewBag.leave<small> . <b>Hrs</b></small></b></span>
                                }
                                else
                                {
                                    <span class="info-box-number"> . <b>N/A <small><b>Hrs</b></small></b></span>
                                }
                            </h3>
                            <span><b>leave Hours</b></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-3 col-10 border-right" style="border-left: 6px solid #0C54A0; border-radius: 15px; background-color: #ffffff; color: black ">
                        <div class="description-block">
                            <h3 class="description-header">
                                <i class="fa  fa-clock text-primary"></i>
                                @if (ViewBag.Total != null)
                                {
                                    <span class="info-box-number"><b>@ViewBag.Total<small> . <b>Hrs</b></small></b></span>
                                }
                                else
                                {
                                    <span class="info-box-number"> . <b>N/A <small><b>Hrs</b></small></b></span>
                                }
                            </h3>
                            <span><b>Total Hours</b></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                
                    <div class="row justify-content-end">
                        <div class="col-lg-6 col-12">
                            <!-- small card -->
                            <div class="small-box bg-gray-dark" style="border-radius: 15px">
                                <div class="inner">

                                    <h4> <i class="fa fa-umbrella-beach"></i><b> Leave Request</b></h4>
                                    <h6>View staff members on leave ,requested leaves </h6>
                                    <small><i class="fa fa-spin fa-circle-notch"></i> Click view  to view the leave module</small>
                                </div>
                                <div class="icon"> <i class="fa fa-umbrella-beach"></i></div>
                                <a href="@Url.Action("All", "Leaves")" class="small-box-footer" style="background-color: #0C54A0; color: white;border-radius:10px;">
                                    <b style="color:white">View</b> <i class="fas fa-arrow-circle-right text-white"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                

            </div>

            <div class="dropdown-divider"></div>
            @if (this.User.IsInRole("Timesheet_Approvals"))
            {
                <div class="col-xl-4">
                    <div class="dropdown-divider"></div>


                    <div class="card-header col-md-8 col-sm-10 col-10 " style="background-color: #0C54A0; color: white; border-radius: 10px ">
                        <h3 class="card-title" style="color:white;text-align:center">
                            <i class="fa fa-university"></i> Departments
                        </h3>
                    </div>


                    <div class="card-body text-left" style="border-radius: 14px;background-color:white">
                        <ul class="list-group">
                            @foreach (var department in ViewBag.Departmentt)
                            {
                                <li class="list-group-item ">
                                    <span class="badge badge-warning"> <i class="fa fa-usere"></i></span> <b> @department</b> <small>Department</small>

                                </li>

                            }
                        </ul>



                        <small><i class="fa fa-comments text-primary"></i>  <b>Note</b> you will be able to view and approve timesheets under the respective departments</small>

                    </div>
                </div>
            }
            



        </div>
        </div>



