@model IShop.Core.Outgoingsms
@{
    ViewBag.Title = "Send_sms";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }

    form-rounded2 {
        border-radius: 4rem;
        border-color: orangered;
    }

    .form-rounded1 {
        border-radius: 1rem;
        border-color: red;
    }

    .form-control:focus {
        border-color: #0faa09;
    }
</style>


<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $(function () {
        $("#datepicker2").datepicker();
    });

</script>


@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
<!-- /.card-header -->







<br />
<div class="col d-flex justify-content-center">
    <div class="col-md-9 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #0656A5; color: white; border-radius: 14px ">
                <i class="fa fa-sms"></i> Send Single Sms
            </div>
            <div class="card-body" style="background-color: white;border-radius: 24px;">
                <div class="card-body" style="background-color: #ffffffc1;border-radius: 24px;">
                    @using (Html.BeginForm("Send_sms", "outgoingsms", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form>

                        <h5 style="text-align:center">
                            <i class=" fa fa-sms text-primary"></i>   Sending sms to  : @ViewBag.contact.Fullnames
                        </h5>
                        <div class="dropdown-divider"></div>
                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label><i class=" fa fa-calendar-check text-primary"></i>   @Html.LabelFor(model => model.CreatedOn)</label>
                                @Html.EditorFor(model => model.CreatedOn, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm",
                                   @Placeholder = "Record",
                                   @Value = DateTime.Now,
                                   @ReadOnly = true,


                               }
                           })

                            </div>

                            <div class="form-group col-md-4">
                                <label><i class=" fa fa-mobile text-orange"></i>   @Html.LabelFor(model => model.RecipientNumber)</label>
                                @Html.EditorFor(model => model.RecipientNumber, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm",
                                   @Placeholder = "RecipientNumber",
                                   @Value = ViewBag.contact.PhoneNumber,


                               }
                           })

                            </div>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

                            <script type="text/javascript">
                                $(function () {
                                    $("#Code").chosen();

                                });
                            </script>
                            <div class="form-group col-md-3">
                                <label><i class="fa fa-receipt text-primary"></i> @Html.LabelFor(model => model.Code)</label>
                                @Html.DropDownList("Code", ViewBag.Temp as SelectList, "-- Select Template --",
                                    new { @class = "form-control", id = "Code" })
                            </div>

                            <script>
                                $(document).ready(function () {
                                    $("#Code").change(function () {  // Change 'keyup' to 'change'
                                        var Code = $(this).val();
                                        $.ajax({
                                            url: '/outgoingsms/GetDataName',
                                            method: 'GET',
                                            data: { Code: Code },
                                            success: function (data) {
                                                if (data) {
                                                    $('#MessageText').val(data.Content);
                                                } else {
                                                    // Handle no data case if needed
                                                }
                                            },
                                            error: function () {
                                                console.log('Error retrieving record data.');
                                            }
                                        });
                                    });
                                });
                            </script>

                            <div class="form-row">
                                <medium style="font-family:Calibri">
                                    <i class="fa fa-comment text-primary"></i>
                                    Message
                                </medium>
                                <div class="form-row">


                                    @Html.TextAreaFor(model => model.MessageText, 6, 100, htmlAttributes: new
                               {
                                   style = "width: 100%; max-width:100%;",
                                   @placeholder = "Your message",
                                   id = "MessageText",
                                   @autofocus = ""
                                   ,
                                   @Required = true,
                                   @class = "form-control form-rounded2 "

                               })
                                </div>
                            </div>
                            <br />
                            <div class="dropdown-divider"></div>
                            <input type="submit" value="Send Single Message" class="btn btn-warning" />
                            ||
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
</form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>