@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Ticket>

@{
    ViewBag.Title = "Tickets Groups";
}




<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header" style="background-color: #001F3F">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-users"></i>
            Tickets Groups listing
        </h3>




        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("Index", "Tickets", FormMethod.Get))
            {






                <a style="font-family: Calibri"> Group Name</a>
                @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "Group Name" })
                <button type="submit" value="search" class="btn btn-sm btn-warning">
                    <i class="fas fa-search"></i>
                </button>

                @Html.ActionLink("New Ticket ", "New_ticket", "Tickets", null, new { @class = "btn btn-sm btn-default btn" })


            }


        </div>
    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>









    <div class="table-responsive" style="min-height: 400px">
        @foreach (var group in Model.GroupBy(m => new { m.Group_id }).Where(g => g.Count() > 1))
        {

            <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable">



                <thead>
                    <tr style="color:white">
                        <th style="background-color: #13ac99; "> Issued On</th>
                        <th style="background-color: #13ac99; "> Ticket/Ref No</th>
                        <th style="background-color: #13ac99; ">Airline </th>
                        <th style="background-color: #13ac99; ">PAX Name </th>
                        <th style="background-color: #13ac99; ">Client </th>

                        <th style="background-color: #13ac99; ">INV Amt </th>
                        <th style="background-color: #13ac99; ">NET Amt </th>

                        <th style="background-color: #13ac99; ">Date of Travel </th>
                        <th style="background-color: #13ac99; ">Status </th>
                        <th style="background-color: #13ac99; ">Actions </th>


                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in group)
                    {
                        <tr data-widget="expandable-table" aria-expanded="false">

                            <td style="background-color:white" href="javascript:void(0);" class="anchorDetail" data-id="@item.id">@item.issue_Date.ToString("dd-MMM-yyyy") - <small><i class="fa fa-user-circle text-primary"></i> @item.Staff</small></td>
                            <td style="background-color:white">  @item.Ticket_No</td>
                            <td style="background-color:white"><i class="fa fa-plane text-warning"></i>  @item.Airline - <small><i class="fa fa-globe text-primary"></i>  @item.Ticketing_System</small> </td>
                            <td style="background-color:white"><i class="fa fa-passport text-warning"></i>  @item.Pax_Name</td>
                            <td style="background-color:white"><i class="fa fa-user text-warning"></i>  @item.Client</td>
                            @if (item.Invoice_As_One == false)
                            {
                                <td style="background-color:white">  @item.Inv_Amount</td>
}
                            else
                            {
                                <td style="background-color:#d75205d4">  @item.Inv_Amount</td>
}
                            <td style="background-color:white"> @item.Net_Amount</td>


                            <td style="background-color:white">
                                <small>
                                    <i class="fa fa-calendar-check text-warning"></i> @item.Departure_Date.ToString("dd-MMMM-yyyy")
                                    -- <i class="fa fa-calendar-day text-warning"></i>  @item.Arrival_Date.ToString("dd-MMMM-yyyy")
                                </small>
                            </td>
                            <td style="background-color:white">
                                @if (item.Ticket_status == 0)
                                {<small><i class="fa fa-pause-circle text-warning"></i> Pending Approval</small>}
                                else if (item.Ticket_status == 1)
                                {<small style="color:forestgreen"><i class="fa fa-check-circle text-success"></i> Approved </small>}
                                else if (item.Ticket_status == 2)
                                {<small style="color:forestgreen"><i class="fa fa-check-circle text-success"></i> Approved & Invoiced</small>}

                            </td>
                           


                        </tr>
                    }
                </tbody>
                <tbody>
                
                    <tr style="color:white">
                        <td style="background-color:whitesmoke"></td>
                        <td style="background-color:whitesmoke"></td>
                        <td style="background-color:whitesmoke"></td>
                        <td style="background-color:whitesmoke"></td>
                        <td style="background-color: #e45208e4; "> @group.Key  </td>
                        <td style="background-color: #e45208e4; ">Total @group.Sum(m => m.Inv_Amount)</td>
                        <td style="background-color: #e45208e4; ">Total @group.Sum(m => m.Net_Amount)</td>
                        <td style="background-color:whitesmoke"></td>
                        <td style="background-color:whitesmoke"></td>
                        <td style="background-color:whitesmoke">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-file-invoice"></i>  . Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                   

                                    <a class="dropdown-item" onclick="if (confirm('Are you sure you want to Delete this Ticket?')) { window.location.href = '@Url.Action("View_Grp", "Tickets", new { idd = group.Key })'; }">
                                        <i class="fa fa-print text-orange"></i> Print Tickets
                                    </a>
                                    <script>
                                        $(function () {
                                            $('#Deny').click(function () {
                                                if (confirm('Are you sure?')) {
                                                    window.location.href = $(this).data('url');
                                                }
                                            });
                                        });
                                    </script>


                                </div>
</td>
</tbody>
                
            </table>
        }
           

            @foreach (var item in Model)
            {
               


            }

            @if (Model.Count() == 0)
            {
                <div style="text-align:center">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-black">
                            <span class="info-box-icon"><i class="far fa-bed"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text"> <img src="~/Images/logo77.png" height="50" /> </span>


                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <span class="progress-description">
                                    <i class="fa fa-calendar text-white nav-icon"></i>   No Invoices Found
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            }












            <style>
                .ul.pagination {
                    display: inline-block;
                    padding: 1;
                    margin: 1;
                    border-radius: 0.5rem;
                }

                ul.pagination li {
                    display: inline;
                }

                    ul.pagination li a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color;
                        background-color: #ddd;
                        border-color: white;
                        border-radius: 0.5rem;
                    }

                        ul.pagination li a.active {
                            background-color: dodgerblue;
                            color: white;
                        }

                        ul.pagination li a:hover:not(.active) {
                            background-color: dodgerblue;
                            border-radius: 0.5rem;
                        }
            </style>
            <div id="container" style="text-align:left">

                <div class="pagination" style="text-align:left">
                    @Html.PagedListPager(Model, page => Url.Action("Groups", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
                  , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
                </div>
            </div>


        </div>



</div>





