@model IShop.Core.Ticket

@{
    ViewBag.Title = "Ticket Update";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }

    .form-rounded2 {
        border-radius: 1rem;
    }

    .form-rounded1 {
        border-radius: 1rem;
        border-color: red;
    }

    .form-control:focus {
        border-color: #0faa09;
    }
</style>


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $(function () {
        $("#datepicker2").datepicker();
    });
    $(function () {
        $("#datepicker9").datepicker();
    });
</script>


@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
<!-- /.card-header -->
<div class="col d-flex justify-content-center">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #001F3F;color:white">
                <i class="fa fa-id-card text-white nav-icon"></i> Update Ticket
            </div>
            <div class="card-body">



                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                    <div class="form-row">
                        <div class="form-group col-md-2" style="display:none">
                            <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.CreatedOn) </label>
                            @Html.EditorFor(model => model.CreatedOn, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",

                               @Value = DateTime.Now,
                               @Readonly = true

                           }
                       })

                        </div>
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.issue_Date) </label>
                            @Html.EditorFor(model => model.issue_Date, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               id = "datepicker9",
                               @Placeholder = "Issue Date",
                               @required = "required",


                           }
                       })

                        </div>

                        <div class="form-group col-md-2">
                            <label>
                                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal">+</button>
                                <i class="fa fa-plane text-warning"></i> @Html.LabelFor(model => model.Airline)
                            </label>

                            @Html.DropDownList("Airline", ViewBag.Categories as SelectList, "-- Select Airline --", new { @class = "form-control form-control-sm", @required = "required", data_live_search = "true" })
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $("#Airline").chosen();
                                $("#Client").chosen();
                                $("#Service_Provider").chosen();
                               

                            });

                        </script>
                        <div class="form-group col-md-3">
                            <label><i class="fa fa-user text-warning"></i> @Html.LabelFor(model => model.Pax_Name) </label>
                            @Html.EditorFor(model => model.Pax_Name, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "Pax Name",

                           }
                       })
                        </div>
                        <div class="form-group col-md-3">
                            <label> <i class="fa fa-user-circle text-warning"></i> @Html.LabelFor(model => model.Client)</label>
                            @Html.DropDownList("Client", ViewBag.clientlist as SelectList, "-- Select client --", new { @class = "form-control form-control-sm", @required = "required", data_live_search = "true" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-cash-register text-warning"></i> @Html.LabelFor(model => model.Currency) </label>
                            @{
                                List<SelectListItem> m = new List<SelectListItem>();
                                m.Add(new SelectListItem
                                {
                                    Text = "KSH",
                                    Value = "KSH",
                                });
                                m.Add(new SelectListItem
                                {
                                    Text = "USD",
                                    Value = "USD",
                                });
                            }@Html.DropDownListFor(model => model.Currency, m, "---Currency---", new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="form-group col-md-2">
                            <label> <i class="fa fa-circle-notch text-warning"></i> @Html.LabelFor(model => model.Ticket_No) </label>
                            @Html.EditorFor(model => model.Ticket_No, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "Ticket No/REF",
                               @required = "required",

                           }
                       })
                        </div>
                        <div class="form-group col-md-2">
                            <label> <i class="fa fa-circle-notch text-warning"></i> @Html.LabelFor(model => model.Inv_Amount) </label>
                            @Html.EditorFor(model => model.Inv_Amount, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "0.00",

                           }
                       })
                        </div>
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-circle-notch text-warning"></i>  @Html.LabelFor(model => model.Net_Amount)</label>
                            @Html.EditorFor(model => model.Net_Amount, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "0.00",

                           }
                       })
                        </div>









                        <div class="form-group col-md-2">
                            <label><i class="fa fa-circle-notch text-warning"></i> @Html.LabelFor(model => model.Incentv)</label>
                            @Html.EditorFor(model => model.Incentv, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "0.00",


                           }
                       })
                        </div>
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-circle-notch text-warning"></i> @Html.LabelFor(model => model.Recovery)</label>
                            @Html.EditorFor(model => model.Recovery, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "0.00",


                           }
                       })
                        </div>


                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-calendar-day text-warning"></i> @Html.LabelFor(model => model.Departure_Date)</label>
                            @Html.EditorFor(model => model.Departure_Date, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm ",
                               @placeholder = " Departure_Date",
                               id = "datepicker"
                           }
                       })
                        </div>
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-calendar-day text-warning"></i> @Html.LabelFor(model => model.Arrival_Date)</label>
                            @Html.EditorFor(model => model.Arrival_Date, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm ",
                               @placeholder = " Arrival_Date",
                               id = "datepicker2"
                           }
                       })
                        </div>
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-route text-warning"></i> @Html.LabelFor(model => model.Routing)</label>
                            @Html.EditorFor(model => model.Routing, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-control-sm",
                           @placeholder = " Routing ",


                       }
                   })
                        </div>


                        <div class="form-group col-md-2">
                            <label><i class="fa fa-circle-notch text-warning"></i> @Html.LabelFor(model => model.CTC)</label>
                            @Html.EditorFor(model => model.CTC, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "CTC",


                           }
                       })
                        </div>
                        <div class="form-group col-md-2">
                            <label><i class="fa fa-handshake text-warning"></i> @Html.LabelFor(model => model.Service_Provider)</label>
                            @Html.DropDownList("Service_Provider", ViewBag.servicep as SelectList, "--  Service provider --", new { @class = "form-control form-control-sm", @required = "required", data_live_search = "true" })

                        </div>
                        <div class="form-group col-md-2">
                            <label> <i class="fa fa-globe text-warning"></i> @Html.LabelFor(model => model.Ticketing_System)</label>
                            @{
                                List<SelectListItem> q = new List<SelectListItem>();
                                q.Add(new SelectListItem
                                {
                                    Text = "Online",
                                    Value = "Online",
                                });
                                q.Add(new SelectListItem
                                {
                                    Text = "Call Center",
                                    Value = "Call Center",
                                });
                                q.Add(new SelectListItem
                                {
                                    Text = "LCC -low cost carrier",
                                    Value = "LCC -low cost carrier",
                                });

                            }@Html.DropDownListFor(model => model.Ticketing_System, q, "---Ticket Origin---", new { @class = "form-control form-control-sm", @required = "required", })
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-2" id="Mode">
                            <label><i class="fa fa-cube text-warning"></i> @Html.LabelFor(model => model.Mode) </label>
                            @Html.DropDownList("Mode", ViewBag.payment as SelectList, "-- Payment Mode --", new { @class = "form-control form-control-sm", @id = "ddlFruits", @required = "required", data_live_search = "true" })


                        </div>


                        <div class="form-group col-md-3" id="Payer">
                            <label><i class="fa fa-handshake text-warning"></i> @Html.LabelFor(model => model.Payer)</label>

                            @Html.EditorFor(model => model.Payer, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Placeholder = "Payer Desc",
                               @required = "required"


                           }
                       })
                        </div>
                        <div class="form-group col-md-2">
                            <a class="form-check">
                                <small style="color:midnightblue">
                                    @Html.EditorFor(model => model.Invoice_As_One, new
                               {
                                   htmlAttributes = new
                                   { @class = "coupon_question" }
                               })
                                    <label style="font-family:Quicksand">@Html.LabelFor(model => model.Invoice_As_One)</label>

                                </small>

                            </a>
                        </div>

                        <div class="form-group col-md-3">
                            <a class="form-check">
                                <small style="color:midnightblue">
                                    @Html.EditorFor(model => model.Group_ticket, new
                               {
                                   htmlAttributes = new
                                   { @class = "coupon_question" }
                               })
                                    <label style="font-family:Quicksand">@Html.LabelFor(model => model.Group_ticket)</label>

                                </small>

                            </a>
                            @if (Model.Group_ticket == true)
                            {
                                <div class="input-group nput-group-sm mb-3">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><b><i class="fa fa-users text-primary"></i> </b></div>
                                    </div>

                                    @Html.TextBoxFor(model => model.Group_id, new { @class = "form-control form-control", @placeholder = "Group_id", @autofocus = "centre" })

                                </div>
                            }
                        </div>

                        <div class="form-group col-md-6" style="display: none" id="note2">

                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow spinner-grow-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <small>On Grouped tickets provide a unique Group Name e.g COL 1 , the Id will be concatenated with the selected client <br /> <b style="color:orangered"> [AFRICA BLISS COL 1]</b> </small>


                        </div>


                    </div>

                    <script type="text/javascript">
                        $(function () {
                            $("#Group_ticket").click(function () {
                                if ($(this).is(":checked")) {
                                    $("#x").show(("slide", { direction: "up" }, 300));
                                    $("#note2").show(("slide", { direction: "up" }, 300));


                                } else {
                                    $("#x").hide(("slide", { direction: "left" }, 300));
                                    $("#note2").hide(("slide", { direction: "left" }, 300));
                                    ;
                                }
                            });
                        });

                    </script>

               


                    <p style="font-family:Calibri">
                        <i class="fa fa-comment text-warning"></i>
                        Overal Remarks
                    </p>
                    <div class="form-row">


                        @Html.TextAreaFor(model => model.Remarks, 4, 70, htmlAttributes: new
                   {
                       style = "width: 70%; max-width:70%;",
                       @placeholder = "Overall remarks",
                       @autofocus = ""
                       ,
                       @class = "form-control form-rounded2"

                   })
                        <div class="form-group col-md-2">

                            @Html.EditorFor(model => model.Staff, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm",
                               @Value = User.Identity.Name,
                               @Readonly = true


                           }
                       })
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <td style="text-align:left">

                            <input type="submit" value="Update Ticket" class="btn btn btn-success" style="color:white" onclick="return confirm('Are you sure you want to update this ticket?')" />


                            <script>
                                $(function () {
                                    $('#Create').click(function () {
                                        if (confirm('Are you sure?')) {
                                            window.location.href = $(this).data('url');
                                        }
                                    });
                                });
                            </script>
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                            <input type="reset" value="Reset" class="btn btn-danger" style="color:white" />



                        </td>
                        </tbody>
                    </table>

                }



                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
