


@model Ishop.Models.FileUpload

@{
    ViewBag.Title = "Upload File";
}


<style>
    

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand
    }

    hr {
        border: none;
        color: black;
        background-color: orange;
        height: 1px;
        width: 100%;
    }
</style>
<style>
    .preview-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-right: 10px;
    }
</style>



<div class="col d-flex justify-content-center">
    <div class="col-md-11 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #803209; color: white; border-radius: 14px ">
                <i class="fa fa-images"></i>  Vehicle Images
            </div>
            <div class="card-body" style="background-color: white;border-radius: 24px;">
                <div class="card-body" style="background-color: #ffffffc1;border-radius: 24px;">
                    <div class="card-body" style="border-radius: 24px;">

                        @if (TempData["Msg"] != null)
                        {<div class="row">
                                <div class="alert alert-danger col-md-6 col-md-offset-4" align="center">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @TempData["Msg"]
                                </div>
                            </div>
                        }
                        <script>
                            window.setTimeout(function () {
                                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                    $(this).remove();
                                });
                            }, 2000);
                        </script>


                        @using (Html.BeginForm("Upload", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()




                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                            <div>
                                @foreach (var item2 in ViewBag.CheckIn)
                                {<div class="row" style="display:none">
                                        <div class="form-group col-md-3 ">
                                            <label><i class="fa fa-mobile text-orange"></i> Customer</label>
                                            <input id="Customer" name="Customer" type="text" value="@item2.Customer" class="form-control  form-control  " readonly />

                                        </div>

                                        <div class="form-group col-md-4 ">
                                            <label><i class="fa fa-tags text-orange"></i> Vehicle Registration </label>
                                            <input id="Vehicle_Reg" name="Vehicle_Reg" type="text" value="@item2.Vehicle_Reg" class="form-control  form-control  " readonly />

                                        </div>
                                        <div class="form-group col-md-4 ">
                                            <label><i class="fa fa-car text-orange"></i> Vehicle </label>
                                            <input id="Vehicle" name="Vehicle" type="text" value="@item2.Make @item2.Model @item2.Type" class="form-control  form-control  " readonly />

                                        </div>
                                        <div class="form-group col-md-4 ">
                                            <input id="vehid" name="vehid" type="number" value="@item2.Id" class="form-control  form-control  " readonly />
                                        </div>
                                    </div>
                                }
                            </div>









                            <div class="row">
                                <div id="imagePreviewContainer"></div>

                                <script>
                                    function previewImages() {
                                        var previewContainer = document.getElementById("imagePreviewContainer");
                                        previewContainer.innerHTML = "";

                                        var files = document.getElementById("files").files;

                                        for (var i = 0; i < files.length; i++) {
                                            var file = files[i];
                                            var reader = new FileReader();

                                            reader.onload = function (e) {
                                                var imgElement = document.createElement("img");
                                                imgElement.src = e.target.result;
                                                imgElement.classList.add("preview-image");
                                                previewContainer.appendChild(imgElement);
                                            };

                                            reader.readAsDataURL(file);
                                        }
                                    }
                                </script>



                                <style>
                                    .preview-image {
                                        display: inline-block;
                                        margin-right: 10px;
                                        border: 1px solid #c1570897;
                                        padding: 10px;
                                        border-radius: 20px;
                                    }

                                        .preview-image img {
                                            max-width: 200px;
                                            max-height: 200px;
                                            display: block;
                                            margin-bottom: 10px;
                                        }
                                </style>
                                <script>
                                    function previewImage(input, previewId) {
                                        if (input.files && input.files[0]) {
                                            var reader = new FileReader();

                                            reader.onload = function (e) {
                                                $('#preview-image' + previewId).attr('src', e.target.result);
                                            }

                                            reader.readAsDataURL(input.files[0]);
                                        }
                                    }

                                    $(document).ready(function () {
                                        // Initialize Magnific Popup
                                        $('.imagePreviewContainer').magnificPopup({
                                            type: 'image',
                                            zoom: {
                                                enabled: true
                                            }
                                        });
                                    });
                                </script>
                                <div class="form-group col-md-5">
                                    <label>
                                        <i class="fa fa-file-image text-orange"></i>
                                        Select File
                                    </label>
                                    <div class="form-group col-md-12">
                                        <input type="file" id="files" name="files" class="form-control" onchange="previewImages()" required="required" accept="image/jpeg, image/png">




                                    </div>

                                </div>










                            </div>





                            <label>
                                <i class="fa fa-comment text-orange"></i>
                                Image  Description
                            </label>
                            <div class="form-row">


                                @Html.TextAreaFor(model => model.Description, 4, 70, htmlAttributes: new
                           {
                               style = "width: 70%; max-width:70%;",
                               @placeholder = "Cracked windscreen",
                               @autofocus = ""
                               ,
                               @class = "form-control form-rounded2",
                               @required = "required"

                           })
                            </div>







                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add CheckIn Image" class="btn btn-success" />  ||  <input type="reset" value="Reset " class="btn btn-danger" />
                                </div>
                            </div>






                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
