
@{
    ViewBag.Title = "Upload File";
}

@model Ishop.Models.FileUpload

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>




<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>
<style>
    .preview-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-right: 10px;
    }
</style>
<div class="card-body" style="border-radius: 24px;">
    <div class="col d-flex justify-content-center">
        <div class="col-md-9 col-sm-9 col-12" style="border-radius: 24px;">
            <div class="card mb- mb-xl-0" style="border-radius: 24px;">

                <div class="card-outline card-cyan card-body text-left" style="border-radius: 24px;">


                    @if (TempData["Msg"] != null)
                    {<div class="row">
                            <div class="alert alert-danger col-md-6 col-md-offset-4" align="center">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Msg"]
                            </div>
                        </div>
                    }
                    <script>
                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 2000);
                    </script>
                </div>



                <div class="card-body" style="background-color: #ffffffc1">

                    @using (Html.BeginForm("Upload", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()




                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label>
                                    <i class="fa fa-cloud text-cyan"></i>
                                    Select File
                                </label>
                                <div class="form-group col-md-12">
                                    <input type="file" id="files" name="files" class="form-control" multiple required="required">
                                    <input type="file" name="files" id="imageInput" multiple accept="image/*" onchange="previewImages()" />
                                    <br />
                                    <div id="imagePreviewContainer"></div>
                                    @section scripts {
                                        <script>
                                            function previewImages() {
                                                var previewContainer = document.getElementById("imagePreviewContainer");
                                                previewContainer.innerHTML = "";

                                                var files = document.getElementById("imageInput").files;

                                                for (var i = 0; i < files.length; i++) {
                                                    var file = files[i];
                                                    var reader = new FileReader();

                                                    reader.onload = function (e) {
                                                        var imgElement = document.createElement("img");
                                                        imgElement.src = e.target.result;
                                                        imgElement.classList.add("preview-image");
                                                        previewContainer.appendChild(imgElement);
                                                    };

                                                    reader.readAsDataURL(file);
                                                }
                                            }
                                        </script>
                                    }
                                    <br />
                                </div>

                            </div>





                            <div class="form-group col-md-4">
                                <label><i class="fa fa-folder-open text-cyan"></i>  File Category. </label>
                                @{
                                    List<SelectListItem> v = new List<SelectListItem>();
                                    v.Add(new SelectListItem
                                    {
                                        Text = "Resume/CV",
                                        Value = "Resume/Cv",
                                    });
                                    v.Add(new SelectListItem
                                    {
                                        Text = "Cover letter",
                                        Value = "Cover letter",

                                    });
                                    v.Add(new SelectListItem
                                    {
                                        Text = "Certificate",
                                        Value = "Certificate",

                                    });



                                }@Html.DropDownListFor(model => model.Category, v, "---Select File  Category---", new { @class = "form-control", @required = "required" })
                            </div>


                            <div class="form-group col-md-3" style="display:none">
                                <label class="bwe">
                                    <i class="fa fa-user-lock text-cyan"></i>
                                    Account
                                </label>


                                <input id="Access" name="Access" type="text" value="@User.Identity.Name" class="form-control form-rounded" readonly />

                            </div>


                        </div>


                        <hr />


                        <label>
                            <i class="fa fa-comment text-cyan"></i>
                            File Description / Information
                        </label>
                        <div class="form-row">


                            @Html.TextAreaFor(model => model.Description, 4, 70, htmlAttributes: new
                       {
                           style = "width: 70%; max-width:70%;",
                           @placeholder = "File Description ...information on thes uploaded file",
                           @autofocus = ""
                           ,
                           @class = "form-control form-rounded2",
                           @required = "required"

                       })
                        </div>






                        <br />
                        <small> <i class="fa fa-bell text-warning"></i> Once uploaded the file will be allocated the respective Category based on your preference.</small>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit File " class="btn btn-success" />  ||  <input type="reset" value="Reset " class="btn btn-danger" />
                            </div>
                        </div>






                    }
                </div>
            </div>
        </div>
    </div>
</div>
