@model IShop.Core.Events

@{
    ViewBag.Title = "Details";
}
<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }
    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
    @@media (max-width: 767px) {
    .form-rounded2 {
        width: 50%; /* Adjust the width for mobile devices */
    }
    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid orange;
        }
    table {
        border-collapse: collapse;
        overflow: visible;
    }
</style>
<div class="card " style="background-color: rgb(255, 255, 255, 0.48);">


    <div class="card-header col-md-8 col-sm-10 col-10 col d-flex justify-content-center" style="background-color: #071052; color: white; border-radius: 14px ">
        <h4 class="card-title" style="color:white">
            <i class="fa fa-users"></i>
            Event Attendees
        </h4>





    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>

  
    <div class="card-body">
        <div class="col-lg-7 col-12" style="border-radius: 27px ;outline-color:yellow">
            <!-- small box -->
            <div class="small-box bg-gradient-navy" style="border-radius: 27px ">
                <div class="inner" style="border-radius: 27px ">
                    <h5 style="color: white"><i class="fa fa-umbrella text-white"></i>  @Model.Name  </h5>

                    <medium> <h6><i class="fa fa-calendar text-white"></i> Date : <span class="badge rounded-pill bg-warning"> @Model.Event_date.ToString("dd-MMM-yyyy") </span></h6></medium>
                    <medium> <h6><i class="fa fa-map-marker text-white"></i> Venue : <span class="badge rounded-pill bg-primary"> @Model.Venue </span></h6></medium>
                    <medium> <h6><i class="fa fa-circle-notch text-white"></i> Event Type : <span class="badge rounded-pill bg-secondary"><i class="fa fa-paper-plane text-white"></i>  @Model.Type </span></h6></medium>



                </div>
                <div class="icon">
                    <i class="fa fa-10x fa-umbrella"></i>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-6">
                <div class="description-block border-right" style="border-radius: 14px; background-color: #001F3F;">
                    <h3 style="color: white"><i class="fas fa-paper-plane text-white"></i> @ViewBag.Inviattions</h3>

                    <span style="color:white">Invitations</span>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-2 col-6">
                <div class="description-block border-right" style="border-radius: 14px; background-color: #7d3309;">
                    <h3 style="color: white"><i class="fas fa-check-circle text-white"></i> @ViewBag.Confirmed</h3>

                    <span style="color:white">Confirmed</span>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-2 col-6">
                <div class="description-block border-right" style="border-radius: 14px; background-color: #570c15;">
                    <h3 style="color: white"><i class="fas fa-pause-circle text-white"></i> @ViewBag.Pending</h3>

                    <span style="color:white">Pending</span>
                </div>
                <!-- /.description-block -->
            </div>
        </div>
    </div>
    
        <div class="card-header" style="background-color: #050a42; border-radius: 14px">

            <div style="text-align:right">
                @using (Html.BeginForm("Details", "Events", FormMethod.Get))
                {

                    @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "Phone No" })
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                    <script>
                        $(document).ready(function () {
                            $('#search').on('input', function () {
                                var inputValue = $(this).val();
                                var numericValue = inputValue.replace(/[^0-9]/g, '');
                                $(this).val(numericValue.substring(0, 10));
                            });
                        });
                    </script>
                    <script>
                        $(function () {
                            $('#search').on('input', function () {
                                var idNumber = $(this).val();
                                var errorSpan = $('#idNumberError2');

                                if (idNumber.length < 10) {
                                    errorSpan.show();
                                } else {
                                    errorSpan.hide();
                                }
                            });
                        });
                    </script>
                    <button type="submit" value="search" class="btn btn-sm btn-warning"><i class="fas fa-search"></i></button> <a href="@Url.Action("create", "People", new { id = Model.Id })" class="btn-sm btn btn-primary btn"><i class="fa fa-users text-black"></i> Add Attendees</a>

                }
            </div>
        </div>
               
        <div class="table-responsive" style="min-height: 100px">
            @if (ViewBag.Attendees != null )
            {
                <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">



                    <thead>
                        <tr style="color:white">
                            <th style="background-color: #050a42; "> Name</th>
                            <th style="background-color: #050a42; "> Phone Number</th>
                            <th style="background-color: #050a42; "> Confirmed ?</th>
                            <th style="background-color: #050a42; "> Action</th>

                        </tr>

                    </thead>

                    <tbody style="line-height:30px;">

                        @foreach (var item2 in ViewBag.Attendees)
                        {


                            <tr data-widget="expandable-table" aria-expanded="false">

                                <td style="background-color:white">
                                    <span class="badge badge-warning"><medium><i class="fa fa-user-circle"></i></medium></span>   @item2.Name
                                </td>
                                <td style="background-color:white">
                                    <span class="badge badge-primary"><medium><i class="fa fa-mobile"></i></medium></span>   @item2.Phone
                                </td>
                                <td style="background-color:white">
                                    @if (item2.Confirmed_Attendance)
                                    {
                                        <span class="badge badge-primary"><medium><i class="fa fa-check-circle"></i> YES</medium></span>
                                    }
                                    else
                                    { <span class="badge badge-danger"><medium><i class="fa fa-times-circle"></i> NO</medium></span>}
                                </td>
                                <td style="background-color:white">
                                    <a class="btn-xs btn btn-outline-danger" onclick="if (confirm('Are you sure you want to drop attendee ')) { window.location.href = '@Url.Action("Delete", "Hotel", new { id = item2.Id, })'; }">
                                        <i class="fa fa-times-circle text-black"></i> Drop attendee
                                    </a>
                                    <script>
                                        $(function () {
                                            $('#Deny').click(function () {
                                                if (confirm('Are you sure?')) {
                                                    window.location.href = $(this).data('url');
                                                }
                                            });
                                        });
                                    </script>


                                </td>
                            </tr>

                        }

                    </tbody>

                </table>
            }
            else
            {
                <div style="text-align:center">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-black">
                            
                            <div class="info-box-content">
                                
                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <span class="progress-description">
                                    <i class="fa fa-spin fa-circle-notch text-white nav-icon"></i>   No  Data found
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            }
        </div>
            </div>
</div>