@using PagedList;
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Application>
@{
    ViewBag.Title = "Applications";
}

<style>

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }

    .form-rounded3 {
        border-radius: 0.5rem;
        width: 10%;
        height: 50%;
        border-color: orange;
    }
</style>



<div class="card " style="background-color: rgb(255, 255, 255, 0.38);">


    <div class="card-header col-md-8 col-sm-10 col-10 col d-flex justify-content-center" style="background-color: darkcyan; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-briefcase"></i>
            My Applications
        </h3>
    </div>




    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> @TempData["Msg"]
            </div>
        </div>
    }
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>










    <div class="card-body">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-5 col-12" style="border-radius: 27px ">
                    <!-- small box -->
                    <div class="small-box bg-gradient-gray-dark" style="border-radius: 27px ">
                        <div class="inner" style="border-radius: 27px ">
                            <h5 style="color:white"><span class="badge  rounded-pill  bg-gradient-gray"> @item.Type </span> - @item.Job_Title </h5>
                            <span class="badge  rounded-pill  bg-warning">Qualifications @item.Qualifications </span>
                            <span class="badge rounded-pill bg-primary">Sector : @item.Sector </span>
                            <div class="dropdown-divider"></div>
                            <p>
                                <b><i class="fa fa-wallet text-cyan"></i> Salary :</b> Ksh @if (item.Show_salary == true)
                                {@item.Salary.ToString("#,##0.00")}
                            else
                            { <b style="color:red">Confidential</b>} || <b><i class="fa fa-calendar-check text-cyan"></i>  Deadline</b> :  @item.Application_Deadline.ToString("dd-MMMM-yyyy")
                            </p>
                            

                            <p>
                                <i class="fa fa-calendar-check  text-cyan"></i>  Applied On :   @item.Application_Date.ToString("dd-MMM-yyyy")
                            </p>

                        </div>
                        <div class="icon">
                            <i class="fa fa-10x fa-briefcase"></i>
                        </div>

                        <a  class="btn-sm btn btn-danger btn"
                           onclick="if (confirm('Are you sure you want to cancel this application?')) { window.location.href = '@Url.Action("Cancel_Application", "Applications", new { @item.Id})'; }">
                        <i class="fa fa-trash text-white"></i> Cancel Application</a>
                    </div>
                </div>
            }
        </div>
    </div>




<style>
    .ul.pagination {
        display: inline-block;
        padding: 1;
        margin: 1;
        border-radius: 0.5rem;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color;
            background-color: #ddd;
            border-color: white;
            border-radius: 0.5rem;
        }

            ul.pagination li a.active {
                background-color: dodgerblue;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: dodgerblue;
                border-radius: 0.5rem;
            }
</style>
<div id="container" style="text-align:left">

    <div class="pagination" style="text-align:left">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
      , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
    </div>
</div>



      
<div style="text-align:center">



    @if (Model.Count() == 0)
    {
        <div class="col d-flex justify-content-center">
            <div class="col-md-3 col-sm-6 col-12" style="border-radius: 24px;">
                <div class="info-box" style="border-radius: 14px; background-color: #008b8bc9">


                    <div class="info-box-content">



                        <div class="progress">
                            <div class="progress-bar" style="width: 0%;color:white"></div>
                        </div>
                        <span class="progress-description" style="color:white">
                            <div class="spinner-border spinner-border-sm text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow spinner-grow-sm text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>   No Applications
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    }




</div>
    

