@model IShop.Core.Card

@{
    ViewBag.Title = "Estimate Update";
}

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid orange;
        }

    .form-rounded {
        border-radius: 1rem;
    }

    form-rounded2 {
        border-radius: 4rem;
        border-color: orangered;
    }

    .form-rounded1 {
        border-radius: 1rem;
        border-color: red;
    }

    .form-control:focus {
        border-color: #0faa09;
    }
</style>


<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>



@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
<!-- /.card-header -->


<div class="col d-flex justify-content-center">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #076732; color: white; border-radius: 14px ">
                <i class="fa fa-spinner"></i> Edit Estimate
            </div>
            <div class="card-body" style="background-color: white;border-radius: 24px;">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label><i class="fa fa-calendar-day text-orange"></i> @Html.LabelFor(model => model.CreatedOn)</label>
                            @Html.EditorFor(model => model.CreatedOn, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control ",
                               @placeholder = " Expense Date",
                               @Value = DateTime.Now,
                               @Readonly = true
                           }
                       })
                        </div>

                        <div class="form-group col-md-2 ">
                            <label><i class="fa fa-user-circle text-orange"></i> @Html.LabelFor(model => model.Customer)</label>
                            @Html.EditorFor(model => model.Customer, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-control ",
                           @placeholder = " Expense Date",

                           @Readonly = true
                       }
                   })
                        </div>
                        <div class="form-group col-md-2 ">
                            <label><i class="fa fa-mobile text-orange"></i> @Html.LabelFor(model => model.Phone)</label>
                            @Html.EditorFor(model => model.Phone, new
              {
                  htmlAttributes = new
                  {
                      @class = "form-control form-control ",
                      @placeholder = " Expense Date",

                      @Readonly = true
                  }
              })
                        </div>
                        <div class="form-group col-md-2 ">
                            <label><i class="fa fa-calendar-day text-orange"></i> @Html.LabelFor(model => model.Vehicle_Reg)</label>
                            @Html.EditorFor(model => model.Vehicle_Reg, new
           {
               htmlAttributes = new
               {
                   @class = "form-control form-control ",
                   @placeholder = " Expense Date",

                   @Readonly = true
               }
           })
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 ">
                            <label><i class="fa fa-car text-orange"></i> @Html.LabelFor(model => model.Booking_Id)</label>
                            @Html.EditorFor(model => model.Booking_Id, new
       {
           htmlAttributes = new
           {
               @class = "form-control form-control ",
               @placeholder = " Expense Date",

               @Readonly = true
           }
       })
                        </div>
                        <div class="form-group col-md-4 ">
                            <label><i class="fa fa-car text-orange"></i> @Html.LabelFor(model => model.Vehicle)</label>
                            @Html.EditorFor(model => model.Vehicle, new
       {
           htmlAttributes = new
           {
               @class = "form-control form-control ",
               @placeholder = " Expense Date",

               @Readonly = true
           }
       })
                        </div>

                        <div class="form-group col-md-2 ">
                            <label><i class="fa fa-user-circle text-orange"></i> @Html.LabelFor(model => model.staff)</label>
                            @Html.EditorFor(model => model.staff, new
      {
          htmlAttributes = new
          {
              @class = "form-control form-control ",
              @placeholder = " Expense Date",

              @Readonly = true
          }
      })
                        </div>
                        <div class="form-group col-md-2 " style="display:none">
                            <label><i class="fa fa-car text-orange"></i> @Html.LabelFor(model => model.Estimate)</label>
                           
                                <input id="Estimate" name="Estimate" type="number" value="@ViewBag.Estimate" class="form-control  form-control  " readonly />

                        </div>


                    </div>
                    <div class="dropdown-divider"></div>
                    <div style="text-align:center">
                        <h4>
                            Total Estimate Quote : KSH .@ViewBag.Estimate.ToString("#,##0.00")

                        </h4>

                    </div>
                    <div style="text-align:right">

                        <a href="@Url.Action("Add_Auto", "Autoparts", new { id = Model.Booking_Id,idE=Model.Id })" class="btn-sm btn btn-warning btn"><i class="fa fa-cogs text-black"></i> Add Autoparts</a>

                    </div>
                    <p><i class="fa fa-cog text-orange"></i> Vehcile AutoParts</p>

                    <div class="table-responsive" style="min-height: 100px">
                        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">


                            <thead>
                                <tr style="color:white">
                                    <th style="background-color: #076732; "> Part Name</th>
                                    <th style="background-color: #076732; "> Part Condition</th>
                                    <th style="background-color: #076732; "> VAT</th>
                                    <th style="background-color: #076732; "> Amount</th>
                                    <th style="background-color: #076732; "> Total Amount</th>
                                    <th style="background-color: #076732; "> Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item2 in ViewBag.Auto)
                                {
                                    <div>
                                        @{
                                            decimal difference = item2.Total_Amount - item2.Amount;
                                        }
                                    </div>

                                    <tr data-widget="expandable-table" aria-expanded="false">

                                        <td style="background-color:white">
                                            <i class="fa fa-cogs text-orange"></i> @item2.Part_Name
                                        </td>
                                        <td style="background-color:white"><i class="fa fa-spinner text-orange"></i>  @item2.Condition </td>
                                        <td style="background-color:white">
                                            @if (item2.VAT == true)
                                            {<b>Ksh @difference</b>}
                                        else
                                        {<b>Ksh @difference</b>}
                                        </td>
                                        <td style="background-color:white">Ksh <b>@item2.Amount.ToString("#,##0.00")</b> </td>
                                        <td style="background-color:white">Ksh <b>@item2.Total_Amount.ToString("#,##0.00")</b> </td>
                                        <td style="background-color:ghostwhite">

                                            <a class="btn-xs btn btn-outline-danger" onclick="if (confirm('Are you sure you want to remove the Autopart?')) { window.location.href = '@Url.Action("Remove", "Autoparts", new { id = item2.Id, })'; }">
                                                <i class="fa fa-times-circle text-black"></i> Remove Autopart
                                            </a>
                                            <script>
                                                $(function () {
                                                    $('#Deny').click(function () {
                                                        if (confirm('Are you sure?')) {
                                                            window.location.href = $(this).data('url');
                                                        }
                                                    });
                                                });
                                            </script>


                                        </td>
                                    </tr>

                                }

                            </tbody>

                        </table>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div style="text-align:right">

                        <a href="@Url.Action("Add_E", "Services", new { id = Model.Booking_Id,idE=Model.Id })" class="btn-sm btn btn-warning btn"><i class="fa fa-hands-wash text-black"></i> Add Services</a>

                    </div>
                    <p><i class="fa fa-hands-wash text-orange"></i> Repair Services</p>

                    <div class="table-responsive" style="min-height: 100px">
                        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">


                            <thead>
                                <tr style="color:white">
                                    <th style="background-color: #076732; "> Service Name</th>

                                    <th style="background-color: #076732; "> Amount</th>
                                    <th style="background-color: #076732; "> VAT</th>
                                    <th style="background-color: #076732; "> Total Amount</th>
                                    <th style="background-color: #076732; "> Action</th>


                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item2 in ViewBag.Service)
                                {
                                    <div>
                                        @{
                                            decimal difference = item2.Total_Amount - item2.Amount;
                                        }
                                    </div>
                                    <tr data-widget="expandable-table" aria-expanded="false">

                                        <td style="background-color:white">
                                            <i class="fa fa-hands-wash text-orange"></i> @item2.Service_Name
                                        </td>

                                        <td style="background-color:white">Ksh <b>@item2.Amount.ToString("#,##0.00")</b> </td>
                                        <td style="background-color:white">
                                            @if (item2.VAT == true)
                                            {<b>Ksh @difference</b>}
                                        else
                                        {<b>Ksh @difference</b>}
                                        </td>
                                        <td style="background-color:white">Ksh <b>@item2.Total_Amount.ToString("#,##0.00")</b> </td>
                                        <td style="background-color:ghostwhite">

                                            <a class="btn-xs btn btn-outline-danger" onclick="if (confirm('Are you sure you want to remove this service?')) { window.location.href = '@Url.Action("Remove", "Services", new { id = item2.Id, })'; }">
                                                <i class="fa fa-times-circle text-black"></i> Remove Service
                                            </a>
                                            <script>
                                                $(function () {
                                                    $('#Deny').click(function () {
                                                        if (confirm('Are you sure?')) {
                                                            window.location.href = $(this).data('url');
                                                        }
                                                    });
                                                });
                                            </script>


                                        </td>
                                    </tr>


                                }

                            </tbody>

                        </table>
                    </div>


                    <div class="dropdown-divider"></div>

                    <input type="submit" value="Save & Update Estimate" class="btn btn btn-success" style="color:white" onclick="return confirm('Are you sure you want to update this Estimate?')" />


                    <script>
                        $(function () {
                            $('#Create').click(function () {
                                if (confirm('Are you sure?')) {
                                    window.location.href = $(this).data('url');
                                }
                            });
                        });
                    </script>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })

                }


