
@model IShop.Core.Card
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <title>Estimate</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .curved-table {
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
        }

            .curved-table th,
            .curved-table td {
                padding: 10px;
                border: 1px solid orange;
            }

        .invoice {
            width: 800px;
            margin: 20px auto;
            border: 1px solid #ccc;
            padding: 20px;
        }

        .invoice-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            .invoice-header div {
                font-size: 20px;
                font-weight: bold;
            }

        .invoice-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            .invoice-info div {
                font-weight: bold;
            }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        th {
            background-color: #f5f5f5;
        }

        .invoice-total {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="invoice">
        <div style="text-align:center">
            <img src="~/Images/grs.png" height="80" />
        </div>
        <div class="invoice-total" style="text-align: left; color: #803209">
            AutoCorrect Garage
            <div class="dropdown-divider"></div>
            www.speculate.co.ke || ☎ +254 727 422 197
            <div class="dropdown-divider"></div>
            Kenya, Nairobi ,Industrial Area Near Spec Tower
        </div>

        <div class="invoice-info" style="text-align: right; color: #803209">

            <div>Generated on : @DateTime.Now.ToString("dd-MMMM-yyyy")</div>
        </div>
        <h3 style="text-align: center; color: #803209"><u>ESTIMATE REPORT</u></h3>
        <h4 style="text-align: left; color: #803209">Vehicle Details</h4>
        <hr />
        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">
            @foreach (var item2 in ViewBag.data20)
            {
                <tbody>
                <td style="background-color:white">
                    <b> Client :</b> @item2.Customer
                </td>
                <td style="background-color:white">
                    <b>Phone Number :</b>  @item2.Phone
                </td>
                </tbody>
                <tbody>
                <td style="background-color:white">
                    <b>  Date :</b>  @item2.CreatedOn.ToString("dd-MMMM-yyyy")
                </td>
                <td style="background-color:white">
                    <b> Vehicle Reg :</b>  @item2.Vehicle_Reg
                </td>
                <td style="background-color:white">
                    <b>Vehicle :</b>  @item2.Vehicle
                </td>
                </tbody>
            }
        </table>



        <hr />
        <h5>Autoparts</h5>
        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">
            <thead>
                <tr style="color:white">
                    <th style="background-color: #803209; "> Part Name</th>
                    <th style="background-color: #803209; "> Part Condition</th>

                    <th style="background-color: #803209; "> Amount</th>
                    <th style="background-color: #803209; "> VAT</th>
                    <th style="background-color: #803209; "> Total Amount</th>


                </tr>
            </thead>

            <tbody>
                @foreach (var item2 in ViewBag.Auto)
                {
                    <div>
                        @{
                            decimal difference1 = item2.Total_Amount - item2.Amount;
                        }
                    </div>

                    <tr data-widget="expandable-table" aria-expanded="false">

                        <td style="background-color:white">
                            <i class="fa fa-cogs text-orange"></i> @item2.Part_Name
                        </td>
                        <td style="background-color:white"><i class="fa fa-spinner text-orange"></i>  @item2.Condition </td>

                        <td style="background-color:white">Ksh <b>@item2.Amount.ToString("#,##0.00")</b> </td>
                        <td style="background-color:white">
                            @if (item2.VAT == true)
                            {<b>Ksh @difference1</b>}
                        else
                        {<b>Ksh @difference1.ToString("#,##0.00")</b>}
                        </td>
                        <td style="background-color:white">Ksh <b>@item2.Total_Amount.ToString("#,##0.00")</b> </td>

                    </tr>

                }

            </tbody>

        </table>
        <hr />
        <h5>Services</h5>
        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">

            <thead>
                <tr style="color:white">
                    <th style="background-color: #803209; "> Service Name</th>

                    <th style="background-color: #803209; "> Amount</th>
                    <th style="background-color: #803209; "> VAT</th>
                    <th style="background-color: #803209; "> Total Amount</th>



                </tr>
            </thead>

            <tbody>
                @foreach (var item2 in ViewBag.Service)
                {
                    <div>
                        @{
                            decimal difference = item2.Total_Amount - item2.Amount;
                        }
                    </div>
                    <tr data-widget="expandable-table" aria-expanded="false">

                        <td style="background-color:white">
                            <i class="fa fa-hands-wash text-orange"></i> @item2.Service_Name
                        </td>

                        <td style="background-color:white">Ksh <b>@item2.Amount.ToString("#,##0.00")</b> </td>
                        <td style="background-color:white">
                            @if (item2.VAT == true)
                            {<b>Ksh @difference</b>}
                        else
                        {<b>Ksh @difference.ToString("#,##0.00")</b>}
                        </td>
                        <td style="background-color:white">Ksh <b>@item2.Total_Amount.ToString("#,##0.00")</b> </td>

                    </tr>


                }

            </tbody>
        </table>
        <div class="invoice-total" style="text-align: right ;color: #803209">
            Amount:  @ViewBag.Estimate1.ToString("#,##0.00")
            <div class="dropdown-divider"></div>

            Total Amount:  @foreach (var item5 in @ViewBag.F)
            {@item5.Estimate.ToString("#,##0.00")}
        </div>

        <hr />
        <style>
            .page-break {
                page-break-before: always;
            }
        </style>
        <div class="page-break"></div>

        <style>
            .image-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 20px;
            }

            .image-item {
                width: 350px;
                height: 250px;
            }
        </style>
        <h4> Vehicle Images</h4>
        <div class="image-grid">
            @foreach (var item2 in ViewBag.CheckIn)
            {

                <img src="@item2.Path" class="image-item" />






            }
        </div>
        <hr />

        <div style="text-align:center">
            <small>Thank you for your continued business and support, we value you so much.</small>
        </div>
    </div>
</body>
</html>
