@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Bug>

@{
    ViewBag.Title = "Issues";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<div class="loading" align="center">
    <img src="~/Images/t.gif" height="200" />

</div>
<script type="text/javascript">
    var modal, loading;
    function ShowProgress() {
        modal = document.createElement("DIV");
        modal.className = "modal";
        document.body.appendChild(modal);
        loading = document.getElementsByClassName("loading")[0];
        loading.style.display = "block";
        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
        loading.style.top = top + "px";
        loading.style.left = left + "px";
    };
    ShowProgress();
</script>
<!-- Keep the Page Content Here.-->
<script type="text/javascript">
    window.onload = function () {
        setTimeout(function () {
            document.body.removeChild(modal);
            loading.style.display = "none";
        }, 800); //Delay just used for example and must be set to 0.
    };
</script>

<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
    }

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    .container img {
        float: left;
        max-width: 60px;
        width: 70%;
        margin-right: 20px;
        border-radius: 80%;
    }

        .container img.right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }

    .time-right {
        float: right;
        color: #aaa;
    }

    .time-left {
        float: left;
        color: #999;
    }
</style>

<div class="card " style="background-color: rgba(0,0,0,.5);">


    <div class="card-header" style="background-color:midnightblue">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-info-circle"></i>
            Posted Issues
        </h3>
    </div>
    <br />

    <div style="text-align:left">
        @Html.ActionLink("Post New Issue", "Post_Issue", "Bugs", null, new { @class = "btn btn-success btn" })
    </div>



    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>



    <div>

        <div class="row justify-content-center">



            @foreach (var item in Model)
            {
                <div class="container" style="width: 90%; max-width:90%;">

                    <img src="~/Images/uu.ico" alt="Avatar" />
                    <p>@item.Message</p>
                    @if (item.severity == "low")
                    {
                        <medium style="color:green"><i class="fa fa-hand-point-down"></i> Low</medium>
                    }
                    else
                    {
                        <medium style="color:red"><i class="fa fa-hand-point-up"></i> High</medium>
                    }
                    <span class="time-right"><i class="fa fa-user"></i> @item.Posted_By</span>
                    <br />
                    <span class="time-right"><i class="fa fa-calendar"></i>  Posted On @item.Post_Date.ToString("dd-MMMM-yyyy")</span>
                </div>



               
                    <div class="container darker" style="width: 80%; max-width:80%;">

                        <img src="~/Images/s.ico" alt="Avatar" class="right" />
                        <p>@item.Support_Message</p>
                        <span class="time-left">support reply</span>




                    </div>
                

                    <span style="text-align:left">
                        @if (this.User.IsInRole("Support"))
                        {

                            <a href="@Url.Action("Edit", "Bugs", new { id = item.Id })">
                                <i class="fas fa-reply text-success"></i>  Reply to post
                            </a>
                        }
                    </span>

                }
            </div>
        <div class="small-box bg-gradient-gray-dark">
            <div>
                <h5 style="font-family:Quicksand">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
                , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
                </h5>
            </div>




        </div>


        <hr class='dotted' />

    </div>

