@model IShop.Core.Bug

@{
    ViewBag.Title =  "Post an issue";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }
</style>

<div class="loading" align="center">
    <img src="~/Images/t.gif" height="200" />

</div>
<script type="text/javascript">
    var modal, loading;
    function ShowProgress() {
        modal = document.createElement("DIV");
        modal.className = "modal";
        document.body.appendChild(modal);
        loading = document.getElementsByClassName("loading")[0];
        loading.style.display = "block";
        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
        loading.style.top = top + "px";
        loading.style.left = left + "px";
    };
    ShowProgress();
</script>

<!-- Keep the Page Content Here.-->
<script type="text/javascript">
    window.onload = function () {
        setTimeout(function () {
            document.body.removeChild(modal);
            loading.style.display = "none";
        }, 800); //Delay just used for example and must be set to 0.
    };
</script>

<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>


<div class="card-header" style="background-color:midnightblue">
    <h3 class="card-title" style="color:white">
        <i class="fa fa-spinner"></i>
        Post an Issue
    </h3>
</div>
<!-- /.card-header -->




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="card" style="background-color: rgb(36, 202, 11, 0.15);">
        <div class="card-body" style="background-color: rgb(0, 0, 0, 0.45);">
           
            <div style="color:whitesmoke">
                <i class="fa fa-smile"></i> Hello there @User.Identity.Name ,kindly use this section to post any issue yu may come across while using the system ,from which we
                will ensure we work on solving your issues.
            </div>

            <form>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label style=" color: white">@Html.LabelFor(model => model.Post_Date)</label>
                        @Html.EditorFor(model => model.Post_Date, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-rounded",
                           @Value = DateTime.Now
                           ,
                                @Readonly = true






                       }
                   })


                    </div>


                </div>
                <div class="form-row">

                    <div class="col-md-3 mb-4">
                        <label style=" color: white">@Html.LabelFor(model => model.Posted_By)</label>
                        @Html.EditorFor(model => model.Posted_By, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-rounded",
                           @Value = User.Identity.Name
                           ,
                                @Readonly = true }  })
                    </div>

                    <div class="col-md-3 mb-3">
                        <label style=" color: white">@Html.LabelFor(model => model.severity)</label>
                        @{
                            List<SelectListItem> w = new List<SelectListItem>();


                            w.Add(new SelectListItem
                            {
                                Text = "High",
                                Value = "High",
                            });
                            w.Add(new SelectListItem
                            {
                                Text = "low",
                                Value = "low",
                            });

                        }@Html.DropDownListFor(model => model.severity, w, "severity", new { @class = "form-control form-rounded" })


                    </div>
                </div>


                <div class="form-row">


                    @Html.TextAreaFor(model => model.Message, 5, 70, htmlAttributes: new
               {
                   style = "width: 100%; max-width:100%;",
                   @placeholder = "your reminder message",
                   @autofocus = ""
                   ,
                   @class = "form-control form-rounded"

               })
                    </div>



                    <div style="color:yellow">@Html.ValidationMessageFor(x => x.Message)</div>
                    <div style="color: yellow">@Html.ValidationMessageFor(x => x.severity)</div>



                    <table>
                        <thead>
                            <tr style="color:white">

                                <th><u>Actions</u></th>
                            </tr>
                        </thead>
                        <tbody>
                        <td style="text-align:left">

                            <input type="submit" value="Post Shift" class="btn btn-success" style="color:white" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                            <input type="reset" value="Reset" class="btn btn-danger" style="color:white" />



                        </td>
                        </tbody>
                    </table>


            </form>
        </div>

    </div>










}







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


</div>