@model IShop.Core.Collection

@{
    ViewBag.Title = "Collect";
}
<br />

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();
    });

</script>
<style>
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid #d3d3d3;
        }
</style>
<div class="col d-flex justify-content-center">
    <div class="col-md-9 col-sm-9 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #0656A5; color: white">
                <i class="fa fa-chart-line text-white nav-icon"></i> Leave Balance Monitor
            </div>
            <div class="card-body">

                @if (TempData["Msg"] != null)
                {<div class="row">
                        <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["Msg"]
                        </div>
                    </div>
                }

                <script>
                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 2000);
                </script>

                <div class="row">

                    <div class="col-lg-5 col-12">
                        <!-- small card -->
                        <div class="small-box bg-gradient-gray-dark" style="border-radius: 15px;">
                            <div class="inner">

                                <h5 style="color:white"> <span class="badge badge-warning"><medium> <i class="fa fa-user-circle text"></i>  </medium></span><b> @ViewBag.Emp.Fullname </b> </h5>
                                <h7> <span class="badge badge-warning"><medium> <i class="fa fa-envelope text"></i>  </medium></span>  <i>@ViewBag.Emp.Email</i></h7> <br />
                                <h7> <span class="badge badge-warning"><medium> <i class="fa fa-university text"></i>  </medium></span>  @ViewBag.Emp.DprtName</h7>
                            </div>
                            <div class="icon"> <i class="fa fa-user-circle"></i></div>

                        </div>
                    </div>
                </div>



                <div style="text-align:right">
                    <a href="@Url.Action("Insert_days", "leave_Balance", new { Username = ViewBag.Emp.Username })" class="btn-sm btn btn-warning btn"><i class="fa fa-arrow-circle-up text-black"></i> Fetch New Leaves</a>
                </div>
                <div class="dropdown-divider"></div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-nowrap  table-condensed table-striped table-hover sortable curved-table">


                        <thead style="font-family:Calibri">
                            <tr style="color:white">
                                <th style="background-color: #0656A5; "><i class="fa fa-bookmark"></i>  Leave Type </th>
                                <th style="background-color: #0656A5; "><i class="fa fa-calendar-day"></i>  Requested </th>
                                <th style="background-color: #0656A5; "><i class="fa fa-chart-line"></i>  Balance </th>
                                <th style="background-color: #0656A5; "><i class="fa fa-chart-line"></i>  Total leaves in Yr </th>
                                <th style="background-color: #0656A5; "> Action</th>
                            </tr>
                        </thead>

                        <tbody style="font-family:Calibri">
                            @foreach (var item2 in ViewBag.Account)
                            {
                                <tr data-widget="expandable-table" aria-expanded="false">
                                    <td style="background-color:white"> <i class="fa fa-calendar-check text-primary"></i>  @item2.Type </td>
                                    <td style="background-color:white"> <i class="fa fa-check-circle text-primary"></i>  @item2.Requested_leaves  <small><b>Days</b></small></td>
                                    <td style="background-color:white"> <i class="fa fa-circle-notch text-success"></i>  @item2.Remaining_leaves  <small><b>Days</b></small></td>
                                    <td style="background-color:white"> <i class="fa fa-arrow-alt-circle-up text-warning"></i>  @item2.Total_leaves_per_year  <small><b>Days</b></small></td>
                                    <td style="background-color:ghostwhite">
                                        <div class="btn-group dropdown">
                                            <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-hashtag"></i>  . Action
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                                <div class="dropdown-divider"></div>
                                                <a href="@Url.Action("Edit", "leave_Balance", new { id = item2.Id })" class="dropdown-item">
                                                    <i class="fa fa-pen-nib text-primary"></i> Update/Edit leave Info
                                                </a>

                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" onclick="if (confirm('Are you sure you want to drop this leave ? ')) { window.location.href = '@Url.Action("Delete", "leave_Balance", new { id = item2.Id, })'; }">
                                                    <i class="fa fa-times-circle "></i> Drop leave
                                                </a>
                                                <script>
                                                    $(function () {
                                                        $('#Deny').click(function () {
                                                            if (confirm('Are you sure?')) {
                                                                window.location.href = $(this).data('url');
                                                            }
                                                        });
                                                    });
                                                </script>
                                                </div>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div class="dropdown-divider"></div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
            </div>
        </div>
    </div>
</div>
</div>