
@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.leave>

@{
    ViewBag.Title = "Leave Request";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #0656A5; color: white; ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-bookmark"></i>
            Staff Leave Requests
        </h3>

        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("All", "Leaves", FormMethod.Get))
            {

                <a style="font-family: Calibri"> Staff Name</a>
                @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "Staff Name" })
                <button type="submit" value="search" class="btn btn-sm btn-warning">
                    <i class="fas fa-search"></i>
                </button>

                @Html.ActionLink("Request Leave ", "Create", "Leaves", null, new { @class = "btn btn-sm btn-default btn" })

            }
        </div>



    </div>

    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>







    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap  table-condensed table-striped table-hover sortable curved-table">


            <thead>
                <tr style="color:white">

                    <th style="background-color: #0656A5; font-size: medium; ">Added On </th>
                    <th style="background-color: #0656A5; font-size: medium; ">Staff Member</th>
                    <th style="background-color: #0656A5; font-size: medium; ">Department</th>
                    <th style="background-color: #0656A5; font-size: medium; ">Leave Status</th>
                    <th style="background-color: #0656A5; font-size: medium; ">Days</th>
                    <th style="background-color: #0656A5; font-size: medium;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="background-color: white;">
                            <i class="fa fa-calendar-check text-primary"></i>  @item.CreatedOn.ToString("dd-MMMM-yyyy")
                        <div class="dropdown-divider"></div>
                            <small style="color:orange"> <i class="fa fa-calendar-day text-warning"></i> <b>Start</b> <b>@item.From_Date.ToString("dd-MMM-yyyy")</b></small> <small> <b>To</b></small> 
                            <small style="color:green"> <i class="fa fa-calendar-day text-primary"></i> <b> Ends</b>  <b>@item.To_Date.ToString("dd-MMM-yyyy")</b></small>

                        </td>
                        <td style="background-color: white;">
                            <i class="fa fa-user-circle text-primary"></i> @item.Employee
                            <div class="dropdown-divider"></div>
                            <small>  <a style="color:navy"><i class="fa fa-envelope text-primary"></i>     @item.Emp_Mail</a></small>
                        </td>
                        <td style="background-color: white;">
                            <small><i class="fa fa-university text-primary"></i> @item.Department</small>
                            <div class="dropdown-divider"></div>
                            <small>  <b style="color:navy"><i class="fa fa-user-tag text-primary"></i> Designation :    @item.Designation</b></small>
                        </td>
                      
                        <td style="background-color: white;">
                            @if (item.Status == 66)
                            {<h6 style="color:deepskyblue"> <i class="fa fa-spin fa-circle-notch"></i> <b>InProgress</b></h6>}
                            else if (item.Status == 1)
                            { <h6 style="color:gray">     <i class="fa fa-spin fa-circle-notch text-gray"></i> <b>Submitted - Awating Approvals</b></h6>}
                            else if (item.Status == 2)
                            { <h6 style="color:green"> <i class="fa  fa-check-circle text-success"></i> <b>APPROVED</b></h6>}
                            else if (item.Status == 99)
                            { <h6 style="color:darkred"> <i class="fa  fa-times-circle text-danger"></i> <b>DENIED</b></h6>}

                            <div class="dropdown-divider"></div>

                            @if (item.Total_Hours > 0 && item.Status == 2)
                            {<small> <span class="badge badge-warning"> <i class="fa fa-calesndar-check"></i></span> <b> C/F</b> :  <b>@item.Total_Hours <small><b>Hrs</b></small></b></small> }
                        else if (item.Total_Hours == 0 )
                        { <small><i class="fa fa-check-circle text-success"></i> <b>Fully Utlized</b> </small>}
                        else
                        
                            { <medium> <b>...</b> </medium>}
                        

                        </td>
                        <td style="background-color: white;">
                            <h4><b >@item.Days</b> <small><b  style="font-size:small">Days</b></small>     </h4>
                            <div class="dropdown-divider"></div>
                         <i class="fa fa-bookmark text-primary"></i>   @item.Type
                        </td>


                        <td style="background-color:ghostwhite">

                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-hashtag"></i>  . Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("Details", "Leaves", new { id = item.Id })" class="dropdown-item">
                                        <i class="fa fa-eye text-primary"></i> View leave
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    @if (this.User.IsInRole("leave_Approvals") && item.Status == 1)
                                    {

                                        <a href="@Url.Action("Approve_leave", "Leaves", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-check-circle text-success"></i> Approve Leave
                                        </a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>




        <style>
            .ul.pagination {
                display: inline-block;
                padding: 1;
                margin: 1;
                border-radius: 0.5rem;
            }

            ul.pagination li {
                display: inline;
            }

                ul.pagination li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color;
                    background-color: #ddd;
                    border-color: white;
                    border-radius: 0.5rem;
                }

                    ul.pagination li a.active {
                        background-color: dodgerblue;
                        color: white;
                    }

                    ul.pagination li a:hover:not(.active) {
                        background-color: dodgerblue;
                        border-radius: 0.5rem;
                    }
        </style>
        <div id="container" style="text-align:left">

            <div class="pagination" style="text-align:left">
                @Html.PagedListPager(Model, page => Url.Action("All", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
              , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
            </div>
        </div>
    </div>


</div>

</div>






</div>


