@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.leave>

@{
    ViewBag.Title = "leaves";
}


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.90);">


    <div class="card-header" style="background-color: #001F3F">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-umbrella"></i>
            Requested leaves
        </h3>

        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("Index", "leaves", FormMethod.Get))
            {


                @Html.ActionLink("Request leave ", "Create", "leaves", null, new { @class = "btn btn-sm btn-default btn" })


            }


        </div>
    </div>
    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>



    <div>









        <div class="table-responsive">
            <table class="table table-bordered table-hover  text-nowrap">


                <thead>
                    <tr style="color:white">
                        <th style="background-color: #001F3F; "> Employee Name</th>
                        <th style="background-color: #001F3F; ">Type </th>
                        <th style="background-color: #001F3F; ">Submission Date </th>
                        <th style="background-color: #001F3F; ">Return Date </th>
                        <th style="background-color: #001F3F; ">Requested Leave </th>
                        <th style="background-color: #001F3F; ">Status </th>
                        <th style="background-color: #001F3F; ">Actions </th>



                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-widget="expandable-table" aria-expanded="false">

                            <td style="background-color:white"><i class="fa fa-user-circle text-green"></i> @item.Employee</td>
                            <td style="background-color:white"><i class="fa fa-circle-notch text-green"></i> @item.Type</td>
                            <td style="background-color:white"><small><i class="fa fa-calendar-day text-orange"></i> @item.CreatedOn.ToString("dd-MMMM-yyyy")</small></td>

                            <td style="background-color:white">
                                <small>
                                    <i class="fa fa-calendar text-success"></i>  @item.Return_Date.ToString("dd-MMMM-yyyy")
                                </small>
                            </td>
                            <td style="background-color:white">
                                <small>
                                    <b><i class="fa fa-clock text-success"></i> From</b> @item.From_Date.ToString("dd-MMMM-yyyy") <b><i class="fa fa-clock text-warning"></i> To</b> @item.To_Date.ToString("dd-MMMM-yyyy")
                                    || <i class="fa fa-umbrella text-orange"></i> @item.Requested_Days days
                                </small>
                            </td>
                            <td style="background-color:white">
                                @if (item.Status == "0")
                                {<small style="color:orangered"><i class="fa fa-clock"></i> awating approvals</small>}
                                else if (item.Status == "1")
                                {<small style="color:green"><i class="fa fa-check-circle"></i> Awating 2nd Approvals</small>}
                                else if (item.Status == "2")
                                {<small style="color:green"><i class="fa fa-check-double"></i> leave Approved (1st & 2nd)</small>}
                                else
                                {
                                    <small style="color:red"><i class="fa fa-times-circle"></i> DENIED</small>
                                }

                            </td>


                            <td style="background-color:ghostwhite">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user-circle" s></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                        @if ((item.Status == "0" || item.Status == "1") && this.User.IsInRole("Leaves_Approval"))
                                        {
                                            <a href="@Url.Action("Approve_leave", "leaves", new { id = item.Id })" class="dropdown-item">
                                                <i class="fas fa-pen text-success"></i> Approve/Deny leave
                                            </a>
                                        }

                                        <div class="divider"></div>
                                        <a href="@Url.Action("Index", "leaves_Days", new { Username = item.Employee })" class="dropdown-item">
                                            <i class="fas fa-umbrella text-success"></i> View Leaves Tracker
                                        </a>
                                        <div class="divider"></div>
                                        <a href="@Url.Action("Print_Form", "leaves", new { id = item.Id })" class="dropdown-item">
                                            <i class="fas fa-file-pdf text-success"></i> Print Application
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="if (confirm('Are you sure you want to delete this request?')) { window.location.href = '@Url.Action("Delete", "leaves", new { id = item.Id })'; }">
                                            <i class="fa fa-times-circle text-danger"></i> Delete leave Request
                                        </a>
                                        <script>
                                            $(function () {
                                                $('#Deny').click(function () {
                                                    if (confirm('Are you sure?')) {
                                                        window.location.href = $(this).data('url');
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>

                                </div>






                            </td>











                        </tr>
                        <tr class="expandable-body">

                            <td colspan="5" style="background-color: rgb(255, 255, 255, 0.88);">
                                <medium>
                                    <div class="col d-flex justify-content-left">
                                        <div class="col-md-11 col-sm-11 col-12">
                                            <div class="card mb- mb-xl-0" style="border-radius: 14px;">

                                                <div class="card-outline card-primary card-body text-left" style="border-radius: 14px;">

                                                    <div><b>leave additional info</b></div>
                                                    <div class="divider"></div>

                                                    <div style="font-style:italic">
                                                        @item.Message
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </medium>



                            </td>


                        </tr>

                    }

                </tbody>
            </table>
            @if (Model.Count() == 0)
            {
                <div style="text-align:center">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-black">
                            <span class="info-box-icon"><i class="far fa-bed"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text"> <img src="~/Images/co.gif" height="50" /> </span>


                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <span class="progress-description">
                                    <i class="fa fa-calendar text-white nav-icon"></i>   No leaves requested
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            }

           
            <style>
                .ul.pagination {
                    display: inline-block;
                    padding: 1;
                    margin: 1;
                    border-radius: 0.5rem;
                }

                ul.pagination li {
                    display: inline;
                }

                    ul.pagination li a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color;
                        background-color: #ddd;
                        border-color: white;
                        border-radius: 0.5rem;
                    }

                        ul.pagination li a.active {
                            background-color: dodgerblue;
                            color: white;
                        }

                        ul.pagination li a:hover:not(.active) {
                            background-color: dodgerblue;
                            border-radius: 0.5rem;
                        }
            </style>
            <div id="container" style="text-align:left">

                <div class="pagination" style="text-align:left">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
                  , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
                </div>
            </div>



        </div>

        

