@model IShop.Core.Workplan

@{
    ViewBag.Title = "Workplan";
}


<style>
    .form-rounded2 {
        border-radius: 1rem;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();
    });

</script>
<br />
<div class="col d-flex justify-content-center">
    <div class="col-md-11 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
           
            <div class="card-body" style="background-color: white;border-radius: 24px;">
                <h4 style="color:purple"><i class="fa fa-bookmark"></i> WorkPlan Add</h4>
                <div class="dropdown-divider"></div>
                @using (Html.BeginForm("create", "Workplan", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form>



                <div class="form-row">

                    <div class="form-group col-md-3" id="other" style="display:nosne">
                        <label><i class="fa fa-bookmark text-purple"></i>   @Html.LabelFor(model => model.Track)</label>
                        @{
                            List<SelectListItem> b = new List<SelectListItem>();
                            b.Add(new SelectListItem
                            {
                                Text = "Track 1",
                                Value = "Track 1",
                            });
                            b.Add(new SelectListItem
                            {
                                Text = "Track 2",
                                Value = "Track 2",
                            });
                            b.Add(new SelectListItem
                            {
                                Text = "Track 3",
                                Value = "Track 3",
                            });
                            b.Add(new SelectListItem
                            {
                                Text = "Track 4",
                                Value = "Track 4",
                            });


                        }@Html.DropDownListFor(model => model.Track, b, "---Select Track---", new { @class = "form-control form-control-sm", @required = "required", })
                    </div>

                    <script type="text/javascript">
                        $(function () {

                            $("#Track").chosen();
                            $("#Activities").chosen();

                        });
                    </script>
                    <div class="form-group col-md-4" id="other" style="display:nosne">
                        <label><i class="fa fa-clock text-primary"></i>   @Html.LabelFor(model => model.Activities)</label>
                        @{
                            List<SelectListItem> m = new List<SelectListItem>();
                            m.Add(new SelectListItem
                            {
                                Text = "Activity 1",
                                Value = "Activity 1",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Activity 2",
                                Value = "Activity 2",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Activity 3",
                                Value = "Activity 3",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Activity 4",
                                Value = "Activity 4",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Activity 5",
                                Value = "Activity 5",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Activity 6",
                                Value = "Activity 6",
                            });
                        }@Html.DropDownListFor(model => model.Activities, m, "---Select Activity---", new { @class = "form-control form-control-sm", @required = "required", })
                    </div>

                    <div class="form-group col-md-5" id="other">
                        <label><i class="fa fa-tags text-primary"></i>   @Html.LabelFor(model => model.Goal)</label>
                        @Html.EditorFor(model => model.Goal, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-control-sm",
                           @Placeholder = "Goal",
                           @Required = true
                       }
                   })
                    </div>
                </div>
                <div class="form-group col-md-3" id="other">
                    <label><i class="fa fa-users text-purple"></i>   @Html.LabelFor(model => model.Respondent)</label>
                    @Html.EditorFor(model => model.Respondent, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control form-control-sm",
                       @Placeholder = "Respondent",
                       @Required = true
                   }
               })
                </div>
                <div class="dropdown-divider"></div>
                <label><i class="fa fa-comment-dots text-primary"></i> @Html.LabelFor(model => model.Guide) </label>
                <div class="form-row">

                    @Html.TextAreaFor(model => model.Guide, 4, 70, htmlAttributes: new
               {
                   id = "Comments", // Make sure the ID matches the one in getElementById
                   style = "width: 70%; max-width:70%;",
                   @placeholder = "Additional information",
                   @autofocus = "",
                   @Required = true,
                   @class = "form-control form-rounded2",
                   @data_required_if = "#Project_Name"  // Custom attribute for conditional validation
               })
                    @Html.ValidationMessageFor(model => model.Guide, "", new { @class = "text-danger" })

                    <script>
                        document.getElementById("Guide").addEventListener("paste", function (event) {
                            // Prevent the default paste behavior
                            event.preventDefault();

                            // Get the pasted content as plain text
                            var text = (event.clipboardData || window.clipboardData).getData("text/plain");

                            // Sanitize the pasted content (you may use a library for this)
                            var sanitizedText = sanitizeFunction(text);

                            // Insert the sanitized plain text into the textarea as HTML
                            document.execCommand("insertHTML", false, sanitizedText);
                        });

                        function sanitizeFunction(input) {
                            // Implement your own sanitization logic or use a library
                            // to ensure that the pasted content is safe.
                            // Example: Implement a function to escape HTML entities.
                            return input.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                        }
                    </script>

                </div>
                <div class="dropdown-divider"></div>

                <input type="submit" name="action" value="Submit" class="btn btn btn-success" style="color:white" onclick="return confirm('Are you sure you save this add WorkPlan?')" />


                <script>
                    $(function () {
                        $('#Create').click(function () {
                            if (confirm('Are you sure?')) {
                                window.location.href = $(this).data('url');
                            }
                        });
                    });
                </script>

                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
            </form>
                }
            </div>
            </div>
        </div>
    </div>
</div>
