@model IShop.Core.Exp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expenditures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expenditures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
