
@{
    ViewBag.Title = "System Configurations";
}
<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.84);">



    
    <div class="card-body">

        <h4 style="color:black">
            <i class="fa fa-home"></i>
            Configurations Section
        </h4>

        <div class="dropdown-divider"></div>

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                    
                    <div class="card-body text-left">
                        <h4><i class="fa fa-chart-line"></i>Mail Configs</h4>
                        <div class="form-row">
                            <div class="col-md-7 mb-7">
                                <small><i class="fa fa-envelope text-warning"></i> Sending Mail</small>
                                <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Email"]" ReadOnly=true>
                            </div>
                            <div class="col-md-3 mb-3">
                                <small><i class="fa fa-key text-warning"></i> password</small>
                                <input type="password" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Password"]" ReadOnly=true>
                            </div>
                            <div class="col-md-4 mb-4">
                                <small><i class="fa fa-key text-warning"></i> SSRS Server</small>
                                <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["SSRSReportsUrl"]" ReadOnly=true>
                            </div>
                            <div class="col-md-3 mb-3">
                                <small><i class="fa fa-key text-warning"></i> SMTP</small>
                                <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["SMTP"]" ReadOnly=true>
                            </div>
                            <div class="col-md-5 mb-5">
                                <small><i class="fa fa-cubes text-success"></i> Timesheet Setup Day & Time</small>
                                <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["RunTime"]" ReadOnly=true>

                            </div>
                        </div>
                        <a href="@Url.Action("Index", "Configs")" class="nav-link">
                            View/Update Configs <span class="float-right badge bg-primary"><i class="fa fa-users"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="card mb- mb-xl-0" style="border-radius: 14px;">

                    <div class="card-body text-left">
                        <h4><i class="fa fa-chart-line"></i> Reports Configurations</h4>
                        <div class="dropdown-divider"></div>
                        <h5>
                            <span class="badge badge-warning"><medium><i class="fa fa-chart-line "></i></medium> System Reports Configuration</span>  -
                            <a href="@Url.Action("Index", "ReportGroup")" class="btn btn-xs btn btn-outline-primary">
                                <i class="fa fa-chart-line"></i>  View/Update Configs <span class="float-right badge bg-secondary"></span>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>




       
    </div>
</div>