
@{
    ViewBag.Title = "System Configurations";
}
<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.93);">



    <div class="card-header" style="background-color: #001F3F ">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-home"></i>
            Configurations Section
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-5">
                <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                    <div class="card-header" style="background-color: #001F3F; color: white "><i class="fa fa-location-arrow"></i> Office Cordinates </div>
                    <div class="card-body text-left">
                        <small><i class="fa fa-building text-navy"></i>  Office location</small>
                        <input type="text" id="Email" name="Email" class="form-control" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Office_location"]"ReadOnly=true>
                        <small><i class="fa fa-location-arrow text-navy"></i> latitude</small>
                        <input type="text" id="Email" name="Email" class="form-control" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["latitude"]"ReadOnly=true>
                        <small><i class="fa fa-location-arrow text-navy"></i> longitude</small>
                        <input type="text" id="Email" name="Email" class="form-control" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["longitude"]" ReadOnly=true>
                        <small><i class="fa fa-circle-notch text-navy"></i> Distance Radius</small>
                        <input type="text" id="Email" name="Email" class="form-control" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Distance_Radius"] "ReadOnly=true>
                        <div class="card-footer p-0" style="background-color:whitesmoke">
                        </div>
                    </div>
                   
                    <a href="@Url.Action("Index", "Office")" class="nav-link">
                        View/Update Configs <span class="float-right badge bg-primary"><i class="fa fa-users"></i></span>
                    </a>
                </div>
            </div>

            <div class="col-xl-5">
                <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                    <div class="card-header" style="background-color: #001F3F; color: white "><i class="fa fa-envelope"></i> Mail Configs </div>
                    <div class="card-body text-left">
                        <small><i class="fa fa-envelope text-warning"></i> Sending Mail</small>
                        <input type="text" id="Email" name="Email" class="form-control" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Email"]" ReadOnly=true>
                        <small><i class="fa fa-key text-warning"></i> password</small>
                        <input type="password" id="Email" name="Email" class="form-control" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Password"]" ReadOnly=true>
                        <small><i class="fa fa-key text-warning"></i> SSRS Server</small>
                        <input type="text" id="Email" name="Email" class="form-control" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["SSRSReportsUrl"]" ReadOnly=true>

                        <div class="card-footer p-0" style="background-color:whitesmoke">
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Configs")" class="nav-link">
                        View/Update Configs <span class="float-right badge bg-primary"><i class="fa fa-users"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>