@model IShop.Core.Recovery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recovery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inv_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inv_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inv_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inv_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
