@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Recovery>

@{
    ViewBag.Title = "Recovery list";
}




<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header" style="background-color: #001F3F">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-piggy-bank"></i>
            Recovery listing
        </h3>




        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("Index", "Recoveries", FormMethod.Get))
            {






                <a style="font-family: Calibri"> Invoice Number</a>
                @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "Invoice Number" })
                <button type="submit" value="search" class="btn btn-sm btn-warning">
                    <i class="fas fa-search"></i>
                </button>

                @Html.ActionLink("New Recovery ", "Index", "Tickets", null, new { @class = "btn btn-sm btn-default btn" })


            }


        </div>
    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>









    <div class="table-responsive" style="min-height: 400px">
        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable">



            <thead>
                <tr style="color:white">
                    <th style="background-color: #001F3F; "> Posted On</th>

                    <th style="background-color: #001F3F; ">Invoice No </th>
                    <th style="background-color: #001F3F; ">Invoice Amount </th>
                    <th style="background-color: #001F3F; ">Recovered Amount </th>
                    <th style="background-color: #001F3F; ">Balance Amount </th>
                   


                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-widget="expandable-table" aria-expanded="false">

                        <td style="background-color:white" href="javascript:void(0);" class="anchorDetail" data-id="@item.id">@item.CreatedOn.ToString("dd-MMM-yyyy") - <small><i class="fa fa-user-circle text-primary"></i> @item.Staff</small></td>

                        <td style="background-color:white"><i class="fa fa-angle-left text-warning"></i>  @item.Inv_No  </td>
                        <td style="background-color:white"><i class="fa fa-angle-left text-warning"></i>  @item.Inv_Amount</td>
                        <td style="background-color:white"><i class="fa fa-angle-right- text-warning"></i>  @item.Amount_Recovered</td>
                        <td style="background-color:white"><i class="fa fa-angle-right text-warning"></i>  @item.Balance</td>
                        



                    </tr>
                }
            </tbody>
        </table>






        

        @if (Model.Count() == 0)
        {
            <div style="text-align:center">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-gradient-black">
                        <span class="info-box-icon"><i class="far fa-bed"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"> <img src="~/Images/logo77.png" height="50" /> </span>


                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            <span class="progress-description">
                                <i class="fa fa-calendar text-white nav-icon"></i>   No recovery Found
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
        }












        <style>
            .ul.pagination {
                display: inline-block;
                padding: 1;
                margin: 1;
                border-radius: 0.5rem;
            }

            ul.pagination li {
                display: inline;
            }

                ul.pagination li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color;
                    background-color: #ddd;
                    border-color: white;
                    border-radius: 0.5rem;
                }

                    ul.pagination li a.active {
                        background-color: dodgerblue;
                        color: white;
                    }

                    ul.pagination li a:hover:not(.active) {
                        background-color: dodgerblue;
                        border-radius: 0.5rem;
                    }
        </style>
        <div id="container" style="text-align:left">

            <div class="pagination" style="text-align:left">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
              , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
            </div>
        </div>


    </div>



</div>





