@{Layout = null;}
@model IShop.Core.Confirm

@{
    ViewBag.Title = "Confirm Attendance";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/")
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <!--Render the gauge item. Add these scripts only if your report contains the gauge report item.-->


    <style>
        body {
            background-image: url("/Images/bgg.jpg");
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
</head>

<body style ="background-image: url('../../Images/bgg.jpg');
        background-repeat: no-repeat;
        background-size: cover;">
    <a class="wrapper">

        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Images/llogo.png" height="100">
            <br />
            <h5 style="font-style:italic;color:navy">...loading...</h5>
            <div class="row">
                <div class="spinner-border spinner-border-sm text-orange" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                ...
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                ...
                <div class="spinner-border spinner-border-sm text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>



        <style type="text/css">
            .loading {
                font-size: 10pt;
                width: 200px;
                height: 100px;
                display: none;
                position: fixed;
                z-index: 999;
            }

            .form-rounded {
                border-radius: 1rem;
            }

            form-rounded2 {
                border-radius: 4rem;
                border-color: orangered;
            }

            .form-rounded1 {
                border-radius: 1rem;
                border-color: red;
            }

            .form-control:focus {
                border-color: #0faa09;
            }
        </style>


        <!-- Main content -->

        <style>
            body {
                background-image: url(../../images/33.jpg);
                background-size: cover;
                font-family: Calibri
            }



            .table-hover > tbody > tr:hover {
                background-color: #D2D2D2;
            }

            hr {
                border: none;
                color: black;
                background-color: greenyellow;
                height: 1px;
                width: 100%;
            }
        </style>



        @if (TempData["Msg"] != null)
        {
            <div class="row">
                <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["Msg"]
                </div>
            </div>
        }

        <script>
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        </script>
        <!-- /.card-header -->

        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#datepicker").datepicker();
            });
            $(function () {
                $("#datepicker2").datepicker();
            });
            $(function () {
                $("#datepicker9").datepicker();
            });
        </script>




        <br />
        <div class="col d-flex justify-content-center">
            <div class="col-md-9 col-sm-12 col-12">
                <div class="card mb- mb-xl-0" style="border-radius: 24px;">
                    <div class="card-header" style="background-color: #071052; color: white; border-radius: 14px ">
                        <i class="fa fa-spin fa-spinner"></i> Confirm Attendance
                    </div>
                    <div class="card-body" style="background-color: white;border-radius: 24px;">


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                            <div class="form-row">

                                <div class="col-5 col-md-2">
                                    <label> <i class="fa fa-umbrella text-orange"></i>  Event</label>
                                    <button type="button" class="btn btn-sm btn-warning btn-sm" data-toggle="modal" data-target="#largeShoes">
                                        <i class="fa fa-spin fa-circle-notch text-navy"></i>  View Event
                                    </button>
                                    <!-- The modal -->
                                    <div class="modal fade" id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.84); border-radius: 14px ">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <p class="modal-title" id="modalLabelLarge"> Event Details</p>
                                                </div>
                                                <div class="modal-body" style="overflow-y:scroll;background-color: rgba(255, 0, 255, 0.00);">
                                                    @foreach (var item in ViewBag.Data)
                                                    {
                                                        <div class="col-lg-10 col-12" style="border-radius: 27px ;outline-color:darkblue">
                                                            <!-- small box -->
                                                            <div class="small-box bg-gradient-navy" style="border-radius: 27px ">
                                                                <div class="inner" style="border-radius: 27px ">
                                                                    <h4 style="color: white"><i class="fa fa-umbrella text-white"></i>  @item.Name  </h4>

                                                                    <medium> <h6><i class="fa fa-calendar text-white"></i> Date : <span class="badge rounded-pill bg-warning"> @item.Event_date.ToString("dd-MMM-yyyy") </span></h6></medium>
                                                                    <medium> <h6><i class="fa fa-map-marker text-white"></i> Venue : <span class="badge rounded-pill bg-primary"> @item.Venue </span></h6></medium>
                                                                    <medium> <h6><i class="fa fa-circle-notch text-white"></i> Event Type : <span class="badge rounded-pill bg-navy"><i class="fa fa-paper-plane text-white"></i>  @item.Type </span></h6></medium>

                                                                    <div class="dropdown-divider"></div>


                                                                </div>
                                                                <div class="icon">
                                                                    <i class="fa fa-10x fa-umbrella"></i>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2" style="display:none">
                                    <label> <i class="fa fa-umbrella text-navy"></i>      @Html.LabelFor(model => model.Event_Id)</label>
                                    @Html.EditorFor(model => model.Event_Id, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "example :Jane Doe",
                                       @Value = @ViewBag.Event_Id,
                                            @Readonly = true,
                                   }
                               })
                                </div>
                                <div class="col-7 col-md-4">
                                    <label> <i class="fa fa-user-tag text-orange"></i>      @Html.LabelFor(model => model.Name)</label>
                                    @Html.EditorFor(model => model.Name, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "example :Jane Doe",
                                       @Required = "true",
                                   }
                               })
                                </div>

                                <div class="col-10 col-md-3">
                                    <label> <i class="fa fa-mobile text-orange"></i>      @Html.LabelFor(model => model.Phone)</label>
                                    @Html.EditorFor(model => model.Phone, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "Phone Number",
                                       id = "Phone",
                                       @Required = "true",
                                   }
                               })


                                    <span id="idNumberError" class="text-danger" style="display: none;">
                                        <small><i class="fa fa-times-circle"></i> Phone No should be 10 characters long -(e.g 0727422197).</small>
                                    </span>

                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                    <script>
$(document).ready(function () {
    $("#Phone").keyup(function () {
        var Phone = $(this).val();
        $.ajax({
            url: "@Url.Action("CheckValueExists", "Confirm")",
            data: { Phone: Phone },
            success: function (data) {
                if (data) {
                    $("#errorMessage").show();
                    $("#errorMessage2").hide();
                    $("#myButton").show();

                } else {
                    $("#errorMessage").hide();
                    $("#errorMessage2").show();
                    $("#myButton").hide();
                }
            }
        });
    });
});
                                    </script>
                                    <script>
                                        $(document).ready(function () {
                                            $('#Phone').on('input', function () {
                                                var inputValue = $(this).val();
                                                var numericValue = inputValue.replace(/[^0-9]/g, '');
                                                $(this).val(numericValue.substring(0, 10));
                                            });
                                        });
                                    </script>
                                    <script>
                                        $(function () {
                                            $('#Phone').on('input', function () {
                                                var idNumber = $(this).val();
                                                var errorSpan = $('#idNumberError');

                                                if (idNumber.length < 10) {
                                                    errorSpan.show();
                                                } else {
                                                    errorSpan.hide();
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-11 col-md-3">
                                    <label> <i class="fa fa-envelope text-orange"></i>      @Html.LabelFor(model => model.Email)</label>
                                    @Html.EditorFor(model => model.Email, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "e.g jane@gmail.com",
                                       @Required = "true",
                                   }
                               })
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="form-row">
                                <div class="form-group col-md-3">

                                    <medium class="form-check">
                                        <small style="color:midnightblue">
                                            @Html.EditorFor(model => model.Spouse, new
                                       {
                                           htmlAttributes = new
                                           { @class = "coupon_question", onclick = "Geeeee()" }
                                       })
                                            <label style="font-family:Quicksand">@Html.LabelFor(model => model.Spouse)</label>

                                        </small>

                                    </medium>
                                    <script type="text/javascript">
                                        $(function () {
                                            $("#Spouse").click(function () {
                                                if ($(this).is(":checked")) {

                                                    $("#other").show(("slide", { direction: "left" }, 300));
                                                    $("#xxx").show(("slide", { direction: "left" }, 300));

                                                } else {
                                                    $("#other").hide(("slide", { direction: "left" }, 300));
                                                    $("#xxx").hide(("slide", { direction: "left" }, 300));
                                                    ;
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-8 col-md-3" id="other" style="display:none">
                                    <label> <i class="fa fa-user-circle text-orange"></i>      @Html.LabelFor(model => model.Spouse_Name)</label>
                                    @Html.EditorFor(model => model.Spouse_Name, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "e.g Spouse_Name",
                                   }
                               })
                                </div>
                                <div class="col-10 col-md-3" id="xxx" style="display:none">
                                    <label> <i class="fa fa-mobile text-orange"></i>      @Html.LabelFor(model => model.Spouse_Phone)</label>
                                    @Html.EditorFor(model => model.Spouse_Phone, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "Spouse_Phone",
                                       id = "Spouse_Phone",
                                   }
                               })


                                    <span id="idNumberError2" class="text-danger" style="display: none;">
                                        <small><i class="fa fa-times-circle"></i> Phone No should be 10 characters long -(e.g 0727422197).</small>
                                    </span>

                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                                    <script>
                                        $(document).ready(function () {
                                            $('#Spouse_Phone').on('input', function () {
                                                var inputValue = $(this).val();
                                                var numericValue = inputValue.replace(/[^0-9]/g, '');
                                                $(this).val(numericValue.substring(0, 10));
                                            });
                                        });
                                    </script>
                                    <script>
                                        $(function () {
                                            $('#Spouse_Phone').on('input', function () {
                                                var idNumber = $(this).val();
                                                var errorSpan = $('#idNumberError2');

                                                if (idNumber.length < 10) {
                                                    errorSpan.show();
                                                } else {
                                                    errorSpan.hide();
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                


                                <div class="form-group col-md-3">

                                    <medium class="form-check">
                                        <small style="color:midnightblue">
                                            @Html.EditorFor(model => model.Children, new
                                       {
                                           htmlAttributes = new
                                           { @class = "coupon_question", onclick = "Geeeee()" }
                                       })
                                            <label style="font-family:Quicksand">@Html.LabelFor(model => model.Children)</label>

                                        </small>

                                    </medium>
                                    <script type="text/javascript">
                                        $(function () {
                                            $("#Children").click(function () {
                                                if ($(this).is(":checked")) {

                                                    $("#Children_No").show(("slide", { direction: "left" }, 300));


                                                } else {
                                                    $("#Children_No").hide(("slide", { direction: "left" }, 300));

                                                    ;
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-8 col-md-3" id="Children_No" style="display:none">
                                    <label> <i class="fa fa-child text-orange"></i>      @Html.LabelFor(model => model.Children_No)</label>
                                    @Html.EditorFor(model => model.Children_No, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "e.g Children_No",
                                   }
                               })
                                </div>




                            </div>
                            <div id="errorMessage" style="display:none;color:darkgreen">
                                <medium><i class="fa fa-spin fa-spinner"></i>  Attendee Account Confirmed</medium>
                                <br />
                            </div>

                            <div id="errorMessage2" style="display:none;color:red">
                                <medium><i class="fa fa-spin  fa-times-circle "></i>  Attendee not Invited</medium>
                                <br />
                            </div>
                            <br />

                         



                            <div class="Action" id="myButton">
                                <small>Action</small>
                                <div class="dropdown-divider"></div>
                                <input type="submit" value="Confrim Attendance" class="btn btn btn-success" style="color:white" onclick="return confirm('Proceed?')" />


                                <script>
                                    $(function () {
                                        $('#Create').click(function () {
                                            if (confirm('Are you sure?')) {
                                                window.location.href = $(this).data('url');
                                            }
                                        });
                                    });
                                </script>
                                <small>||</small>
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                            </div>




                        }
                    </div>
                            </div>
            </div>
        </div>



    </a>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/FrontEnd/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/FrontEnd/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/FrontEnd/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/FrontEnd/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/FrontEnd/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/FrontEnd/plugins/moment/moment.min.js"></script>
    <script src="~/FrontEnd/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/FrontEnd/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/FrontEnd/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/FrontEnd/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/FrontEnd/dist/js/pages/dashboard.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    </body>
</html>