@model Ishop.Models.sms_configs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sms_configs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.APIkey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APIkey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APIUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APIUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
