@model IShop.Core.Employee
@{
    ViewBag.Title = "Employee Details";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<div class="loading" align="center">
    <img src="~/Images/Andest.png" height="200" />

</div>
<script type="text/javascript">
    var modal, loading;
    function ShowProgress() {
        modal = document.createElement("DIV");
        modal.className = "modal";
        document.body.appendChild(modal);
        loading = document.getElementsByClassName("loading")[0];
        loading.style.display = "block";
        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
        loading.style.top = top + "px";
        loading.style.left = left + "px";
    };
    ShowProgress();
</script>
<!-- Keep the Page Content Here.-->
<script type="text/javascript">
    window.onload = function () {
        setTimeout(function () {
            document.body.removeChild(modal);
            loading.style.display = "none";
        }, 800); //Delay just used for example and must be set to 0.
    };
</script>

<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand;
    }
</style>



<div class="card" style="background-color: #ffffffd9">

    <div class="col d-flex justify-content-center">
        <div class="col-md-9" style="border-radius: 14px;">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2" style="border-radius: 14px;">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header" style="background-color: #1976D2 ">
                    <div class="widget-user-image">
                        <img src="~/Images/Andest2.png" height="80" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->

                    <h5 class="widget-user-username" style="color:white">Employee Profile : @Model.Username</h5>


                </div>
                <div class="card-body text-left">




                    <a href="#" class="nav-link" style="color:midnightblue">
                        <i class="fa fa-envelope"></i> Email Address <span class="float-right" style="font-size: 90%">
                            <i class="fa fa-user-md"></i>
                            @Model.Email
                        </span>
                    </a>


                    <a href="#" class="nav-link" style="color:midnightblue">
                        <i class="fa fa-map-marker"></i> Address <span class="float-right" style="font-size: 90%">
                            <i class="fa fa-user-md"></i>

                            @Model.Home_Address

                        </span>
                    </a>
                    <a href="#" class="nav-link" style="color: midnightblue">
                        <i class="fa fa-phone"></i>  Phone Number /Contact <span class="float-right" style="font-size: 90%">
                            <i class="fa fa-user-md"></i>
                            @Model.Phone

                        </span>
                    </a>
                    <a href="#" class="nav-link" style="color: midnightblue">
                        <i class="fa fa-user-circle"></i> Contact Person <span class="float-right" style="font-size: 90%">
                            <i class="fa fa-user-md"></i>
                            @Model.Credential

                        </span>
                    </a>

                    <div style="text-align:center"> Registered on :@Model.Last_Update</div>
                    <hr />







                </div>

                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>