@using PagedList
@using PagedList.Mvc;



@{
    ViewBag.Title = "Received Files";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>



<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand;
    }
</style>
<div class="card" style="background-color: #ffffffd9">

    <div class="card-header" style="background-color: #1976D2">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-folder-open nav-icon"></i>
            Employee Files
        </h3>
       
    @if (TempData["Msg"] != null)
        {<div class="row">
                <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success!</strong> @TempData["Msg"]
                </div>
            </div>
        }
        <script>
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        </script>







    </div>

        <div class="table-responsive" style="min-height: 200px">
            <table class="table table-bordered table-hover">
                <thead style="font-family:Calibri">
                    <tr style="color: white">
                        <th style="background-color: #1976D2">Uploaded Date</th>
                        <th style="background-color: #1976D2">File Name</th>
                        <th style="background-color: #1976D2">Category</th>
                        <th style="background-color: #1976D2"> Employee</th>
                        <th style="background-color: #1976D2">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr data-widget="expandable-table" aria-expanded="false">

                        <td style="background-color: white">
                            <i class="fa fa-envelope text-info"></i>  @item.UploadedOn.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @if (@Path.GetExtension(@item.Path) == ".jpg")
                            {
                                <i class="fa fa-images"></i>

                            }
                            else if (@Path.GetExtension(@item.Path) == ".png")
                            {
                                <i class="fa fa-images"></i>

                            }

                            else if (@Path.GetExtension(@item.Path) == ".xlsx")
                            {
                                <i class="fa fa-file-excel"></i>


                            }
                            else if (@Path.GetExtension(@item.Path) == ".docx")
                            {
                                <i class="fa fa-file-word"></i>

                            }

                            else if (@Path.GetExtension(@item.Path) == ".pdf")
                            {
                                <i class="fa fa-file-pdf"></i>

                            }   @item.Name
                        </td>

                        <td>

                            @item.Category





                        </td>
                        <td>
                            @item.Access
                        </td>
                        <td>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i>  . Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <a href="~/Files/DownloadFile?filePath=@item.Path" class="dropdown-item"> <i class="fa fa-save text-primary"></i> Download</a>
                                    <div class="divider"></div>

                                  


                                </div>
                        </td>

                    </tr>
                        <tr class="expandable-body">

                            <td colspan="5" style="background-color: rgb(255, 255, 255, 0.88);">
                                <medium>
                                    <div class="col d-flex justify-content-left">
                                        <div class="col-md-11 col-sm-11 col-12">
                                            <div class="card mb- mb-xl-0" style="border-radius: 14px;">

                                                <div class="card-outline card-primary card-body text-left" style="border-radius: 14px;">

                                                    <div><b>HR Journal Notes</b></div>
                                                    <div class="divider"></div>

                                                    <div style="font-style:italic">
                                                        @item.Description
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </medium>



                            </td>

                        </tr>
                    }




                </tbody>


                    </table>
                </div>


    </div>
</div>






















