@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Employee>


@{
    ViewBag.Title = "Employees_List";
}
<style>


    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: #ffffffc1">

    <div class="card-header" style="background-color: #001F3F">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-users nav-icon"></i>
            Employees
        </h3>

       
        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("Index", "Employes", FormMethod.Get))
            {






                <a style="font-family: Calibri"> Account Name</a>
                @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "Account Name" })
                <button type="submit" value="search" class="btn btn-sm btn-warning">
                    <i class="fas fa-search"></i>
                </button>
               
                @Html.ActionLink("Add Employee ", "New_Employee", "Account", null, new { @class = "btn btn-sm btn-default btn" })
                

            }


        </div>
    </div>
    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>

  
    <div class="table-responsive" style="min-height: 200px">
        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable">

            <thead style="font-family:Calibri">
                <tr style="color: white">
                    <th style="background-color: #001F3F"> <i class="fa fa-sort"></i>Employee</th>
                    <th style="background-color: #001F3F "><i class="fa fa-sort"></i> Mail</th>
                    <th style="background-color: #001F3F"><i class="fa fa-sort"></i> Department</th>
                    <th style="background-color: #001F3F"><i class="fa fa-sort"></i> last Update</th>
                    <th style="background-color: #001F3F">Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="background-color: white">
                            <i class="fa fa-user text-primary"></i> <a href="@Url.Action("Update_Profile", "Employes" , new { id = item.Id})"> @item.Username </a>
                        </td>


                        <td style="background-color: white">
                            <i class="fa fa-envelope text-navy"></i>  @item.Email
                        </td>
                        <td style="background-color: white;color:navy">
                            <i class="fa fa-cubes text-warning"></i>  @item.Department
                        </td>
                        <td style="background-color: white">
                            <small><i class="fa fa-sync text-success"></i>   @item.Last_Update.ToString("dd-MMMM-yyyy")</small>
                        </td>

                        <td style="background-color:ghostwhite">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i>  . Action
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <a href="@Url.Action("Update_Profile", "Employes", new { id = item.Id})" class="dropdown-item">
                                        <i class="fas fa-sticky-note text-success"></i> View/Update Profile
                                    </a>
                                   
                                    <a class="dropdown-item" onclick="if (confirm('Are you sure you want to delete this account?')) { window.location.href = '@Url.Action("Delete_Acc", "Employes", new { id = item.Id})'; }">
                                        <i class="fas fa-trash text-danger"></i> Delete Account
                                    </a>
                                    <script>
                                        $(function () {
                                            $('#Delete_User').click(function () {
                                                if (confirm('Are you sure?')) {
                                                    window.location.href = $(this).data('url');
                                                }
                                            });
                                        });
                                    </script>

                                </div>

                            </div>






                        </td>

                    </tr>

                }



            </tbody>


        </table>


        <style>
            .ul.pagination {
                display: inline-block;
                padding: 1;
                margin: 1;
                border-radius: 0.5rem;
            }

            ul.pagination li {
                display: inline;
            }

                ul.pagination li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color;
                    background-color: #ddd;
                    border-color: white;
                    border-radius: 0.5rem;
                }

                    ul.pagination li a.active {
                        background-color: dodgerblue;
                        color: white;
                    }

                    ul.pagination li a:hover:not(.active) {
                        background-color: dodgerblue;
                        border-radius: 0.5rem;
                    }
        </style>
        <div id="container" style="text-align:left">

            <div class="pagination" style="text-align:left">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
              , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
            </div>
        </div>




    </div>






</div>
<!-- /.card-body -->
</div>
