@model Ishop.Models.Ticketing_service_providers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticketing_service_providers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Service_Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
