
@{
    ViewBag.Title = "Acc_Profile";
}



@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "My Profile";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>



<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand;
    }
</style>



<div class="card" style="background-color: #ffffffd9">
    <br />

    <div class="col d-flex justify-content-center">
        <div class="col-md-9 col-sm-12 col-12">
            <div class="card mb- mb-xl-4" style="border-radius: 24px;">
                <div class="card-header" style="background-color: #076f79d4; color: white; border-radius: 14px ">
                    <i class="bx bxs-user-detail"></i>Account Profile : @User.Identity.Name</h6>


                </div>
                <div class="card-body text-left">
                    @if (TempData["Msg"] != null)
                    {<div class="row">
                            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Msg"]
                            </div>
                        </div>
                    }

                    <script>
                        window.setTimeout(function () {
                            $(".alert").fadeTo(700, 0).slideUp(700, function () {
                                $(this).remove();
                            });
                        }, 2000);
                    </script>

                    <table>

                        <tbody>
                            @foreach (var item in ViewBag.F)
                            {
                                <tr>

                                    <td>
                                        <b><i class="fa fa-barcode text-warning"></i>  Acc Id :</b>  <small> @item.id</small>

                                    </td>

                                </tr>


                                <tr>


                                    <td>
                                        <b><i class="fa fa-envelope text-warning"></i> Email Address: </b>  @item.email
                                    </td>
                                </tr>


                                <tr>


                                    <td>
                                        <b><i class="fa fa-phone text-warning"></i> Phone Number:</b>   @item.PhoneNumber
                                    </td>
                                </tr>


                                <tr>


                                    <td>
                                        <b><i class="fa fa-spinner text-warning"></i> Access:</b>   @item.Role
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @{
                        DateTime targetDate = new DateTime(2024, 04, 5); // replace with the target date
                        DateTime now = DateTime.Now;
                        TimeSpan remainingTime = targetDate - now;
                        int remainingDays = remainingTime.Days;
                    }

                    <p><i class="fa fa-certificate text-warning"></i> License : 1 yr  ( @remainingDays Days left)</p>

                    <hr />
                    <p>Actions</p>
                    <a href="#" class="nav-link" style="color:navy">
                        <i class="fa fa-key"></i>  Change Password
                        <span class="float-right" style="font-size: 90%">


                            @Html.ActionLink("Change Current Password", "ChangePassword", "Manage", null, new { @class = "btn btn-sm  btn-success btn" })||
                            @Html.ActionLink("Update Email & Phone", "AddPhoneNumber", "Manage", null, new { @class = "btn btn-sm  btn-warning btn" })

                        </span>
                    </a>







                </div>
            </div>
        </div>
    </div>
