@model IShop.Core.Access

@{
    ViewBag.Title = "Role Grant";
}

<style>
    image {
        height: 100px;
        width: 100px;
    }
</style>

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>






<div class="row">
    <div class="col-12">

        @if (TempData["msg2"] != null)
        {<div class="row">
                <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["msg2"]
                </div>
            </div>
        }

        <script>
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        </script>


        <div class="card" style="background-color: #ffffffd9">
            <br />
            <div class="col d-flex justify-content-center">
                <div class="col-md-6" style="border-radius: 14px;">
                    <!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2" style="border-radius: 24px;">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header" style="background-color: #001F3F ">
                            <div class="widget-user-image">
                                
                                <img src="~/Images/l.ico" height="80" alt="User Avatar"> />
                            </div>
                            <!-- /.widget-user-image -->
                            <h6 class="widget-user-username" style="color:white"> Approve / Revoke Account Role</h6>


                        </div>
                        <div class="card-body text-left">



                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <form>
                                <div class="form-row">



                                    
                                    <div class="col-md-5 mb-5">
                                        <label><i class="fa fa-user-shield text-warning"></i> System Roles</label>

                                        @Html.DropDownList("Role", new SelectList(ViewBag.Roles2, "Role", "Role"), "--Select System Role--", new { @id = "ddlFruits", @class = "form-control",@required = "required" })
                                        @Html.Hidden("Role", null, new { @id = "hfRole" })

                                        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                        <script type="text/javascript">
                                            $("body").on("change", "#ddlFruits", function () {
                                                $("#hfName").val($(this).find("option:selected").text());
                                            });
                                        </script>
                                    </div>
                               
                                    <div class="col-md-5 mb-5">
                                        <label><i class="fa fa-circle-notch text-warning"></i>  Action</label>
                                        @{
                                            List<SelectListItem> y = new List<SelectListItem>();
                                            y.Add(new SelectListItem
                                            {
                                                Text = "✔ Grant",
                                                Value = "1",
                                            });
                                            y.Add(new SelectListItem
                                            {
                                                Text = "❌Revoke",
                                                Value = "0",
                                            });

                                        }@Html.DropDownListFor(model => model.Status, y, "---Select action--", new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                                

                              

                                <div class="form-group col-md-6">
                                    <input type="submit" value="Approve" class="btn btn-sm btn-primary" style="color: black" />

                                    ||@if (this.User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink("❌ Cancel Request", "All", "Employes", null, new { @class = "btn btn-warning btn-sm" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("❌ Cancel Request", "Index", "Employes", null, new { @class = "btn btn-warning btn-sm" })
                                    }
                                </div>




                            </form>


                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
