@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Access>

@{
    ViewBag.Title = "System Roles";
}
<style>
   

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

 
</style>

<div class="card " style="background-color: rgba(255, 255, 255, 0.40);text-align:center">

    <div class="card-header" style="background-color:maroon">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-shield nav-icon"></i>
            System Roles
        </h3>
    </div>
    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-danger col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
    <div class="table-responsive" style="min-height: 200px">
        <table class="table table-bordered table-hover text-nowrap">
            <thead style="font-family:Calibri">
                <tr style="color:white">
                    <th style="background-color:darkslategray">User</th>
                    <th style="background-color: darkslategray">Role</th>
                    <th style="background-color:darkslategray">Email</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.A10)
                {

                    <tr>
                        <td style="background-color: rgba(255, 255, 255, 0.60)">
                            @item.UserName

                        <td style="background-color: rgba(255, 255, 255, 0.60)">
                            @item.Name
                        </td>
                        <td style="background-color: rgba(255, 255, 255, 0.60)">
                            @item.Email
                        </td>


                    </tr>



                }

            </tbody>


        </table>


        <p>
            <i class="fa fa-shield"></i> @Html.ActionLink("Grant/Revoke User Roles", "Grant_Role", "Accesses", null, new { @class = "btn btn-warning btn-sm" })||
            @Html.ActionLink("System Roles", "Index", "Role", null, new { @class = "btn btn-primary btn-sm" })

        </p>

        <div style="background-color:white">
            <h4>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
            , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
            </h4>
        </div>


    </div>
    <!-- /.card-body -->
</div>
