@model IShop.Core.Job

@{
    ViewBag.Title = "Details";
}

<style>

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }

    .form-rounded3 {
        border-radius: 0.5rem;
        width: 10%;
        height: 50%;
        border-color: orange;
    }
</style>



<div class="card " style="background-color: rgb(255, 255, 255, 0.95);">


    <div class="card-header col-md-8 col-sm-10 col-10 col d-flex justify-content-center" style="background-color: darkcyan; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-clipboard-list"></i>
            Job Details : @Model.Title
        </h3>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="col-md-6 col-xl-9">
            <div class="card bg-whitesmoke text-black mb-3 card-outline card-cyan" style="background-color: white;border-radius: 24px;">

                <div class="card-body">
                    <h5 style="color:black"><span class="badge  rounded-pill  bg-gradient-gray"> @Model.Type </span> - @Model.Title </h5>
                    <span class="badge  rounded-pill  bg-warning">Qualifications  </span> :@Model.Qualifications
                    <span class="badge rounded-pill bg-primary">Sector :  </span> @Model.Sector
                    <div class="dropdown-divider"></div>
                    <div style="text-align:center"><i class="fa fa-book-reader"></i> Job Description</div>
                    <div class="dropdown-divider"></div>
                    <p>
                        @Model.Description
                    </p>

                    <p>

                        <a class="btn-sm btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                            Job Responsibilites
                        </a>
                    </p>

                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            @Model.Responsibilites
                        </div>
                    </div>


                    <p>
                        <b><i class="fa fa-wallet text-cyan"></i> Salary :</b> Ksh @if (Model.Show_salary == true)
                        {@Model.Salary.ToString("#,##0.00")}
                    else
                    { <b style="color:red">Confidential</b>}


                        || <b><i class="fa fa-calendar-check text-cyan"></i>  Deadline</b> :  @Model.Application_Deadline.ToString("dd-MMMM-yyyy")
                    </p>


                    <div class="dropdown-divider"></div>
                    @if (Model.Application_Type == "External")
                    {<p>
                            <a href="@Url.Action("create", "record_payment", new { id = Model.Id })" class="btn-sm btn btn-primary btn"><i class="fa fa-eye text-white"></i> View Job</a>
                            <i class="fa fa-link text-cyan"></i> Apply via <a href="@Model.link_email"> @Model.link_email</a>
                        </p>}
                    else
                    {

                        
                        <a href="@Url.Action("create", "Applications", new { id = Model.Id })" class="btn-sm btn btn-info btn"><i class="fa fa-bookmark text-white"></i> Apply</a>
                    }


                </div>
            </div>
        </div>
    </div>
