@using PagedList;
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Job>
@{
    ViewBag.Title = "Open_Jobs";
}

<style>

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }

    .form-rounded3 {
        border-radius: 0.5rem;
        width: 10%;
        height: 50%;
        border-color: orange;
    }
</style>



<div class="card " style="background-color: rgb(255, 255, 255, 0.38);">


    <div class="card-header col-md-8 col-sm-10 col-10 col d-flex justify-content-center" style="background-color: darkcyan; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-clipboard-list"></i>
            Open Jobs
        </h3>
    </div>



    <div class="card-body" style="background-color: #e2f8f6a6; border-radius: 24px;">



        <div class="row">
            @foreach (var item in Model)
            {<div class="col-md-6 col-xl-5">
                    <div class="card bg-whitesmoke text-black mb-3" style="background-color: white;border-radius: 24px;">

                        <div class="card-body">
                            <h5 style="color:black"><span class="badge  rounded-pill  bg-gradient-gray"> @item.Type </span> - @item.Title </h5>
                            <span class="badge  rounded-pill  bg-warning">Qualifications @item.Qualifications </span>
                            <span class="badge rounded-pill bg-primary">Sector : @item.Sector </span>
                            <div class="dropdown-divider"></div>
                            <p><b><i class="fa fa-wallet text-cyan"></i> Salary :</b> Ksh @if (item.Show_salary == true)
                            {@item.Salary.ToString("#,##0.00")} else { <b style="color:red">Confidential</b>  }
                            
                            
                             || <b><i class="fa fa-calendar-check text-cyan"></i>  Deadline</b> :  @item.Application_Deadline.ToString("dd-MMMM-yyyy")</p>
                            @if (item.Application_Type == "External")
                            { <p>
                            <a href="@Url.Action("Details", "Jobs", new { id = item.Id })" class="btn-sm btn btn-primary btn"><i class="fa fa-eye text-white"></i> View Job</a>
                            <i class="fa fa-link text-cyan"></i> Apply via <a href="@item.link_email"> @item.link_email</a></p>}
                        else
                        {

                            <a href="@Url.Action("Details", "Jobs", new { id = item.Id })" class="btn-sm btn btn-primary btn"><i class="fa fa-eye text-white"></i> View Job</a>
                            <a href="@Url.Action("create", "Applications", new { id = item.Id })" class="btn-sm btn btn-info btn"><i class="fa fa-bookmark text-white"></i> Apply</a>
                        }


                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
