@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Timesheet>

<table class="table table-bordered table-hover text-nowrap table-condensed table-striped table-hover sortable curved-table">
    <thead>
        <tr style="color:white">
            <th style="background-color: #0C54A0; font-size: medium;">Month</th>
            <th style="background-color: #0C54A0; font-size: medium;">Dates</th>
            <th style="background-color: #0C54A0; font-size: medium;">InDirect Hrs</th>
            <th style="background-color: #0C54A0; font-size: medium;">Direct Hrs</th>
            <th style="background-color: #0C54A0; font-size: medium;">Leave Hrs</th>
            <th style="background-color: #0C54A0; font-size: medium;">Total Hours</th>
            <th style="background-color: #0C54A0; font-size: medium;">Status</th>
            <th style="background-color: #0C54A0; font-size: medium;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color: white;"><i class="fa fa-bookmark text-warning"></i> <b style="font-size:medium">@item.CreatedOn.ToString("MMMM")</b></td>
                <td style="background-color: white;"><small style="color:navy"><i class="fa fa-calendar-day text-warning"></i> <b>@item.From_Date.ToString("dd-MMMM-yyyy")</b></small> <medium><b style="font-size:larger">|</b></medium> <small style="color:green"><i class="fa fa-calendar-day text-primary"></i> <b>@item.End_Date.ToString("dd-MMM-yyyy")</b></small></td>
                <td style="background-color: white;"><h4 style="color:navy">@item.InDirect_Hours <b style="font-size: small">Hrs</b></h4></td>
                <td style="background-color: white;"><h4 style="color:green">@item.Direct_Hours <b style="font-size: small">Hrs</b></h4></td>
                <td style="background-color: white;"><h4 style="color:orange">@item.Leave <b style="font-size: small">Hrs</b></h4></td>
                <td style="background-color: white;"><h4>@item.Tt <b style="font-size: small">Hrs</b></h4></td>
                <td style="background-color: white;">
                    @if (item.Locked == false)
                    {
                        <small style="font-size:small;color:forestgreen"><b><i class="fa fa-lock-open text-success"></i> OPEN</b></small>
                    }
                    else
                    {
                        <small style="font-size:medium;color:dimgray"><b><i class="fa fa-lock text-gray"></i> CLOSED</b></small>
                    }
                </td>
                <td style="background-color: white;">
                    <a href="#" class="btn btn-sm btn-warning select-timesheet" data-timesheet-id="@item.Id" data-timesheet-Department="@item.Department">
                        <i class="fa fa-book-reader text-bg-dark"></i> <b>Select</b>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container">
    @Html.PagedListPager((IPagedList)ViewBag.Tiemsheets, page => Url.Action("Re_quest", new { page = page }), PagedListRenderOptions.Classic)
</div>
<style>
    .ul.pagination {
        display: inline-block;
        padding: 1;
        margin: 1;
        border-radius: 0.5rem;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color;
            background-color: #ddd;
            border-color: white;
            border-radius: 0.5rem;
        }

            ul.pagination li a.active {
                background-color: dodgerblue;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: dodgerblue;
                border-radius: 0.5rem;
            }
</style>