@model IShop.Core.Reopen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reopen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Timesheet_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timesheet_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
