@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Reopen>

@{
    ViewBag.Title = "Requests";
}

<style>

    .curved-table {
        border-collapse: collapse;
        border-radius: 50px;
        border: 0px solid grey;
        overflow: visible;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border-radius: 4px;
            border: 0px solid grey;
        }

    .curved-table2 {
        border-collapse: collapse;
        border-radius: 50px;
        border: 1px solid #0C54A0;
        overflow: visible;
    }

        .curved-table2 th,
        .curved-table2 td {
            padding: 10px;
            border-radius: 4px;
            border: 0px solid #0C54A0;
        }
</style>






<div class="card " style="background-color:white; border-radius: 14px ">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #0C54A0; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-bookmark"></i>
            My Requests
        </h3>

        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("Index", "projects", FormMethod.Get))
            {



                @Html.ActionLink("New Request ", "Re_quest", "reopen", null, new { @class = "btn btn-sm btn-default btn" })

            }
        </div>

    </div>

    <div class="card-body">


        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-12">
                    <!-- small card -->
                    <div class="small-box bg-gradient-gray-dark" style="border-radius: 15px">
                        <div class="inner">

                            <h4> <i class="fa fa-unlock"></i><b> Timesheet Re-Open Request</b></h4>
                            <span class="badge badge-warning"> <i class="fa fa-university text-black"></i></span> <a style="color:white"> @item.Department</a> || <span class="badge badge-warning"> <i class="fa fa-user-circle text-black"></i></span> <a style="color:white"> @item.Staff</a>
                            <div class="dropdown-divider"></div>
                            <button type="button" class="btn btn-xs btn-outline-light set-reg-no-btn"
                                    data-toggle="modal" data-target="#exampleModalCenter"
                                    data-object-id2="@item.Id" , data-object-id="@item.Reason">
                                <i class="fa fa-spin fa-circle-notch"></i> View Message
                            </button>
                            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                            <!-- Your script goes here -->
                            <script>
                                $(document).ready(function () {
                                    var objectId; // Variable to store the object ID

                                    // Capture object ID when "Set Reg No" button is clicked
                                    $('.set-reg-no-btn').click(function () {
                                        objectId = $(this).data('object-id');
                                    });

                                    // Triggered when the modal is about to be shown
                                    $('#exampleModalCenter').on('show.bs.modal', function (event) {
                                        // Update the "Account Id" input in the modal with the captured object ID
                                        $('#AccountId').val(objectId);
                                    });

                                    // Triggered when the modal is hidden
                                    $('#exampleModalCenter').on('hidden.bs.modal', function (event) {
                                        // Clear the objectId when the modal is closed
                                        objectId = null;
                                    });
                                });
                            </script>

                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="border-radius: 14px ">
                                    <div class="modal-content" style="border-radius: 14px ">
                                        <div class="modal-header" style="background-color: #0C54A0; color: white; border-radius: 14px ">
                                            <h6 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-bookmark text-primary"></i>   Reasons For Re-openning</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row text-center">
                                                <textarea class="form-control form-control-sm mx-auto" id="AccountId" placeholder="Account No" readonly style="width: 300px; height: 50px;"></textarea>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                $(document).ready(function () {
                                    var objectId; // Variable to store the object ID

                                    // Capture object ID when "Set Reg No" button is clicked
                                    $('.set-reg-no-btn').click(function () {
                                        objectId = $(this).data('object-id');
                                    });

                                    // Triggered when the modal is about to be shown
                                    $('#exampleModalCenter').on('show.bs.modal', function (event) {
                                        // Update the "Account Id" input in the modal with the captured object ID
                                        $('#AccountId').val(objectId);
                                        // Hide the success message when the modal is shown
                                        $('#successMessage').css('display', 'none');
                                    });

                                    // Triggered when the modal is hidden
                                    $('#exampleModalCenter').on('hidden.bs.modal', function (event) {
                                        // Clear the objectId when the modal is closed
                                        objectId = null;
                                    });

                                    // Triggered when "Save changes" button is clicked
                                    $('#SaveChanges').click(function () {
                                        saveChanges();
                                    });

                                    // Function to handle saving changes
                                    function saveChanges() {
                                        // Fetch values from the modal inputs
                                        var accountId = $('#AccountId').val();
                                        var regNo = $('#RegNo').val();

                                        // Make an AJAX request to the controller endpoint
                                        $.ajax({
                                            url: '/invoices/SaveReg',
                                            type: 'POST',
                                            data: { accountId: accountId, regNo: regNo },
                                            success: function (data) {
                                                // Handle success (if needed)
                                                console.log('Changes saved successfully!');
                                                location.reload();

                                            },
                                            error: function (xhr, status, error) {
                                                // Handle error (if needed)
                                                console.error('Error saving changes:', error);
                                            }
                                        });
                                    }
                                });
                            </script>

                            <br /> <br />
                            <div style="text-align:left">
                                <span class="badge badge-warning"> <i class="fa fa-tags text-black"></i></span> <a style="color:white">
                                    -Timesheet Id @item.Timesheet_id
                                </a>
                                |
                                <span class="badge badge-warning"> <i class="fa fa-calendar-day text-black"></i></span> <a style="color:white"> @item.CreatedOn.ToString("dd-MMM-yyyy")</a>

                            </div>


                        </div>
                        <div class="icon"> <i class="fa fa-bookmark"></i></div>
                       

                        
                            @if (item.Status == 0)
                            {   <a href="#" class="small-box-footer" style="background-color: #0C54A0; color: white;border-radius:15px;">
                                <span class="badge badge-warning"> <i class="fa fa-spin fa-circle-notch text-black"></i></span> <b style="color:white"> Awaiting Approvals </b>
                                </a>
                            }
                            else if (item.Status == 1)
                            {    <a href="#" class="small-box-footer" style="background-color: #087227; color: white;border-radius:15px;">
                                 <span class="badge badge-warning"> <i class="fa  fa-check-circle text-black"></i></span> <b style="color:white">  Approved  </b>
                                </a>
                            }
                            else
                            {  <a href="#" class="small-box-footer" style="background-color: #850b0b; color: white;border-radius:15px;">
                                <span class="badge badge-danger"> <i class="fa  fa-times-circle text-black"></i></span> <b style="color:white">  Denied  </b>
                              </a>
                            }


                       
                    </div>
                </div>
            }
        </div>














        @if (Model.Count() == 0)
        {
            <div class="col d-flex justify-content-center">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-gradient-black">
                        <span class="info-box-icon"><i class="fa fa-bookmark"></i></span>

                        <div class="info-box-content">

                            <span class="progress-description">
                                <i class="fa fa-spin fa-circle-notch"></i>  No Data Found
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
        }




    </div>
</div>
