@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Reopen>
@{
    ViewBag.Title = "Requests";
}

<style>

    .curved-table {
        border-collapse: collapse;
        border-radius: 50px;
        border: 1px solid #d8d8d8;
        overflow: visible;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #d8d8d8;
        }

   
</style>


@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 5000);
</script>



<div class="card " style="background-color:white; border-radius: 14px ">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #0C54A0; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-bookmark"></i>
            All Requests
        </h3>



    </div>





    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap  table-condensed table-striped table-hover sortable curved-table">


            <thead>
                <tr style="color:white">
                    <th style="background-color: #0C54A0; font-size: medium; ">Staff</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Department</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Request Date</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Status</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="background-color: white;">
                            <small style="font-size:x-large;color:#06186d"> <b>@item.Id |</b></small><i class="fa fa-user-circle text-warning"></i>  <b>@item.Staff</b>
                            <div class="dropdown-divider"></div>
                            <small> <b> SHEET ID  :</b> <span class="badge badge-secondary"> <i class="fa fa-tags text-black"></i> <b> @item.Timesheet_id</b></span></small>
                        </td>
                        <td style="background-color: white;">
                            <span class="badge badge-secondary">  <i class="fa fa-university text-white"></i> </span> <b> @item.Department</b>
                            <div class="dropdown-divider"></div>
                            <small>  <span class="badge badge-warning"> <i class="fa fa-info-circle text-black"></i> <b></b></span> <b style="color: #0C54A0">RE-OPEN REQUEST</b></small>
                        </td>
                        <td style="background-color: white;">
                            <b> <i class="fa fa-calendar-day text-primary"></i>  @item.CreatedOn.ToString("dd- MMMM -yyyy")</b>
                            <div class="dropdown-divider"></div>
                            @if (item.Status == 0)
                            {
                                <button type="button" class="btn btn-sm btn-primary set-reg-no-btn"
                                        data-toggle="modal" data-target="#exampleModalCenter"
                                        data-object-id2="@item.Staff" , data-object-id="@item.Reason">
                                    <i class="fa  fa-comment-dots"></i> View Message
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-secondary set-reg-no-btn"
                                        data-toggle="modal" data-target="#exampleModalCenter"
                                        data-object-id2="@item.Staff" , data-object-id="@item.Reason">
                                    <i class="fa  fa-comment-dots"></i> View Message
                                </button>
                            }

                            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                            <!-- Your script goes here -->
                            <script>
                                $(document).ready(function () {
                                    var objectId; // Variable to store the object ID
                                    var objectId2;
                                    // Capture object ID when "Set Reg No" button is clicked
                                    $('.set-reg-no-btn').click(function () {
                                        objectId = $(this).data('object-id');
                                        objectId2 = $(this).data('object-id2');
                                    });

                                    // Triggered when the modal is about to be shown
                                    $('#exampleModalCenter').on('show.bs.modal', function (event) {
                                        // Update the "Account Id" input in the modal with the captured object ID
                                        $('#AccountId').val(objectId);
                                        $('#staff').val(objectId2);
                                    });

                                    // Triggered when the modal is hidden
                                    $('#exampleModalCenter').on('hidden.bs.modal', function (event) {
                                        // Clear the objectId when the modal is closed
                                        objectId = null;
                                    });
                                });
                            </script>

                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="border-radius: 14px ">
                                    <div class="modal-content" style="border-radius: 14px ">
                                        <div class="modal-header" style="background-color: #0C54A0; color: white; border-radius: 14px ">
                                            <h6 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-bookmark text-warning"></i>   Reasons For Re-openning</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body ">

                                            <h6 style="color:navy"><i class="fa fa-comment-dots text-primary"></i> <b>Reason</b></h6>
                                            <textarea class="form-control form-control-sm mx-auto" id="AccountId" placeholder="Account No" readonly style="width: 100%; height: 100px;"></textarea>




                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                $(document).ready(function () {
                                    var objectId; // Variable to store the object ID

                                    // Capture object ID when "Set Reg No" button is clicked
                                    $('.set-reg-no-btn').click(function () {
                                        objectId = $(this).data('object-id');
                                    });

                                    // Triggered when the modal is about to be shown
                                    $('#exampleModalCenter').on('show.bs.modal', function (event) {
                                        // Update the "Account Id" input in the modal with the captured object ID
                                        $('#AccountId').val(objectId);
                                        // Hide the success message when the modal is shown
                                        $('#successMessage').css('display', 'none');
                                    });

                                    // Triggered when the modal is hidden
                                    $('#exampleModalCenter').on('hidden.bs.modal', function (event) {
                                        // Clear the objectId when the modal is closed
                                        objectId = null;
                                    });

                                    // Triggered when "Save changes" button is clicked
                                    $('#SaveChanges').click(function () {
                                        saveChanges();
                                    });

                                    // Function to handle saving changes
                                    function saveChanges() {
                                        // Fetch values from the modal inputs
                                        var accountId = $('#AccountId').val();
                                        var regNo = $('#RegNo').val();

                                        // Make an AJAX request to the controller endpoint
                                        $.ajax({
                                            url: '/invoices/SaveReg',
                                            type: 'POST',
                                            data: { accountId: accountId, regNo: regNo },
                                            success: function (data) {
                                                // Handle success (if needed)
                                                console.log('Changes saved successfully!');
                                                location.reload();

                                            },
                                            error: function (xhr, status, error) {
                                                // Handle error (if needed)
                                                console.error('Error saving changes:', error);
                                            }
                                        });
                                    }
                                });
                            </script>
                        </td>
                        <td style="background-color: white;">
                            @if (item.Status == 0)
                            {
                                <span class="badge badge-warning"> <i class="fa fa-spin fa-spinner text-black"></i></span> <b style="color:black">  PENDING  </b>
                            }
                            else if (item.Status == 1)
                            {
                                <span class="badge badge-success"> <i class="fa  fa-check-circle text-black"></i></span> <b style="color: green">  APPROVED  </b>
                            }
                            else
                            {
                                <span class="badge badge-danger"> <i class="fa  fa-check-circle text-black"></i></span> <b style="color: black">  DENIED  </b>
                            }
                        </td>
                        <td style="background-color: white;">
                            @if (item.Status == 0)
                            {
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-hashtag"></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                        <div class="dropdown-divider"></div>

                                        <a class="dropdown-item" onclick="if (confirm('Are you sure you want to approve this request   ')) { window.location.href = '@Url.Action("Re_open", "reopen", new { id = item.Timesheet_id, Requestid = item.Id })'; }">
                                            <i class="fa fa-check-circle text-success"></i>  Approve
                                        </a>
                                        <script>
                                            $(function () {
                                                $('#Deny').click(function () {
                                                    if (confirm('Are you sure?')) {
                                                        window.location.href = $(this).data('url');
                                                    }
                                                });
                                            });
                                        </script>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="if (confirm('Are you sure you want to Revoke this request   ')) { window.location.href = '@Url.Action("Deny", "reopen", new { id = item.Timesheet_id ,Requestid=item.Id})'; }">
                                            <i class="fa fa-times-circle text-danger"></i> Deny
                                        </a>
                                       
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                    <i class="fa fa-hashtag"></i>  . Action
                                </button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
                        
        </div>






