@model IShop.Core.Timesheet

@{
    ViewBag.Title = "Details";
}

<style>
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid whitesmoke;
        }
</style>
<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #0C54A0; color: white; ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-suitcase"></i>
            Timesheet Details
        </h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xl-12">

        <div class="card-body" style="background-color: white;border-radius: 24px;">

            <h3><i class=" fa fa-bookmark text-primary"></i>  Timesheet Details</h3>
            <div class="dropdown-divider"></div>




            <div class="col-lg-6 col-12">
                <!-- small card -->
                <div class="small-box bg-gradient-navy" style="border-radius: 15px">
                    <div class="inner">

                        <h3> <i class="fa fa-user-circle"></i><b> @Model.Owner</b></h3>
                        <h5><i class="fa fa-university"></i>  @Model.Department </h5>
                        <p style="font-size:large"><b><i class=" fa fa-calendar-check text-primary"></i>  From Date : </b> @Model.From_Date.ToString("dd-MMM-yyyy")     <b style="font-size:larger">TO</b>  <b><i class=" fa fa-calendar-check text-warning"></i>  End Date : </b> @Model.End_Date.ToString("dd-MMM-yyyy") </p>
                    </div>
                    <div class="icon"> <i class="fa fa-calendar-day"></i></div>

                </div>
            </div>
            <div class="dropdown-divider"></div>


           


            <div class="row">
                <div class="col-md-3 col-sm-4 col-9">
                    <div class="info-box" style="border-radius: 14px; background-color: #0C54A0 ">
                        <span><i class="fa fa-user-clock text-white"></i></span>

                        <div class="info-box-content" style="color: white">
                            <span class="info-box-text">Total  Hours</span>
                            <h4><span class="info-box-number">@Model.Tt <small><b>Hours</b></small></span></h4>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-3 col-sm-4 col-9">
                    <div class="info-box" style="border-radius: 14px; background-color:#01520d ">
                        <span><i class="fa fa-user-clock text-white"></i></span>

                        <div class="info-box-content" style="color: white">
                            <span class="info-box-text">Direct Hours</span>
                            <h4><span class="info-box-number">@Model.Direct_Hours </span></h4>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-3 col-sm-4 col-9">
                    <div class="info-box" style="border-radius: 14px; background-color:#444343 ">
                        <span><i class="fa fa-user-clock text-white"></i></span>

                        <div class="info-box-content" style="color: white">
                            <span class="info-box-text">InDirect Hours</span>
                            <h4><span class="info-box-number">@Model.InDirect_Hours </span></h4>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
            <div class="dropdown-divider"></div>

            @if (@Model.Status == 0)
            {
                <b style="color: green; font-size: medium">   PENDING  </b>
            }
            else
            {
                <b style="color: orange; font-size: medium "><i class="fa fa-spin fa-circle-notch"></i> APPROVED </b>
            }
            <div class="ui-menu-divider"></div>
            <br />


            <div style="text-align:center">
                <a href="@Url.Action("ApproveTimesheet", "Timesheet", new {Id=Model.Id, user = Model.Owner,From_Date=Model.From_Date,End_Date=Model.End_Date })" class="btn btn btn-primary btn" onclick="return confirm('Are you sure you want to approve staff timesheet?')"><i class="fa fa-check-circle text-black"></i> Approve Week Timesheet</a>

                ||
                <a href="@Url.Action("BreakDown", "Timesheet", new { FromDate=Model.From_Date.ToString("yyyy-MM-dd"),EndDate=Model.End_Date.ToString("yyyy-MM-dd"),User=Model.Owner })" class="btn btn btn-warning btn">
                    <i class="fa fa-check-circle text-black"></i> View Timesheet BreakDown
                </a>

                ||
                <a href="@Request.UrlReferrer" class="btn btn-primary">Back</a>


            </div>

        </div>
    </div>
</div>