@model IShop.Core.TT

@{
    ViewBag.Title = "New Timesheet";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }
    .form-rounded2 {
        border-radius: 1rem;
    }

    .form-rounded1 {
        border-radius: 1rem;
        border-color: red;
    }

    .form-control:focus {
        border-color: #0faa09;
    }
</style>


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>



@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
<!-- /.card-header -->





<br>


<div class="col d-flex justify-content-center">
    <div class="col-md-9" style="border-radius: 24px;">
        <!-- Widget: user widget style 2 -->
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header" style="background-color: #001F3F ">

                <!-- /.widget-user-image -->

                <h5 style="color:white"> <i class="fa fa-calendar"></i> New Timesheet : <small>@DateTime.Now.ToString("dddd dd -MMMM -yyyy")</small> </h5>


            </div>
            <div class="card-body" style="background-color: white">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>@Html.LabelFor(model => model.CreatedOn)</label>
                        @Html.EditorFor(model => model.CreatedOn, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control ",

                           @Value = DateTime.Now,
                           @Readonly = true




                       }
                   })

                    </div>
                    <div class="form-group col-md-3">
                        <label>@Html.LabelFor(model => model.Employee)</label>
                        @Html.EditorFor(model => model.Employee, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control ",
                           @Placeholder = "Client Name",
                           @Value = User.Identity.Name,
                                @Readonly = true
                       }
                   })
                    </div>
                    <div class="form-group col-md-4">
                        <label style="font-family:Quicksand;">@Html.LabelFor(model => model.Project)</label>

                        @Html.DropDownList("Project", ViewBag.Categories as SelectList, "-- Select Project/Client --",
                       new { @class = "form-control form-control", @required = "required" })
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $("#Project").chosen();
                           
                        });
                    </script>
                </div>
                    <p style="font-family:Calibri">
                        <i class="fa fa-books text-navy"></i>
                        Duties Done
                    </p>
                    <div class="form-row">


                        @Html.TextAreaFor(model => model.Description, 5, 100, htmlAttributes: new
                   {
                       style = "width: 100%; max-width:100%;",
                       @placeholder = "Duties Done",
                       @autofocus = ""
                       ,
                       @required = "required",
                       @class = "form-control form-rounded2"

                   })
                    </div>






                    <div style="color:red">@Html.ValidationMessageFor(x => x.Description)</div>
                    <div style="color: red">@Html.ValidationMessageFor(x => x.Project)</div>


                    <hr />

                    <table>
                        <thead>
                            <tr>

                                <th><i>Actions</i></th>
                            </tr>
                        </thead>
                        <tbody>
                        <td style="text-align:left">

                            <input type="submit" value="Post Today''s TimeSheet" class="btn btn btn-success" style="color:white" onclick="return confirm('Are you sure you want to post this TImesheet?')" />


                            <script>
                                $(function () {
                                    $('#Create').click(function () {
                                        if (confirm('Are you sure?')) {
                                            window.location.href = $(this).data('url');
                                        }
                                    });
                                });
                            </script>
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                            <input type="reset" value="Reset" class="btn btn-danger" style="color:white" />



                        </td>
                        </tbody>
                    </table>

                }

                </form>





















                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }



            </div>
        </div>
    </div>
</div>