@model IShop.Core.TT

@{
    ViewBag.Title = "Details";
}

<div class="modal-header " style="text-align: center; background-color: #001F3F" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h7 class="modal-title" style="color:white"><i class="fa fa-id-card text-warning"></i> Timesheet Details</h7>
</div>
<div class="modal-body" style="width: 100%;">
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.CreatedOn) </label>
                @Html.EditorFor(model => model.CreatedOn, new
           {
               htmlAttributes = new
               {
                   @class = "form-control form-control",

                   @Readonly = true

               }
           })

            </div>
            <div class="form-group col-md-3">
                <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.Employee) </label>
                @Html.EditorFor(model => model.Employee, new
           {
               htmlAttributes = new
               {
                   @class = "form-control form-control",

                   @Readonly = true

               }
           })

            </div>
            <div class="form-group col-md-4">
                <label><i class="fa fa-user-circle text-primary"></i> @Html.LabelFor(model => model.Project) </label>
                @Html.EditorFor(model => model.Project, new
           {
               htmlAttributes = new
               {
                   @class = "form-control form-control",

                   @Readonly = true

               }
           })

            </div>

        </div>


        <label><i class="fa fa-user-circle text-primary"></i> @Html.LabelFor(model => model.Description) </label>
        <div class="row">


            @Html.TextAreaFor(model => model.Description, 5, 70, htmlAttributes: new
       {
           style = "width: 100%; max-width:100%;",
           @placeholder = "Provide your response based on the test records",
           @autofocus = ""
           ,
           @class = "form-control form-rounded",
           @ReadOnly = true

       })




        </div>

        <hr /> <div class="table-responsive" style="border-radius: 10px; ">
    <table class="table table-bordered table-hover  text-nowrap " style="border-radius: 10px; ">

        <thead style="border-radius: 10px; ">
            <tr style="color:black">
                <th style="background-color: whitesmoke; "> <small>Date</small></th>

                <th style="background-color: whitesmoke; "><small>User</small> </th>
                <th style="background-color: whitesmoke; "><small>feedback</small> </th>




            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.F)
            {
                <tr data-widget="expandable-table" aria-expanded="false">

                    <td style="background-color:white"><small> @item.CreatedOn</small></td>
                    <td style="background-color:white"> <small><i class="fa fa-user-check"></i> @item.staff</small></td>
                    <td style="background-color:white"> <small><i class="fa fa-spinner"></i> @item.feedback</small></td>

                </tr>
            }
        </tbody>
    </table>




    @if (this.User.IsInRole("DashBoard"))
    {<div class="spinner-grow spinner-grow-sm text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <a href="@Url.Action("Reply", "Timesheet", new { id = Model.Id})">
            <i class="fa fa-comment text-primary"></i> Post feedback
        </a>}

               <div style="text-align:right">
                   <button type="button" class="btn btn-primary" data-bs-dismiss="modal">close</button>
               </div>
</div>
    </div>

