@model IShop.Core.Timesheet

@{
    ViewBag.Title = "Details";
}

<style>
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid whitesmoke;
        }
</style>
<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #0C54A0; color: white; ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-suitcase"></i>
            Timesheet Details
        </h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xl-12">

        <div class="card-body" style="background-color: white;border-radius: 24px;">

            <h3><i class=" fa fa-bookmark text-primary"></i>  Timesheet Details</h3>
           
            <h4 style="text-align:center"><span class="badge badge-warning"> <i class="fa fa-usere"></i></span> @ViewBag.Employee.Fullname <span class="badge badge-success"> <i class="fa fa-usere"></i></span> | @ViewBag.Employee.DprtName </h4>
            <h6 style="text-align:center"><span class="badge badge-warning"> <i class="fa fa-calendar-check"></i></span>    @Model.From_Date.ToString("dd-MMM-yyyy")    <b>TO</b>  <span class="badge badge-dark"> <i class="fa fa-calendar-check"></i></span>  @Model.End_Date.ToString("dd-MMM-yyyy") </h6>
            <div class="row justify-content-center">
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h3 class="description-header">@ViewBag.timesheet.InDirect_Hours</h3>
                        <span class="description-text"><b>Non Project Hours</b></span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h3 class="description-header">@ViewBag.timesheet.Direct_Hours</h3>
                        <span class="description-text"><b>Project Hours</b></span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h3 class="description-header">@ViewBag.timesheet.Leave</h3>
                        <span class="description-text"><b>Leave Hours</b></span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3">
                    <div class="description-block">
                        <h3 class="description-header">@ViewBag.timesheet.Tt</h3>
                        <span class="description-text"><b>Total Hours</b></span>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <div class="dropdown-divider"></div>



            <div>
                @{
                    var groupedDates = ViewBag.GroupedDates as Dictionary<DayOfWeek, List<DateTime>>;
                }

                <h3><i class="fa fa-bookmark"></i> Weekdays</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed table-striped table-hover sortable curved-table">
                        <tr style="background-color: #05213e;color:white; font-size:medium;">
                            @foreach (var weekdayGroup in groupedDates)
                            {
                                <th>@weekdayGroup.Key</th>
                            }
                        </tr>

                        @for (int i = 0; i < groupedDates.Max(g => g.Value.Count); i++)
                        {
                            <tr>
                                @foreach (var weekdayGroup in groupedDates)
                                {
                                    var date = i < weekdayGroup.Value.Count ? weekdayGroup.Value[i] : (DateTime?)null;

                                    // Wrap the <td> content with an <a> tag
                                    <td class="clickable-cell" data-datev="@date?.ToString(" yyyy-MM-dd")">
                                        @if (date.HasValue)
                                        {
                                            <a href="@Url.Action("DataView", "Timesheet", new { selectedDate = date?.ToString("yyyy-MM-dd"),User=Model.Owner,Timesheetdetailid=Model.Id })">
                                                <span><i class="fa fa-calendar-day"></i>  @date.Value.ToString("yyyy-MM-dd")</span>

                                            </a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>






           
            <div class="dropdown-divider"></div>

            @if (@Model.Status == 0)
            {
                <b style="color: green; font-size: medium">   PENDING  </b>
            }
            else
            {
                <b style="color: orange; font-size: medium "><i class="fa fa-spin fa-circle-notch"></i> APPROVED </b>
            }
            <div class="ui-menu-divider"></div>
            <br />


            <div style="text-align:center">




                <a href="@Url.Action("Mine", "Timesheet", null)" class="btn btn-primary">Back To my Timesheets</a>


            </div>

        </div>
        </div>
</div>