@model List<IShop.Core.Direct_Activities>
@{
    ViewBag.Title = "Directtasks";
}
<style>
</style>
<div class="table-responsive">
    <table class="table table-bordered table-hover ">
        <thead style="border-radius: 14px">
            <tr style="color:white">

                <th style="background-color: #0656A5"> <i class="fa fa-calendar-check text-white"></i> Week Day</th>
                <th style="background-color: #0656A5"><i class="fa fa-suitcase text-white"></i>  Project Name</th>


                <th style="background-color: #0656A5"><i class="fa fa-comment text-white"></i> Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="background-color:white;" width="20%">
                        <span class="badge badge-primary"><medium><i class="fa fa-calendar-check text-white"></i> </medium></span>  <b>@item.Day_Date.ToString("dd-ddd-MMM-yyyy")</b>
                        <div class="dropdown-divider"></div>
                        <h2 style="color:green"> <b> @item.Hours <small>Hrs</small></b>  </h2>
                    </td>
                    <td style="background-color:white;" width="30%">
                        <b> @item.Project_Name</b>
                        <div class="dropdown-divider"></div>
                        <span class="badge badge-primary"><medium><i class="fa fa-folder-open text-white"></i> PHASE</medium></span>  @item.Name
                        <div class="dropdown-divider"></div>

                       
                    </td>



                    <td style="background-color: white;" width="50%">
                        <p>@item.Comments</p>

                        <div class="dropdown-divider"></div>
                        @if (@item.Approved == true)
                        {<p style="color:green;text-align:right"><span class="badge badge-primary"><medium><i class="fa fa-user-circle text-white"></i></medium></span>  @item.User  |  <span class="badge badge-dark"><medium><i class="fa fa-calendar text-white"></i> WeekNo</medium></span>  @item.WeekNo  |     <i class="fa fa-check-circle"></i>  <b>APPROVED</b>  </p>}
                    else
                    {<p style="color: orange; text-align: right"> <span class="badge badge-primary"><medium><i class="fa fa-user-circle text-white"></i></medium></span>  @item.User  |   <span class="badge badge-dark"><medium><i class="fa fa-calendar text-white"></i> WeekNo</medium></span>  @item.WeekNo  |  <i class="fa fa-spin fa-circle-notch"></i>  <b>PENDING</b> </p>}
                    </td>

                </tr>



            }
        </tbody>
    </table>
</div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-9">
            <div class="info-box" style="border-radius: 14px; background-color:#080348 ">
                <span><i class="fa fa-user-clock text-white"></i></span>

                <div class="info-box-content" style="color: white">
                    <span class="info-box-text">Total  Hours</span>
                    <h4><span class="info-box-number">@ViewBag.TotalTime <small><b>Hours</b></small></span></h4>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-2 col-sm-4 col-9">
            <div class="info-box" style="border-radius: 14px; background-color:#01520d ">
                <span><i class="fa fa-user-clock text-white"></i></span>

                <div class="info-box-content" style="color: white">
                    <span class="info-box-text">Total  Hours</span>
                    <h4><span class="info-box-number">@ViewBag.TotalCharge.ToString("#,##0.00") </span></h4>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div style="text-align:center">
        <a href="@Url.Action("ApproveTimesheet", "Timesheet", new { id = ViewBag.weeNo,user=ViewBag.user })" class="btn btn btn-primary btn" onclick="return confirm('Are you sure you want to approve staff timesheet?')"><i class="fa fa-check-circle text-black"></i> Approve Week Timesheet</a>
    </div>
