@model List<IShop.Core.Direct_Activities>
@{
    ViewBag.Title = "Directtasks";
}
<style>
</style>

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
           
           
            <th>Project Name</th>
            
            <th>Hours</th>
            <th>Estimate Charge</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-widget="expandable-table" aria-expanded="false">
              
                
                <td style="background-color:white;"width="30%">
                    @item.Project_Name
                    <div class="dropdown-divider"></div>
                    <span class="badge badge-primary"><medium><i class="fa fa-folder-open text-white"></i> PHASE</medium></span>  @item.Name
                </td>
               
                <td style="background-color: white;"width="10%"> <span class="badge badge-primary"><medium><i class="fa fa-clock text-white"></i></medium></span> <b>@item.Hours</b> <small>Hrs</small></td>
                <td style="background-color: white;"width="10%"><span class="badge badge-warning"><medium><i class="fa fa-coins text-white"></i></medium></span> <b>@item.Charge.ToString("#,##0.00") </b> </td>
               
                <td style="background-color: white;" width="50%" >
                    <p>@item.Comments</p>

                    <div class="divider"></div>
                    @if (@item.Approved == true)
                    {    <p style="color:green;text-align:right"><span class="badge badge-primary"><medium><i class="fa fa-user-circle text-white"></i></medium></span>  @item.User  |  <span class="badge badge-dark"><medium><i class="fa fa-calendar text-white"></i>WeekNo</medium></span>  @item.WeekNo  |     <i class="fa fa-check-circle"></i>  <b>APPROVED</b>  </p>}
                    else
                    {<p style="color: orange; text-align: right"> <span class="badge badge-primary"><medium><i class="fa fa-user-circle text-white"></i></medium></span>  @item.User  |<span class="badge badge-dark"><medium><i class="fa fa-calendar text-white"></i>WeekNo</medium></span>  @item.WeekNo  |  <i class="fa fa-spin fa-circle-notch"></i>  <b>PENDING</b> </p>}
                </td>
               
            </tr>



        }
    </tbody>
</table>


<div class="dropdown-divider"></div>
<div style="text-align:center">
    <a href="@Url.Action("Approvals", "Phase", new { id = ViewBag.weeNo,user=ViewBag.user })" class="btn btn btn-primary btn" onclick="return confirm('Are you sure you want to approve staff timesheet?')"><i class="fa fa-check-circle text-black"></i> Approve Week Timesheet</a>
</div>