﻿@model IShop.Core.Timesheet
@{
    ViewBag.Title = "Timesheet ";
}



<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<script src="https://apis.google.com/js/api.js"></script>
<div class="card " style="background-color: rgb(255, 255, 255, 1.00);">



    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>



    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 14px">
                <div class="modal-header" style="background-color: #192530;border-radius: 14px">

                    <h5 class="modal-title" style="color:white;text-align:left">  <i class="fa fa-bookmark text-white"></i>    Timesheet </h5>
                </div>
                <div class="modal-body">

                    <h5 style="text-align:center"><i class="fa fa-spin fa-circle-notch text-primary"></i>  Picked <a id="pDetails7"></a> </h5>
                    <div class=" dropdown-divider"></div>
                    <h5>  <i class="fa fa-bookmark text-primary"></i> Activities  Add </h5>







                    <button id="addPhasesButton" class="btn-xs btn btn-primary ">
                        <i class="fa fa-plus-circle text-black"></i> Add Project Time
                    </button>
                    ||
                    <button id="addPhasesButton2" class="btn-xs btn btn-warning ">
                        <i class="fa fa-plus-circle text-black"></i> Add Non-Project Time
                    </button>



                    <div class=" dropdown-divider"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 14px">
                <div class="modal-header" style="background-color: #aa0505;border-radius: 14px">

                    <h5 class="modal-title" style="color:white;text-align:center">  <i class="fa fa-exclamation-circle text-white"></i>    Timesheet </h5>
                </div>
                <div class="modal-body">

                    <h5 style="text-align:center"><i class="fa fa-exclamation-circle text-danger"></i> Date Error </h5>
                    <div class=" dropdown-divider"></div>
                    <p style="text-align:center"> Sorry you have selected a date that not in the current week ,kindly select a date within the current week.</p>



                    <div class=" dropdown-divider"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="calendar">



        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js"></script>
        @section scripts {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

            <script>
    var initialTimeZone = 'UTC';
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            selectable: true,
            contentHeight: 400,
            timezone: 'Africa/Nairobi',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month'
            },
            firstDay: 1,
            events: [
                {
                    "title": "New Year's Day",
                    "start": "2024-01-01",
                    "color": "GREEN"
                },
                {
                    "title": "Ramadan Start",
                    "start": "2024-03-11",
                    "color": "GREEN"
                },
                {
                    "title": "Good Friday",
                    "start": "2024-03-29",
                    "color": "GREEN"
                },
                {
                    "title": "Easter Sunday",
                    "start": "2024-03-31",
                    "color": "GREEN"
                },
                {
                    "title": "Easter Monday",
                    "start": "2024-04-01",
                    "color": "GREEN"
                },
                {
                    "title": "Idd ul-Fitr",
                    "start": "2024-04-10",
                    "color": "GREEN"
                },
                {
                    "title": "Labour Day/May Day",
                    "start": "2024-05-01",
                    "color": "GREEN"
                },
                {
                    "title": "Mother's Day",
                    "start": "2024-05-12",
                    "color": "GREEN"
                },
                {
                    "title": "Madaraka Day",
                    "start": "2024-06-01",
                    "color": "GREEN"
                },
                {
                    "title": "Eid al-Adha",
                    "start": "2024-06-17",
                    "color": "GREEN"
                },
                {
                    "title": "Huduma Day",
                    "start": "2024-10-10",
                    "color": "GREEN"
                },
                {
                    "title": "Mashujaa Day",
                    "start": "2024-10-20",
                    "color": "GREEN"
                },
                {
                    "title": "Mashujaa Day observed",
                    "start": "2024-10-21",
                    "color": "GREEN"
                },
                {
                    "title": "Diwali",
                    "start": "2024-11-01",
                    "color": "GREEN"
                },
                {
                    "title": "Jamhuri Day",
                    "start": "2024-12-12",
                    "color": "GREEN"
                },
                {
                    "title": "Christmas Eve",
                    "start": "2024-12-24",
                    "color": "GREEN"
                },
                {
                    "title": "Christmas Day",
                    "start": "2024-12-25",
                    "color": "GREEN"
                },
                {
                    "title": "Boxing Day",
                    "start": "2024-12-26",
                    "color": "GREEN"
                },
                {
                    "title": "New Year's Eve",
                    "start": "2024-12-31",
                    "color": "GREEN"
                }
            ],

            dayRender: function (date, cell) {
                var today = moment();
                var startOfWeek = today.clone().startOf('isoWeek'); // ISO week starts on Monday
                var endOfWeek = today.clone().endOf('isoWeek');

                if (date.isBetween(startOfWeek, endOfWeek, null, '[]')) {
                    cell.css('background-color', 'white');
                } else {
                    cell.css('background-color', '#cfcfcf');
                }

                if (date.isSame(today, 'day')) {
                    cell.css('background', 'linear-gradient(to right, #4CAF50, #81C784)');
                    cell.css('border', '0px solid #4CAF50');
                    cell.append('<span class="badge badge-primary"><medium><i class="fa fa-clock"></i> Today </medium></span>');
                }

                cell.css('border-radius', '10px');
            },


            dayClick: function (date, jsEvent, view) {
    var selectedDate = date.format();
    var startOfWeek = moment().startOf('isoWeek').format('YYYY-MM-DD');
    var endOfWeek = moment().endOf('isoWeek').format('YYYY-MM-DD');

    if (moment(selectedDate).isBetween(startOfWeek, endOfWeek, null, '[]')) {
        var formattedDate = moment(selectedDate).format("YYYY-MMMM-DD");
        formattedDetails = "Details: " + formattedDate;
        $('#formattedDateField').val(formattedDate);
        $('#myModal').modal('show');

        // Populate the modal body with information
        $('#pDetails').text(selectedDate);
        $('#pDetails7').text(formattedDate);

        $('#addPhasesButton').on('click', function () {
            var url = "@Url.Action("Add", "Direct_Activities", new { id = "__DATE__" })";
            url = url.replace("__DATE__", selectedDate);

            // Redirect to the updated URL
            window.location.href = url;
        });

        $('#addPhasesButton2').on('click', function () {
            var url = "@Url.Action("Add", "InDirect_Activities", new { id = "__DATE__" })";
            url = url.replace("__DATE__", selectedDate);

            // Redirect to the updated URL
            window.location.href = url;
        });

                            } else {
                                // Alert or handle the case where the date is not within the current week
                                $('#myModal2').modal('show');

                            }
                        },
            viewRender: function (view, element) {
                $('.fc-day-header').css('background-color', '#AAAC26');
                $('.fc-day-header').css('color', 'white');
                $('.fc-day-header').css('border-radius', '7px');
                $('.fc-day-header').css('height', '35px');
                $('.fc-day-header').css('line-height', '35px');
            }


        });

    });
            </script> }


    </div>

    <div class="dropdown-divider"></div>

    <div class="row justify-content-center">
        <div class="col-sm-2 border-right" style="border-left: 6px solid #F0AB15;border-radius:15px">
            <div class="description-block">
                <h3 class="description-header">
                    <i class="fa  fa-clock text-success"></i>
                    @if (ViewBag.Sheet != null)
                    {
                        <span class="info-box-number"><b>@ViewBag.Sheet.InDirect_Hours<small> . <b>Hrs</b></small></b></span>
                    }
                    else
                    {
                        <span class="info-box-number"> . <b>N/A<small> <b>Hrs</b></small></b></span>
                    }

                </h3>
                <span><b>Non Project Hours</b></span>
            </div>
            <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-2 border-right" style="border-left: 6px solid #28A745; border-radius: 15px">
            <div class="description-block">
                <h3 class="description-header">
                    <i class="fa  fa-clock text-warning"></i>
                    @if (ViewBag.Sheet != null)
                    {
                        <span class="info-box-number"><b>@ViewBag.Sheet.Direct_Hours<small> . <b>Hrs</b></small></b></span>
                    }
                    else
                    {
                        <span class="info-box-number"> . <b>N/A <small><b>Hrs</b></small></b></span>
                    }
                </h3>
                <span><b>Project Hours</b></span>
            </div>
            <!-- /.description-block -->
        </div>
        <div class="col-sm-2 border-right" style="border-left: 6px solid #0C54A0; border-radius: 15px ">
            <div class="description-block">
                <h3 class="description-header">
                    <i class="fa  fa-clock text-success"></i>
                    @if (ViewBag.Sheet != null)
                    {
                        <span class="info-box-number"><b>@ViewBag.Sheet.Leave<small> . <b>Hrs</b> </small></b></span>
                    }
                    else
                    {
                        <span class="info-box-number"> . <b>N/A<small><b>Hrs</b></small></b></span>
                    }
                </h3>
                <span><b>Leave Hours</b></span>
            </div>
            <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-2 border-right" style="border-left: 6px solid #aa0505; border-radius: 15px ">
            <div class="description-block">
                <h3 class="description-header">
                    <i class="fa  fa-user-clock text-primary"></i>
                    @if (ViewBag.Sheet != null)
                    {
                        <span class="info-box-number"><b>@ViewBag.Sheet.Tt<small> . <b>Hrs</b> </small></b></span>
                    }
                    else
                    {
                        <span class="info-box-number"> . <b>N/A<small><b>Hrs</b></small></b></span>
                    }
                </h3>
                <span><b>Total Hours</b></span>
            </div>
            <!-- /.description-block -->
        </div>
        <div class="col-sm-3 border-right" style="border-left: 6px solid #bbbbbb; border-radius: 15px ">
            <div class="description-block">
                <h7><i class="fa  fa-question-circle"></i>  Missed Out timesheets ?</h7>
                <a href="#" class="btn btn-sm  btn-primary" data-toggle="modal" data-target="#knowledge">
                    <i class="fa  fa-bookmark"></i>    learn more
                </a>


            </div>
            <!-- /.description-block -->
        </div>
    </div>




    <div class="modal fade" id="knowledge" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border-radius:15px">
                <div class="modal-header" style="border-radius: 15px; background-color: #0C54A0">
                    <h5 class="modal-title" id="exampleModalLongTitle"><span class="badge badge-warning"> <i class="fa fa-clipboard-list text-black"></i></span>   Past Timesheets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color:black">

                    <div class="dropdown-divider"></div>
                    <p>Have you missed any crucial timesheet information or need to rectify past entries? </p>
                    <small>   If so, please submit a request to your Head of Department (HOD). Your HOD possesses the authority to reopen past timesheets, granting you the opportunity to make necessary amendments or log any missed clock-ins.</small>

                    <small>
                        Utilize the 'Timesheet Re-open' tab to submit your request through the system. <br />
                        Thank you for your cooperation.
                    </small>
                    <img src="~/Images/sad.gif" height="100px" />
                    <br />

                    @Html.ActionLink("Request Re-Open ", "Re_quest", "reopen", null, new { @class = "btn btn-sm btn-primary btn " })

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>







    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap  table-condensed table-striped table-hover sortable curved-table">
            <thead>
                <tr style="color: white;">
                    @foreach (var item in ViewBag.Results)
                    {
                        <th style="background-color: #757575; font-size: medium; text-align: left ">
                            <b style="font-size:large;color:orange"><span class="badge badge-primary"> <b>@item.WeekdayName </b> </span> </b>
                            <b style="font-size:large;color:orange"><span class="badge badge-light"> @item.Total_Hours  <small><b>Hrs</b></small> </span> </b>
                        </th>

                    }

                </tr>
            </thead>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered custom-modal-width" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"> <i class="fa fa-bookmark text-primary"></i> Day Activities View </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="modalContent"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered custom-modal-width" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"> <i class="fa fa-bookmark text-primary"></i> Day Activities View </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="modalContent"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                /* Custom class for wider modal */
                .custom-modal-width {
                    max-width: 90%; /* Adjust the percentage as needed */
                }
            </style>
            <thead>
                <tr style="color: white;">
                    @foreach (var item in ViewBag.Results)
                    {
                        <th style="background-color: #192530; font-size: medium; text-align: left ">


                            <button class="btn btn-sm btn-lg btn-light openModalTrigger"
                                    data-datev="@item.DateValue"
                                    data-url="@Url.Action("Directtasksview", "direct_Activities")"
                                    data-target="#exampleModalCenter">
                                <small><b><i class="fa fa-clock text-navy"></i> Project Hrs    </b></small>
                            </button>



                            <script>
                                $(document).ready(function () {
                                    // Click event for the modal trigger button
                                    $(document).on("click", ".openModalTrigger", function (e) {
                                        e.preventDefault(); // Prevent the default link behavior

                                        // Extract data attributes and check for existence
                                        var Weekday = $(this).data("datev");

                                        var modalId = $(this).data("target");
                                        var url = $(this).data("url");

                                        var missingAttributes = [];
                                        if (!Weekday) missingAttributes.push("data-datev");

                                        if (!modalId) missingAttributes.push("data-target");
                                        if (!url) missingAttributes.push("data-url");

                                        if (missingAttributes.length > 0) {
                                            var errorMessage = "One or more data attributes missing: " + missingAttributes.join(", ");
                                            console.error(errorMessage);

                                            return;
                                        }

                                        // Make an AJAX request to your controller action
                                        $.ajax({
                                            url: url,
                                            type: "GET",
                                            data: { Weekday: Weekday },
                                            success: function (result) {
                                                console.log("Ajax request successful");
                                                if (result.trim() === "") {
                                                    // If no data, display a custom message in the modal
                                                    $(modalId + " .modal-content #modalContent").html("<p>No data found.</p>");
                                                } else {
                                                    // If there is data, update modal content
                                                    $(modalId + " .modal-content #modalContent").html(result);
                                                }
                                                $(modalId).modal("show"); // Open the modal
                                            },
                                            error: function () {
                                                console.log("Error in Ajax request");
                                                // Display a custom message in the modal on error
                                                $(modalId + " .modal-content #modalContent").html("<p>Error occurred while fetching data.</p>");
                                                // Open the modal
                                                $(modalId).modal("show");
                                            }
                                        });
                                    });

                                    // Close the modal when the close button is clicked
                                    $(".close").on("click", function () {
                                        $(".modal").modal("hide");
                                    });

                                    // Close the modal when the modal background is clicked
                                    $(document).on("click", function (e) {
                                        if ($(e.target).hasClass("modal")) {
                                            $(".modal").modal("hide");
                                        }
                                    });
                                });
                            </script>

                            <b>@item.Direct_Hours Hrs </b>


                        </th>






                    }

                </tr>
            </thead>
            <thead>
                <tr style="color: white;">
                    @foreach (var item in ViewBag.Results)
                    {
                        <th style="background-color: #53085B; font-size: medium; text-align: left">

                            <button class="btn btn-sm btn-lg btn-warning openModalTrigger2"
                                    data-datev="@item.DateValue"
                                    data-url="@Url.Action("InDirecttasksview", "indirect_Activities")"
                                    data-target="#exampleModalCenter">
                                <small><b><i class="fa fa-clock text-navy"></i> Non-Project Hrs    </b></small>
                            </button>



                            <script>
                                $(document).ready(function () {
                                    // Click event for the modal trigger button
                                    $(document).on("click", ".openModalTrigger2", function (e) {
                                        e.preventDefault(); // Prevent the default link behavior

                                        // Extract data attributes and check for existence
                                        var Weekday = $(this).data("datev");

                                        var modalId = $(this).data("target");
                                        var url = $(this).data("url");

                                        var missingAttributes = [];
                                        if (!Weekday) missingAttributes.push("data-datev");

                                        if (!modalId) missingAttributes.push("data-target");
                                        if (!url) missingAttributes.push("data-url");

                                        if (missingAttributes.length > 0) {
                                            var errorMessage = "One or more data attributes missing: " + missingAttributes.join(", ");
                                            console.error(errorMessage);

                                            return;
                                        }

                                        // Make an AJAX request to your controller action
                                        $.ajax({
                                            url: url,
                                            type: "GET",
                                            data: { Weekday: Weekday },
                                            success: function (result) {
                                                console.log("Ajax request successful");
                                                if (result.trim() === "") {
                                                    // If no data, display a custom message in the modal
                                                    $(modalId + " .modal-content #modalContent").html("<p>No data found.</p>");
                                                } else {
                                                    // If there is data, update modal content
                                                    $(modalId + " .modal-content #modalContent").html(result);
                                                }
                                                $(modalId).modal("show"); // Open the modal
                                            },
                                            error: function () {
                                                console.log("Error in Ajax request");
                                                // Display a custom message in the modal on error
                                                $(modalId + " .modal-content #modalContent").html("<p>Error occurred while fetching data.</p>");
                                                // Open the modal
                                                $(modalId).modal("show");
                                            }
                                        });
                                    });

                                    // Close the modal when the close button is clicked
                                    $(".close").on("click", function () {
                                        $(".modal").modal("hide");
                                    });

                                    // Close the modal when the modal background is clicked
                                    $(document).on("click", function (e) {
                                        if ($(e.target).hasClass("modal")) {
                                            $(".modal").modal("hide");
                                        }
                                    });
                                });
                            </script>
                            <b>@item.InDirect_Hours Hrs</b>
                        </th>

                        <!-- Include jQuery -->





                    }


                </tr>
            </thead>
        </table>

    </div>
</div></div>