@model IShop.Core.Timesheet
@{
    ViewBag.Title = "Timesheet ";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }





    .curved-table {
        border-collapse: collapse;
        border-radius: 1px;
        border: 1px solid #030000;
        overflow: visible;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid #030000;
        }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: black;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 1.00);">



    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>




    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <script src="https://apis.google.com/js/api.js"></script>
    <div id="calendar">


        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 14px">
                    <div class="modal-header" style="background-color: #192530;border-radius: 14px">

                        <h5 class="modal-title" style="color:white;text-align:left">  <i class="fa fa-bookmark text-white"></i>    Timesheet </h5>
                    </div>
                    <div class="modal-body">

                        <h5 style="text-align:center"><i class="fa fa-spin fa-circle-notch text-primary"></i>  Picked <a id="pDetails7"></a> </h5>
                        <div class=" dropdown-divider"></div>
                        <h5>  <i class="fa fa-bookmark text-primary"></i> Activities  Add </h5>







                        <button id="addPhasesButton" class="btn-xs btn btn-primary ">
                            <i class="fa fa-plus-circle text-black"></i> Add Direct Tasks
                        </button>
                        ||
                        <button id="addPhasesButton2" class="btn-xs btn btn-warning ">
                            <i class="fa fa-plus-circle text-black"></i> Add InDirect Tasks
                        </button>



                        <div class=" dropdown-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 14px">
                    <div class="modal-header" style="background-color: #aa0505;border-radius: 14px">

                        <h5 class="modal-title" style="color:white;text-align:center">  <i class="fa fa-exclamation-circle text-white"></i>    Timesheet </h5>
                    </div>
                    <div class="modal-body">

                        <h5 style="text-align:center"><i class="fa fa-exclamation-circle text-danger"></i> Date Error </h5>
                        <div class=" dropdown-divider"></div>
                        <p style="text-align:center"> Sorry you have selected a date that not in the current week ,kindly select a date within the current week.</p>



                        <div class=" dropdown-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js"></script>
        <script>
            moment.tz.setDefault('Africa/Nairobi');
        </script>


        @section scripts {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

            <script>
    var initialTimeZone = 'UTC';
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            selectable: true,
            contentHeight: 400,
            timezone: 'Africa/Nairobi',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: [
                {
                    title: 'Madaraka Day',
                    start: '2023-06-01',
                    color: 'red'
                },

            ],
            dayRender: function (date, cell) {
                var startOfWeek = moment().startOf('week');
                var endOfWeek = moment().endOf('week');

                if (date.isBetween(startOfWeek, endOfWeek, null, '[]')) {
                    cell.css('background-color', 'white');
                } else {
                    cell.css('background-color', '#cfcfcf');
                }

                if (date.isSame(moment(), 'day')) {
                    cell.css('background', 'linear-gradient(to right, #4CAF50, #81C784)');
                    cell.css('border', '2px solid #4CAF50');
                    cell.append('<span class="badge badge-primary"><medium><i class="fa fa-clock"></i> Today </medium></span>');
                }

                cell.css('border-radius', '10px');
            },
            dayClick: function (date, jsEvent, view) {
                var selectedDate = date.format();
                var startOfWeek = moment().startOf('week').format('YYYY-MM-DD');
                var endOfWeek = moment().endOf('week').format('YYYY-MM-DD');

               if (moment(selectedDate).isBetween(startOfWeek, endOfWeek, null, '[]')) {

                                var formattedDate = moment(selectedDate).format("YYYY-MMMM-DD");
                   formattedDetails = "Details: " + formattedDate;
                   $('#formattedDateField').val(formattedDate);
                                $('#myModal').modal('show');

                                // Populate the modal body with information
                                $('#pDetails').text(selectedDate);
                                $('#pDetails7').text(formattedDate);

                $('#addPhasesButton').on('click', function () {
                        var url = "@Url.Action("Add", "Direct_Activities", new { id = "__DATE__" })";
                    url = url.replace("__DATE__", selectedDate);



                        // Redirect to the updated URL
                        window.location.href = url;
                });
                    $('#addPhasesButton2').on('click', function () {
        var url = "@Url.Action("Add", "InDirect_Activities", new { id = "__DATE__" })";
    url = url.replace("__DATE__", selectedDate);



        // Redirect to the updated URL
        window.location.href = url;
    });

                            } else {
                                // Alert or handle the case where the date is not within the current week
                                $('#myModal2').modal('show');

                            }
                        },
            viewRender: function (view, element) {
                $('.fc-day-header').css('background-color', '#0C54A0');
                $('.fc-day-header').css('color', 'white');
                $('.fc-day-header').css('border-radius', '7px');
                $('.fc-day-header').css('height', '35px');
                $('.fc-day-header').css('line-height', '35px');
            }


        });

    });
            </script>


        }








        <div class="dropdown-divider"></div>
        <div class="card-header col-md-7 col-sm-12 col-12 " style="background-color: #0C54A0; color: white; border-radius: 2px ">
            <h3 class="card-title" style="color:white;text-align:center">
                <span class="badge badge-warning"><medium><i class="fa fa-spin fa-circle-notch text-black"></i>  </medium></span> <b><medium><b> Current Week </b></medium></b> <small><b style="color:white">(DH) -Direct Hours </b> | <b style="color: white">(IH) -InDirect Hours</b></small>
            </h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered curved-table">
                <thead>
                    <tr style="color: white;">
                        @foreach (var item in ViewBag.Results)
                        {
                            <th style="background-color: #0C54A0; font-size: medium; text-align: left ">
                                <b> @item.WeekdayName  </b> 
                                <b style="font-size:x-large"> @item.Total_Hours <small><b>Hrs</b></small></b>


                            </th>

                           



                        }

                    </tr>
                </thead>
                <thead>
                    <tr style="color: white;">
                        @foreach (var item in ViewBag.Results)
                        {
                            <th style="background-color: #192530; font-size: medium; text-align: left ">
                               

                                <button class="btn btn-sm btn-lg btn-light openModalTrigger"
                                        data-datev="@item.DateValue.ToString("dddd")" data-WeekNo="@item.WeekNumber"
                                        data-url="@Url.Action("Directtasksview", "Direct_Activities")"
                                        data-target="#exampleModalCenter">
                                    <small><b><i class="fa fa-clock text-warning"></i> DIRECT HRS</b></small>
                                </button>

                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal Title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="modalContent">
                                                <!-- Content will be dynamically loaded here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $(document).ready(function () {
                                        // Click event for the modal trigger button
                                        $(document).on("click", ".openModalTrigger", function (e) {
                                            e.preventDefault(); // Prevent the default link behavior

                                            // Extract data attributes and check for existence
                                            var weekNumber = $(this).data("datev");
                                            var WeekNo = $(this).data("WeekNo");
                                            var modalId = $(this).data("target");
                                            var url = $(this).data("url");

                                            if (!weekNumber || !modalId || !url) {
                                                console.error("One or more data attributes missing.");
                                                return;
                                            }

                                            // Make an AJAX request to your controller action
                                            $.ajax({
                                                url: url,
                                                type: "GET",
                                                data: { id: weekNumber, WeekNo: WeekNo },
                                                success: function (result) {
                                                    console.log("Ajax request successful");
                                                    if (result.trim() === "") {
                                                        // If no data, display a custom message in the modal
                                                        $(modalId + " .modal-content #modalContent").html("<p>No data found.</p>");
                                                    } else {
                                                        // If there is data, update modal content
                                                        $(modalId + " .modal-content #modalContent").html(result);
                                                    }
                                                    $(modalId).modal("show"); // Open the modal
                                                },
                                                error: function () {
                                                    console.log("Error in Ajax request");
                                                    // Display a custom message in the modal on error
                                                    $(modalId + " .modal-content #modalContent").html("<p>Error occurred while fetching data.</p>");
                                                    // Open the modal
                                                    $(modalId).modal("show");
                                                }
                                            });
                                        });

                                        // Close the modal when the close button is clicked
                                        $(".close").on("click", function () {
                                            $(".modal").modal("hide");
                                        });

                                        // Close the modal when the modal background is clicked
                                        $(document).on("click", function (e) {
                                            if ($(e.target).hasClass("modal")) {
                                                $(".modal").modal("hide");
                                            }
                                        });
                                    });
                                </script>




                                <b>@item.Direct_Hours Hrs </b>


                            </th>

                            <!-- Include jQuery -->
                            <style>
                                /* Custom class for wider modal */
                                .custom-modal-width {
                                    max-width: 90%; /* Adjust the percentage as needed */
                                }
                            </style>




                        }

                    </tr>
                </thead>
                <thead>
                    <tr style="color: white;">
                        @foreach (var item in ViewBag.Results)
                        {
                            <th style="background-color: #192530; font-size: medium;text-align:left">

                                <button class="btn btn-sm btn-warning openModalTrigger2" data-datev="@item.DateValue" data-url="@Url.Action("Directtasks", "Direct_Activitsies")" data-target="#eexampleModalCenter"> <small> <b><i class="fa fa-clock text-dark"></i> INDIRECT HRS</b></small></button>
                                <b>@item.InDirect_Hours Hrs</b>
                            </th>

                            <!-- Include jQuery -->





                        }
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha256-rq5NX1BNrnstXqkgY9+LmoVm9/9nNvJ+oVf1IG26Hiu2i6wu03VqpvUhvDRQc3JQ" crossorigin="anonymous">
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered custom-modal-width" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle"> <i class="fa fa-bookmark text-primary"></i> Day Activities View </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modalContent"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </thead>
            </table>

        </div>
















