@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.TT>

@{
    ViewBag.Title = "list form";
}




<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.84);">


    <div class="card-header" style="background-color: #001F3F">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-id-card"></i>
            My Timesheets
        </h3>




        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("List", "Timesheet", FormMethod.Get))
            {






                <a style="font-family: Calibri"> Project Name</a>
                @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "Project Name" })
                <button type="submit" value="search" class="btn btn-sm btn-warning">
                    <i class="fas fa-search"></i>
                </button>

                @Html.ActionLink("Post Sheet ", "Create", "Timesheet", null, new { @class = "btn btn-sm btn-default btn" })


            }


        </div>
    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>


   






    <div class="table-responsive" style="min-height: 400px">
        <table class="table table-bordered table-hover  table-condensed table-striped table-hover sortable">


            <colgroup>
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 60%;">
            </colgroup>
            <thead>
                <tr style="color:white">
                    <th style="background-color: #001F3F; "> Issued On</th>
                    <th style="background-color: #001F3F; "> Project/Client</th>
                    <th style="background-color: #001F3F; "> Description</th>
                    <th style="background-color: #001F3F; ">Actions </th>


                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-widget="expandable-table" aria-expanded="false">

                        <td style="background-color:white" href="javascript:void(0);" class="anchorDetail" data-id="@item.Id">@item.CreatedOn.ToString("dd-MMM-yyyy") - <small><i class="fa fa-user-circle text-primary"></i> @item.Employee</small></td>
                        <td style="background-color:white">  @item.Project</td>
                        <td style="background-color:whitesmoke"><i>@item.Description</i> </td>

                        <td style="background-color:ghostwhite">



                            @if (item.CreatedOn.ToString("dd-MMM-yyyy") == DateTime.Today.ToString("dd-MMM-yyyy"))

                            {

                                <div class="btn-group dropdown">
                                    <button type="button" class="btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-file-invoice"></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                        <a href="@Url.Action("Edit", "Timesheet", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-layer-group text-warning"></i> Edit/Update Sheet
                                        </a>
                                        <div class="divider"></div>
                                        <a href="@Url.Action("Delete", "Timesheet", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-trash text-danger"></i> Delete Sheet
                                        </a>
                                    </div>
                                </div>
                            }

                            else
                {
                        <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <small>...</small>
                }












                            </td>



                    </tr>
                }
            </tbody>
        </table>




        @foreach (var item in Model)
        {
            <div id='Details' class='modal'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id='myModalContent'></div>
                    </div>
                </div>
            </div>





            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script>
                var TeamDetailPostBackURL = '/Tickets/Details';
                $(function () {
                    $(".anchorDetail").click(function () {
                        var $buttonClicked = $(this);
                        var id = $buttonClicked.attr('data-id');
                        $.ajax({
                            type: "GET",
                            url: TeamDetailPostBackURL,
                            contentType: "application/json; charset=utf-8",
                            data: { "Id": id },
                            datatype: "json",
                            success: function (data) {
                                $('#myModalContent').html(data);
                                $('#Details').modal('show').fade(900);
                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        });
                    });
                });
            </script>





        }

        @if (Model.Count() == 0)
        {
            <div style="text-align:center">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-gradient-black">
                        <span class="info-box-icon"><i class="far fa-bed"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"> <img src="~/Images/logo77.png" height="50" /> </span>


                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            <span class="progress-description">
                                <i class="fa fa-calendar text-white nav-icon"></i>   No Tickets Found
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
        }












        <style>
            .ul.pagination {
                display: inline-block;
                padding: 1;
                margin: 1;
                border-radius: 0.5rem;
            }

            ul.pagination li {
                display: inline;
            }

                ul.pagination li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color;
                    background-color: #ddd;
                    border-color: white;
                    border-radius: 0.5rem;
                }

                    ul.pagination li a.active {
                        background-color: dodgerblue;
                        color: white;
                    }

                    ul.pagination li a:hover:not(.active) {
                        background-color: dodgerblue;
                        border-radius: 0.5rem;
                    }
        </style>
        <div id="container" style="text-align:left">

            <div class="pagination" style="text-align:left">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
              , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
            </div>
        </div>


    </div>



</div>





