@model PagedList.IPagedList<IShop.Core.Timesheet>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Mine";
}

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded3 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 14%;
        border-color: white;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();
    });

</script>
<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #0C54A0; color: white; ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-suitcase"></i>
            My Timesheets
        </h3>
        <div style="text-align: right; color: white ">
            @Html.ActionLink("Add Timesheet Tasks ", "Index", "Timesheet", null, new { @class = "btn btn-sm btn-warning btn " })

        </div>
    </div>

    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>



    

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap  table-condensed table-striped table-hover sortable curved-table">


            <thead>
                <tr style="color:white">

                    <th style="background-color: #0C54A0; font-size: medium; "> Month</th>

                    <th style="background-color: #0C54A0; font-size: medium; ">Staff</th>


                    <th style="background-color: #0C54A0; font-size: medium; ">Non Project Time</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Project Time</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Total Hours</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Status</th>
                    <th style="background-color: #0C54A0; font-size: medium; ">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td style="background-color: white;">
                            <i class="fa fa-bookmark text-primary"></i>  @item.CreatedOn.ToString("MMMM")
                            <div class="dropdown-divider"></div>
                            <small style="color:orange"> <i class="fa fa-calendar-day text-warning"></i> <b>@item.From_Date.ToString("dd-MMM-yyyy")</b></small> <small> <b>To</b></small> <small style="color:green"> <i class="fa fa-calendar-day text-primary"></i> <b>@item.End_Date.ToString("dd-MMM-yyyy")</b></small>
                        </td>
                        <td style="background-color: white;">
                            <span class="badge badge-primary"><i class="fa fa-user-circle text-white"></i></span>  @item.Owner
                            <div class="dropdown-divider"></div>
                            <span class="badge badge-warning"> <i class="fa fa-university text-black"></i></span>  @item.Department
                        </td>

                        <td style="background-color: white;"> <h4 style="color:navy">  @item.InDirect_Hours <b style="font-size:large">Hrs</b></h4></td>
                        <td style="background-color: white;"> <h4 style="color:green">  @item.Direct_Hours <b style="font-size:large">Hrs</b></h4></td>
                        <td style="background-color: white;"> <h1>  @item.Tt <b style="font-size:large">Hrs</b></h1></td>

                        <td style="background-color: white;">

                            @if (item.Locked == false)
                            {

                                <small style="font-size:small;color:forestgreen"><b><i class="fa fa-lock-open text-success"></i>  OPEN</b></small>
                                <div class="dropdown-divider"></div>
                                if (item.CreatedOn >= ViewBag.Monday && item.CreatedOn <= ViewBag.Sunday)
                                {
                                    <small style="font-size: small; color: forestgreen"><b><i class="fa fa-spin fa-circle-notch"></i>  CURRENT WEEK</b></small>
                                }
                                else
                                {
                                    <small style="font-size: small; color: dimgray"><b><i class="fa fa-check-circle "></i>  PAST WEEK</b></small>
                                }
                            }
                            else
                            {
                                <small style="font-size:medium;color:dimgray"><b><i class="fa fa-lock text-gray"></i> CLOSED</b></small>
                                <div class="dropdown-divider"></div> <b style="font-size: small"><i class="fa fa-certificate text-green"></i>  APPROVALS :</b>
                                if (@item.Status == 0)
                                {
                                    <b style="color: green; font-size: small"> PENDING  </b>

                                }
                                else
                                {<b style="color: orange; font-size: small "><i class="fa fa-spin fa-circle-notch"></i> APPROVED </b>
                                }
                            }

                        </td>

                        <td style="background-color: white;">

                            @if (item.Locked == false)
                            {

                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-hashtag"></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                        <div class="dropdown-divider"></div>
                                        <a href="@Url.Action("Details", "Timesheet", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-plus-circle text-warning"></i> Add Tasks
                                        </a>
                                        @if (!(item.CreatedOn >= ViewBag.Monday && item.CreatedOn <= ViewBag.Sunday))
                                        {
                                        <a class="dropdown-item" onclick="if (confirm('Are you sure you want to re-submit this Timesheet  -Note you will no longer be able to edit/Add tasks to the timesheet ')) { window.location.href = '@Url.Action("Re_submit", "Timesheet", new { id = item.Id, })'; }">
                                            <i class="fa fa-paper-plane text-success"></i> Re-Submit Timesheet

                                        </a>
                                        }
                                        <script>
                                            $(function () {
                                                $('#Deny').click(function () {
                                                    if (confirm('Are you sure?')) {
                                                        window.location.href = $(this).data('url');
                                                    }
                                                });
                                            });
                                        </script>
                                        <div class="dropdown-divider"></div>
                                        <a href="@Url.Action("BreakDown", "Timesheet", new { FromDate = item.From_Date.ToString("yyyy-MM-dd"), EndDate=item.End_Date.ToString("yyyy-MM-dd"),User=item.Owner})" class="dropdown-item">
                                            <i class="fa fa-book-reader text-primary"></i> View Sheet BreakDown
                                        </a>


                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-hashtag"></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                        
                                        <div class="dropdown-divider"></div>
                                        <a href="@Url.Action("BreakDown", "Timesheet", new { FromDate = item.From_Date.ToString("yyyy-MM-dd"), EndDate=item.End_Date.ToString("yyyy-MM-dd"),User=item.Owner})" class="dropdown-item">
                                            <i class="fa fa-book-reader text-primary"></i> View Sheet BreakDown
                                        </a>


                                    </div>
                                </div>
                            }
                        </td>


                    </tr>

                }
            </tbody>
        </table>
        <!-- Modal to display the result -->




        <style>
            .ul.pagination {
                display: inline-block;
                padding: 1;
                margin: 1;
                border-radius: 0.5rem;
            }

            ul.pagination li {
                display: inline;
            }

                ul.pagination li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color;
                    background-color: #ddd;
                    border-color: white;
                    border-radius: 0.5rem;
                }

                    ul.pagination li a.active {
                        background-color: dodgerblue;
                        color: white;
                    }

                    ul.pagination li a:hover:not(.active) {
                        background-color: dodgerblue;
                        border-radius: 0.5rem;
                    }
        </style>
        <div id="container" style="text-align:left">

            <div class="pagination" style="text-align:left">
                @Html.PagedListPager(Model, page => Url.Action("Mine", new { page, userName = ViewBag.UserName, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate })
              , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
            </div>
        </div>
    </div>


</div>

</div>




