@model IShop.Core.HOD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HOD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DprtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DprtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
