@model IEnumerable<IShop.Core.Profile>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>
<style>
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid cyan;
        }
</style>
<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.92);">


    <div class="card-header col-md-8 col-sm-10 col-10 col d-flex justify-content-center" style="background-color: darkcyan; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white;text-align:left">
            <i class="fa fa-user-circle"></i>
            My Profile
        </h3>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            <div class="row">

                <div class="form-group col-md-3">
                    <label class="bwe">
                        <i class="fa fa-user-circle text-cyan"></i>
                        Fullnames
                    </label>

                    <input type="text" id="Fullnames" name="Fullnames" value=@item.Fullnames . class="form-control" readonly=true>


                </div>
                <div class="form-group col-md-2">
                    <label class="bwe">
                        <i class="fa fa-mobile text-cyan"></i>
                        Phone Number
                    </label>

                    <input type="text" id="Fullnames" name="Fullnames" value=@item.Phone . class="form-control" readonly=true>


                </div>
                <div class="form-group col-md-3">
                    <label class="bwe">
                        <i class="fa fa-envelope text-cyan"></i>
                        Email Address
                    </label>

                    <input type="text" id="Fullnames" name="Fullnames" value=@item.email . class="form-control" readonly=true>


                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-2">
                    <label class="bwe">
                        <i class="fa fa-dna text-cyan"></i>
                        Gender
                    </label>

                    <input type="text" id="Fullnames" name="Fullnames" value=@item.Gender . class="form-control" readonly=true>


                </div>

                <div class="form-group col-md-2">
                    <label class="bwe">
                        <i class="fa fa-layer-group text-cyan"></i>
                        Sector
                    </label>

                    <input type="text" id="Fullnames" name="Fullnames" value=@item.sector . class="form-control" readonly=true>


                </div>
                <div class="form-group col-md-4">
                    <label class="bwe">
                        <i class="fa fa-map-marker text-cyan"></i>
                        Residency
                    </label>

                    <input type="text" id="Fullnames" name="Fullnames" value=@item.Residency . class="form-control" readonly=true>


                </div>
            </div>
        }
        @if (Model.Count() == 0)
        {
            <a href="@Url.Action("Create", "Profile", new {  })" class="btn-sm btn btn-info btn"><i class="fa fa-user-plus text-white"></i> Add Profile Details</a>
        }
        <div class="dropdown-divider"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table class="table table-bordered curved-table text-nowrap">
                        <thead style="background-color: darkcyan">
                            <tr style="color:white">

                                <th> Education</th>

                            </tr>
                        </thead>
                        <thead style="background-color:whitesmoke">
                            <tr style="color:white">

                                <th style="background-color: darkcyan "><small><i class="fa fa-university"></i> Institution</small></th>
                                <th style="background-color: darkcyan"><small><i class="fa fa-file-invoice"></i> Course</small></th>
                                <th style="background-color: darkcyan"><small><i class="fa fa-calendar"></i> Start</small></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.l8)
                            {
                                <tr style="background-color:white">


                                    <td><i class="fa fa-university text-cyan"></i> @item.Institute</td>
                                    <td><i class="fa fa-address-book text-cyan"></i> @item.Description</td>
                                    <td><i class="fa fa-calendar-day text-cyan"></i> @item.Start_Date.ToString("dd-MMM-yyyy")</td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table table-bordered curved-table text-nowrap">
                            <thead style="background-color: darkcyan">
                                <tr>

                                    <th style="color:white;width:40%"> Work Experience</th>

                                </tr>
                            </thead>
                            <thead style="background-color:whitesmoke">
                                <tr>

                                    <th style="background-color: darkcyan; color: white"><small><i class="fa fa-user-clock"></i> Company</small></th>
                                    <th style="background-color: darkcyan; color: white"><small><i class="fa fa-file-invoice"></i> Description</small></th>
                                    <th style="background-color: darkcyan; color: white"><small><i class="fa fa-calendar"></i> Start</small></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.l7)
                                {
                                    <tr style="background-color:white">


                                        <td><i class="fa fa-bookmark"></i>  @item.Company</td>
                                        <td><i class="fa fa-bookmark"></i>  @item.Description</td>
                                        <td><i class="fa fa-calendar-day text-cyan"></i> @item.Start_Date.ToString("dd-MMM-yyyy")</td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>

                </div>



                <div class="col-sm-8">
                    <div class="table-responsive">
                        <table class="table table-bordered curved-table text-nowrap">

                            <thead style="background-color: darkcyan">
                                <tr style="color:white">

                                    <th> Documents</th>

                                </tr>
                            </thead>
                            <thead>
                                <tr style="color:white">
                                    <th style="background-color: darkcyan; ">Date </th>
                                    <th style="background-color: darkcyan; ">Category </th>
                                    <th style="background-color: darkcyan; ">File </th>


                                    <th style="background-color: darkcyan; ">Action </th>

                                </tr>
                            </thead>
                            @foreach (var item in ViewBag.l9)
                            {
                                <tbody>
                                    <tr data-widget="expandable-table" aria-expanded="false">

                                        <td style="background-color:white"><i class="fa fa-calendar-check text-cyan"></i>  @item.UploadedOn.ToString("dd-MMM-yyyy")</td>
                                        <td style="background-color:white"><i class="fa fa-folder-open  text-cyan"></i>  @item.Category</td>
                                        <td style="background-color:white;color:navy">
                                            @if (@Path.GetExtension(@item.Path) == ".jpg")
                                            {
                                                <i class="fa fa-images"></i>

                                            }
                                            else if (@Path.GetExtension(@item.Path) == ".png")
                                            {
                                                <i class="fa fa-images"></i>

                                            }

                                            else if (@Path.GetExtension(@item.Path) == ".xlsx")
                                            {
                                                <i class="fa fa-file-excel"></i>


                                            }
                                            else if (@Path.GetExtension(@item.Path) == ".docx")
                                            {
                                                <i class="fa fa-file-word"></i>

                                            }

                                            else if (@Path.GetExtension(@item.Path) == ".pdf")
                                            {
                                                <i class="fa fa-file-pdf"></i>

                                            }  @item.Name

                                        </td>


                                        <td style="background-color:white">

                                            <div class="btn-group dropdown">
                                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-briefcase"></i>  . Action
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                                    <a href="~/Files/DownloadFile?filePath=@item.Path" class="dropdown-item"> <i class="fa fa-file-download text-primary"></i> Download</a>
                                                    <div class="dropdown-divider"></div>


                                                    <a class="dropdown-item" onclick="if (confirm('Are you sure you want to delete this file?')) { window.location.href = '@Url.Action("Delete_File", "Files", new { @item.id})'; }">
                                                        <i class="fas fa-trash text-danger"></i> Delete file
                                                    </a>
                                                    <script>
                                                        $(function () {
                                                            $('#Delete_User').click(function () {
                                                                if (confirm('Are you sure?')) {
                                                                    window.location.href = $(this).data('url');
                                                                }
                                                            });
                                                        });
                                                    </script>

                                                </div>
                                        </td>






                                    </tr>

                                    <tr class="expandable-body">

                                        <td colspan="5" style="background-color: rgb(255, 255, 255, 0.88);">
                                            <medium>
                                                <div class="col d-flex justify-content-left">
                                                    <div class="col-md-11 col-sm-11 col-12">
                                                        <div class="card mb- mb-xl-0" style="border-radius: 14px;">

                                                            <div class="card-outline card-cyan card-body text-left" style="border-radius: 14px;">

                                                                <div><b>File Notes</b></div>
                                                                <div class="divider"></div>

                                                                <div style="font-style:italic">
                                                                    @item.Description
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </medium>



                                        </td>

                                    </tr>


                                </tbody>
                            }
                        </table>

                    </div>
                </div>
    </div>