@model IShop.Core.Team

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }

    form-rounded2 {
        border-radius: 4rem;
        border-color: orangered;
    }

    .form-rounded1 {
        border-radius: 1rem;
        border-color: red;
    }

    .form-control:focus {
        border-color: #0faa09;
    }
</style>


<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $(function () {
        $("#datepicker2").datepicker();
    });

</script>


@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
<!-- /.card-header -->






<br />
<div class="col d-flex justify-content-center">
    <div class="col-md-10 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #0656A5; color: white; border-radius: 14px ">
                <i class="fa fa-users"></i> Add Project Team members
            </div>
            <div class="card-body" style="background-color: white;border-radius: 24px;">
                <div class="card-body" style="background-color: #ffffffc1;border-radius: 24px;">
                    @using (Html.BeginForm("Add", "teams", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form>

                        <h3><i class=" fa fa-bookmark text-primary"></i>    @ViewBag.Project,</h3>
                        <div class=" dropdown-divider"></div>
                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label><i class=" fa fa-calendar-check text-primary"></i>   @Html.LabelFor(model => model.CreatedOn)</label>
                                @Html.EditorFor(model => model.CreatedOn, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm",
                                   @Placeholder = "Record",
                                   @Value = DateTime.Now,
                                   @ReadOnly = true,


                               }
                           })

                            </div>
                            <div class="form-group col-md-1" style="display:none">
                                <input id="Project_id" name="Project_id" type="number" value="@ViewBag.ProjectId" class="form-control  form-control-sm  " readonly />

                            </div>

                            <div class="form-group col-md-6">
                                <label><i class=" fa fa-suitcase text-primary"></i>   @Html.LabelFor(model => model.Project_Name)</label>
                                @Html.EditorFor(model => model.Project_Name, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm",
                                   @Placeholder = "Project_Name",
                                   @Id = "Project_Name",
                                   @Value = ViewBag.Project,
                                   @ReadOnly = true,


                               }
                           })

                            </div>


                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label><i class="fa fa-users text-primary"></i> @Html.LabelFor(model => model.Username) </label>
                                @Html.DropDownList("Username", ViewBag.Employee as SelectList, "--Select Team members --", new { @class = "form-control  form-control-sm", @Required = true })
                            </div>

                            <div class="form-group col-md-4">
                                <label><i class="fa fa-briefcase text-primary"></i> @Html.LabelFor(model => model.Name) </label>
                                @Html.DropDownList("Name", ViewBag.Phase as SelectList, "--Select  Phase --", new { @class = "form-control  form-control-sm", @Required = true })
                            </div>
                            <script type="text/javascript">
                                $(function () {

                                    $("#Username").chosen();
                                    $("#Name").chosen();
                                });
                            </script>
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script>
                                // Function to fetch models based on the selected make using AJAX
                                $("#Name").change(function () {
                                    var Project_Name = $(this).val();
                                    
                                    if (Project_Name !== "") {
                                        $.ajax({
                                            url: "/teams/GetPhaseId",
                                            type: "GET",
                                            data: { Name: Project_Name },
                                            dataType: "json",
                                            success: function (data) {
                                                $('#Step').val(data.Step);
                                            },

                                            error: function () {
                                                console.log("Error fetching Plots.");
                                            }
                                        });
                                    }
                                });
                            </script>

                            <div class="form-group col-md-1">
                                <label><i class=" fa fa-clock text-primary"></i>   @Html.LabelFor(model => model.Step)</label>
                                @Html.EditorFor(model => model.Step, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm",
                                   @Placeholder = "Step",
                                   @ReadOnly = true,

                               }
                           })

                            </div>

                            <div class="form-group col-md-3">
                                <label><i class=" fa fa-clock text-primary"></i>   @Html.LabelFor(model => model.Hours)</label>
                                @Html.EditorFor(model => model.Hours, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm",
                                   @Placeholder = "Allocated Hrs",

                                   @Required = true,


                               }
                           })

                            </div>
                        </div>
                        <div id="errorMessage" style="display:none;color:red">
                            <a href="#" style="color:red">
                                <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>  Team member already in assigned on project
                            </a>
                        </div>
                        <div id="phaseList" style="display:none;">
                            <!-- Placeholder for the list of phases -->
                            <ul id="phaseListItems"></ul>
                        </div>



                        <script>
$(document).ready(function () {
    $("#Username").change(function () {
        var Username = $(this).val();
        var Project_Name = $('#Project_Name').val();

        // Show the spinner during the AJAX request
        $("#errorMessage").show().find('.spinner-grow').show();
        $("#phaseList").hide();

        $.ajax({
            url: "@Url.Action("CheckValueExists", "teams")",
            data: { Username: Username, Project_Name: Project_Name },
            success: function (data) {
                // Hide the spinner after the AJAX request completes
                $("#errorMessage").find('.spinner-grow').hide();

                if (data.Message) {
                    // If there is a message, display it
                    $("#errorMessage a").text(data.Message);
                    $("#myButton").hide();
                } else {
                    // If there is data, hide the error message and show the button
                    $("#errorMessage").hide();
                    $("#myButton").show();

                    // Check if the data is a list of phases
                    if (Array.isArray(data) && data.length > 0) {
                        // Display the list of phases
                        $("#phaseListItems").empty();
                        $.each(data, function (index, item) {
                            $("#phaseListItems").append("<li> <b>Phase</b>  : " + item.Name + "  :  <b>Assigned Hrs</b>  " + item.Hours +" </li>");
                        });
                        $("#phaseList").show();
                    }
                }
            },
            error: function () {
                // Hide the spinner in case of an error
                $("#errorMessage").hide();
                console.log("Error occurred during the AJAX request.");
            }
        });
    });
});

                        </script>

                        <div class="dropdown-divider"></div>
                        <input type="submit" value="Submit" class="btn btn-warning" />
                        <small>||</small>
                        <a href="@Request.UrlReferrer" class="btn btn-primary">Back</a>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>