@model IShop.Core.Advance

@{
    ViewBag.Title = "Delete";
}

<br />
<div class="col d-flex justify-content-center">
    <div class="col-md-8 col-sm-8 col-8">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: red;color:white">
                <i class="fa fa-trash text-white nav-icon"></i> Delete
            </div>
            <div class="card-body">

                <h5 style="text-align:center">Are you sure you want to delete this?</h5>
                <hr />
                <div>
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="card mb- mb-xl-0">


                            <div class="card-outline card-warning card-header">

                                <medium> <i class="fa fa-user-circle text-success"></i>  <b>Employee</b>  : @Model.Employee</medium>

                                <div class="dropdown-divider"></div>
                                <small><i class="fa fa-calendar"></i>  Requested Amount : @Model.Amount</small>
                                <div class="dropdown-divider"></div>
                                <small><i class="fa fa-calendar-day text-warning"></i> Due Date :  @Model.Due_to.ToString("dd-MMM-yyyy") ||<i class="fa fa-calendar-day text-warning"></i> Pay Date : @Model.Pay_Date.ToString("dd-MMM-yyyy")</small>

                                <div class="dropdown-divider"></div>

                                <small>
                                    <i class="fa fa-users text-success"></i> Approval from Finance :@Model.Approved_by_Finance
                                </small>
                                <div class="dropdown-divider"></div>
                                <small>
                                    <i class="fa fa-users text-success"></i> Approval from Manager : @Model.Approved_by_Manager
                                </small>
                            </div>
                        </div>
                    </div>
                            <hr />
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete Data" class="btn btn-danger" /> |
                                    || @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                                </div>
                            }
                        </div>
                    </div>
        </div>
    </div>
