@model IShop.Core.Advance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Fullnames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Fullnames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_Words)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_Words)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Due_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Due_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved_by_Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved_by_Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved_Date_Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved_Date_Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved_by_Finance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved_by_Finance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved_Date_Finance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved_Date_Finance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
