@model IShop.Core.Advance

@{
    ViewBag.Title = "Form";
}
<div class="card" style="background-color:white">

    <style type="text/css">
        .loading {
            font-size: 10pt;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            z-index: 999;
        }

        .form-rounded {
            border-radius: 1rem;
        }

        .form-rounded1 {
            border-radius: 1rem;
            border-color: red;
        }
    </style>

    <!-- Main content -->

    <style>

        .table-hover > tbody > tr:hover {
            background-color: #D2D2D2;
        }

        hr {
            border: none;
            border-top: 1px ;
            background-color: black;
            height: 1px;
            width: 50%;
        }
    </style>



    <html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Student Receipt</title>

        <!-- Favicon -->
        <link rel="icon" href="./images/favicon.png" type="image/x-icon" />

        <!-- Invoice styling -->
        <style>
            body {
                text-align: center;
                color: white;
            }

            td {
                width: 150px;
                border-spacing: 10px;
                padding: 5px;
            }

            body h1 {
                font-weight: 300;
                margin-bottom: 0px;
                padding-bottom: 0px;
                color: black;
            }

            body h3 {
                font-weight: 300;
                margin-top: 10px;
                margin-bottom: 20px;
                font-style: italic;
                color: #555;
            }

            body a {
                color: black;
            }

            .invoice-box {
                max-width: 1050px;
                margin: auto;
                padding: 30px;
                border: 1px solid #eee;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                font-size: 16px;
                line-height: 24px;
                font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color: #555;
            }

                .invoice-box table {
                    width: 100%;
                    line-height: inherit;
                    text-align: left;
                    border-collapse: collapse;
                }

                    .invoice-box table td {
                        padding: 5px;
                        vertical-align: top;
                    }

                    .invoice-box table tr td:nth-child(2) {
                        text-align: right;
                    }

                    .invoice-box table tr.top table td {
                        padding-bottom: 20px;
                    }

                        .invoice-box table tr.top table td.title {
                            font-size: 45px;
                            line-height: 45px;
                            color: #333;
                        }

                    .invoice-box table tr.information table td {
                        padding-bottom: 40px;
                    }

                    .invoice-box table tr.heading td {
                        background: #eee;
                        border-bottom: 1px solid #ddd;
                        font-weight: bold;
                    }

                    .invoice-box table tr.details td {
                        padding-bottom: 20px;
                    }

                    .invoice-box table tr.item td {
                        padding: 5px;
                    }

                    .invoice-box table tr.item.last td {
                        border-bottom: none;
                    }

                    .invoice-box table tr.total td:nth-child(2) {
                        border-top: 2px solid #eee;
                        font-weight: bold;
                    }

            @@media only screen and (max-width: 600px) {
                .invoice-box table tr.top table td {
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                .invoice-box table tr.information table td {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }

            table {
                border-spacing: 10px;
            }
        </style>
    </head>

    <body onload="window.print()">

        <div class="invoice-box">
            <img src="~/images/logo77.png" alt="Company logo" style="width:30%" />

            <h3 style="color:black;font-style:normal">SALARY ADVANCE FORM</h3>

            <hr />

            <div style="text-align:right;color:black">
                <h4 style="color: black; font-style: normal">Date : @Model.CreatedOn.ToString("dd-MMMM-yyyy")</h4>


            </div>
            <div style="text-align:left;color:black">
                <h4 style="color: black; font-style: normal">Employee Name : @Model.Employee_Fullnames</h4>


            </div>

            <hr />
            <p>
                I @Model.Employee_Fullnames  request an advance payment of Ksh  @Model.Amount  in words   @Model.Amount_Words on my salary to be
                  paid on date @Model.Pay_Date.ToString("dd-MMMM-yyyy") due to @Model.Due_to.ToString("dd-MMMM-yyyy") as permitted by company policy.
            
                            <p>
                                I agree to repay this advance as follows, One lump-sum payroll deduction to be made from my salary on the first pay period
                                immediately following the pay period from which this advance is made.I also agree that if I terminate employment prior to total repayment of this advance, I
                                authorize the company to deduct any unpaid advance amount from the salary owed me at the time of termination of employment.
                            </p>

           


            <p style="text-align:left"><b>Approved By</b></p>

        </div>
    </body>
</html>



</div>