@using PagedList
@using PagedList.Mvc;
@model IPagedList<Ishop.Models.Ticket_payment_modes>


@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header" style="background-color: #001F3F">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-cash-register"></i>
            Payment Modes
        </h3>




        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("Index", "Payment_modes", FormMethod.Get))
            {






                <a style="font-family: Calibri"> Payment Mode</a>
                @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "  Mode" })
                <button type="submit" value="search" class="btn btn-sm btn-warning">
                    <i class="fas fa-search"></i>
                </button>

                @Html.ActionLink(" Add  Payment Mode ", "Create", "Payment_modes", null, new { @class = "btn btn-sm btn-default btn" })


            }


        </div>
    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
    </script>









    <div class="table-responsive" style="min-height: 400px">
        <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable">
            <tr style="background-color: #001F3F ;color:white">
                <th>
                    <i class="fa fa-calendar"></i>  Added On
                </th>
                <th>
                    <i class="fa fa-cash-register"></i>  Payment Mode
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="background-color:whitesmoke">
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        <i class="fa fa-cash-register"></i>  @Html.DisplayFor(modelItem => item.Mode)
                    </td>

                    <td>
                        <i class="fa fa-trash text-danger nav-icon"></i>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
