
<br />



<div class="card-body">


    <div class="row justify-content-center">

        <div class="col-xl-4">
            <div class="card mb- mb-xl-0" style="border-left: 3px solid #ff6a00; border-radius: 15px">

                <div class="card-body">

                    <h4 style="font-family: Calibri; text-align: center">
                        <i class="fa fa-users text-orange"></i>  Overall Report
                    </h4>

                    <h6 style="text-align:center">This allows giving an overall performance report</h6>
                </div>


                <p style="text-align:center">
                <a href="@Url.Action("Report", "Performs", new { Option = 0 })" class=" btn btn-sm btn-warning    pulse animated infinite" role="button" aria-pressed="true"><i class="fa fa-users"></i>  Proceed </a> </p>




            </div>
        </div>

        <div class="col-xl-4">
            <div class="card mb- mb-xl-0" style="border-left: 3px solid #ff6a00; border-radius: 15px">

                <div class="card-body">

                    <h4 style="font-family: Calibri; text-align: center">
                        <i class="fa fa-user-circle text-orange"></i>    Individual Report
                    </h4>

                    <h6 style="text-align:center">This allows giving a respective indiviual student report</h6>
                </div>


                <p style="text-align:center"><a href="@Url.Action("Report", "Performs", new { Option = 1 })" class=" btn btn-sm btn-success    pulse animated infinite" role="button" aria-pressed="true"><i class="fa fa-user-circle "></i>   Proceed </a> </p>




            </div>
        </div>
    </div>

    <br />

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mb- mb-xl-0" style="border-radius: 21px; border-left: 6px solid #a0a0a0; ">
                <div class="card-header" style="background-color: #b6b6b6; color: white; border-radius: 21px ">
                    <i class="fa fa-chart-line"></i> Submitted Reports
                </div>
                <div class="table-responsive" style="min-height: 100px">
                    <table class="table table-bordered table-hover   table-condensed table-striped table-hover sortable curved-table">


                        <thead>
                            <tr style="color:black">
                                <th style="background-color: #cccccc; "> Date </th>
                                <th style="background-color: #cccccc; "> Student/Overall </th>
                                <th style="background-color: #cccccc; "> Stage </th>
                                <th style="background-color: #cccccc; "> Status </th>
                                <th style="background-color: #cccccc; "> Subject </th>
                                <th style="background-color: #cccccc; "> Actions </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.Data)
                            {
                                <tr data-widget="expandable-table" aria-expanded="false" style="font-size:medium">

                                    <td style="background-color:white;">
                                        <span class="badge badge-secondary"><medium>   <i class="fa fa-calendar-day"></i>   </medium></span>  @item.Date.ToString("dd-MMM-yyyy")

                                    </td>
                                    <td style="background-color:white;">
                                        <span class="badge badge-secondary"><medium>   <i class="fa fa-users"></i>   </medium></span>  @item.Student

                                    </td>
                                    <td style="background-color:white;">
                                        <span class="badge badge-warning"><medium>   <i class="fa fa-layer-group"></i>   </medium></span> <b> @item.Stage</b>

                                    </td>
                                    <td style="background-color:white;">
                                        @if (item.Pass == true)
                                        {
                                            <b style="color:forestgreen"><i class="fa fa-check-circle"></i> PASS    :  <b style="font-size:x-large">|</b> @item.Percentage <i class="fa fa-percentage"></i> </b>
                                        }
                                        else
                                        {
                                            <b style="color:red"><i class="fa fa-times-circle"></i> FAIL  :  <b style="font-size:x-large">|</b> @item.Percentage <i class="fa fa-percentage"></i></b>
                                        }
                                    </td>
                                    <td style="background-color:white;">
                                        <span class="badge badge-warning"><medium>    </medium></span> <b> @item.Subjects</b>

                                    </td>
                                    <td style="background-color: white;">


                                        <div class="btn-group dropdown">
                                            <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-hashtag"></i>  . Action
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                               
                                                <a href="@Url.Action("Edit", "Performs", new { id = item.Id})" class="dropdown-item">
                                                    <i class="fa fa-pen-nib text-warning"></i> Edit Report
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a href="@Url.Action("Delete", "Performs", new { id = item.Id})" class="dropdown-item">
                                                    <i class="fa fa-times-circle text-danger"></i> Delete Report
                                                </a>

                                            </div>
                                        </div>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>