@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Render the gauge item. Add these scripts only if your report contains the gauge report item.-->
    

    <style>
        body {
            background-image: url("/Images/shop.jpg");
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">

  
</head>


<title> @ViewBag.Title </title>

<body class="hold-transition sidebar-mini layout-fixed">
    <a class="wrapper">

        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Images/co.gif" height="150">
            <br />
            <h5 style="font-style:italic;color:navy">...loading...</h5>
            <div class="row">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only"></span>
                </div>...
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only"></span>
                </div>...
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>



        <nav class="main-header navbar navbar-expand navbar-light navbar-light">

            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Contact", "Home")" class="nav-link">
                        Contact

                    </a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown" style="font-family:Calibri">
                    <a class="nav-link" data-toggle="dropdown" href="#" style="font-family:Calibri">

                        <i class="fa fa-user text-navy">
                            @Html.Label("" + User.Identity.GetUserName()
+ "", null, htmlAttributes: new { title = "Manage" })
                        </i>
                        <i class="fas fa-angle-down right"></i>
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-centre">
                        <div style="text-align:center">
                            <img src="~/Images/l.ico" height="60" alt="User Avatar">
                            <p> <i class="fa fa-user"></i> User: @User.Identity.Name</p>
                        </div>

                        <a href="@Url.Action("Acc_Profile", "Accesses")" class="dropdown-item">
                            <i class="fas fa-user-circle text-warning nav-icon"></i> My Profile
                        </a>
                        <div class="dropdown-divider"></div>

                        <a href="@Url.Action("Acc_Profile", "Accesses")" class="dropdown-item">
                            <i class="fa fa-user-lock text-primary nav-icon"></i> Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        
                        <div class="dropdown-divider"></div>


</a>
















    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {@Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">
        <i class="fa fa-sign-in-alt  text-success"></i>
        Logout
    </a>}
    <div class="dropdown-divider"> </div></div>






    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->







    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="@Url.Action("Index", "Home")" class="brand-link">
            <img src="~/Images/logo7.png" height="85">

        </a>

        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="color:white">
                <div class="info" style="font-family:Calibri">
                    <a href="#" class="d-block" style="color:white">
                        Current User: @Html.Label("" + User.Identity.GetUserName()
+ "", null, htmlAttributes: new { title = "Manage" })
                    </a>
                    <a>
                        @if (this.User.IsInRole("Admin"))
                        {<small style="font-family:Calibri">
                                <i class="fa fa-user-check text-white"></i>:-Administrator
                            </small>}


                        else if (this.User.IsInRole("Employee"))
                        { <small style="font-family:Calibri">
                                <i class="fa fa-user-md text-white"></i> :-Employee
                            </small>}

                        else if (this.User.IsInRole("Facility"))
                        { <small style="font-family:Calibri">
                                <i class="fa fa-universal-access text-white"></i> :-Facility Account
                            </small>}
                         else if (this.User.IsInRole("Staffing_Agency"))
                        { <small style="font-family:Calibri">
                                <i class="fa fa-users text-white"></i> :-Staffing Agency
                            </small>}
                        else
                        { <small style="font-family:Calibri">
                                <i class="fa fa-shield-virus text-white"></i> :--unknown
                            </small>}

                    </a>
                </div>

            </div>

            <!-- SidebarSearch Form -->
            <!-- Sidebar Menu -->
            <nav class="mt-2" style="text-align:left">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->





                    <li class="nav-item menu-open">
                        <a href="@Url.Action("Index", "Home")" class="nav-link bg-warning">
                            <i class="nav-icon fa fa-home"></i>
                            <p>
                                Home-Page

                            </p>
                        </a>
                    </li>


                    @if (this.User.IsInRole("DashBoard"))
                    {
                        <li class="nav-item">


                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-chart-line text-white"></i>
                                <p style="color: white">
                                    DashBoard <i class="fas fa-angle-left right"></i>


                                </p>
                            </a>
                            <ul class="nav nav-treeview">



                                <li class="nav-item">
                                    <a href="@Url.Action("Dashboard", "Home")" class="nav-link">
                                        <i class="fa fa-chart-line text-white nav-icon"></i>
                                        <p style="color: white">Operations</p>
                                    </a>
                                </li>


                            </ul>
                        </li>
                    }


                        <li class="nav-item">


                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-id-card text-white"></i>
                                <p style="color: white">
                                    Ticketing <i class="fas fa-angle-left right"></i>


                                </p>
                            </a>
                            <ul class="nav nav-treeview">



                                <li class="nav-item">
                                    <a href="@Url.Action("New_Ticket", "Tickets")" class="nav-link">
                                        <i class="fa fa-id-card text-white nav-icon"></i>
                                        <p style="color: white">New Ticket</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Tickets")" class="nav-link">
                                        <i class="fa fa-id-card text-white nav-icon"></i>
                                        <p style="color: white">Tickets list</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">


                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-id-card text-white"></i>
                                <p style="color: white">
                                    Ticketing_Dataset <i class="fas fa-angle-left right"></i>


                                </p>
                            </a>
                            <ul class="nav nav-treeview">



                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Airlines")" class="nav-link">
                                        <i class="fa fa-plane-arrival text-white nav-icon"></i>
                                        <p style="color: white">Airlines</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "service_providers")" class="nav-link">
                                        <i class="fa fa-hands-helping text-white nav-icon"></i>
                                        <p style="color: white">Service Providers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "routes")" class="nav-link">
                                        <i class="fa fa-route text-white nav-icon"></i>
                                        <p style="color: white">Routes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "payment_modes")" class="nav-link">
                                        <i class="fa fa-shopping-bag text-white nav-icon"></i>
                                        <p style="color: white">Payment Modes</p>
                                    </a>
                                </li>

                            </ul>
                        </li>


                        <li class="nav-item">


                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-clock text-white"></i>
                                <p style="color: white">
                                    leaves <i class="fas fa-angle-left right"></i>


                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("Create", "leaves")" class="nav-link">
                                            <i class="fa fa-hand-holding text-white nav-icon"></i>
                                            <p style="color: white">Request leave</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "leaves")" class="nav-link">
                                            <i class="fa fa-hand-holding text-white nav-icon"></i>
                                            <p style="color: white">Requested leaves</p>
                                        </a>
                                    </li>
                                }

                                @if (this.User.IsInRole("Employee"))
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("Create", "leaves")" class="nav-link">
                                            <i class="fa fa-hand-holding text-white nav-icon"></i>
                                            <p style="color: white">Request leaves</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "leaves")" class="nav-link">
                                            <i class="fa fa-book-open text-white nav-icon"></i>
                                            <p style="color: white">My leaves requests </p>
                                        </a>
                                    </li>
                                }





                            </ul>
                        </li>

                        <li>
                            @if (this.User.IsInRole("Employee"))
                            {
                            <li class="nav-item">


                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-folder text-white"></i>
                                    <p style="color: white">
                                        My Documents<i class="fas fa-angle-left right"></i>


                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Upload", "Files")" class="nav-link">
                                            <i class="fa fa-cloud text-white nav-icon"></i>
                                            <p style="color: white"> Upload Documents </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("My_Files", "Files")" class="nav-link">
                                            <i class="fa fa-folder-open text-white nav-icon"></i>
                                            <p style="color: white">My Documents </p>
                                        </a>
                                    </li>





                                </ul>
                            </li>
                        }
                            </li>




                            @if (this.User.IsInRole("Admin"))
                            {
                                <li class="nav-header"><i class="fa fa-users"></i> Human Resources</li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-home text-white"></i>
                                        <p style="color: white">
                                            Department<i class="fas fa-angle-left right"></i>


                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">




                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "Departments")" class="nav-link">
                                                <i class="fa fa-user-plus text-white nav-icon"></i>
                                                <p style="color: white">Add Dprt </p>
                                            </a>
                                        </li>


                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Departments")" class="nav-link">
                                                <i class="fa fa-cubes text-white nav-icon"></i>
                                                <p style="color: white">Departments </p>
                                            </a>
                                        </li>







                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-users text-white"></i>
                                        <p style="color: white">
                                            Employees<i class="fas fa-angle-left right"></i>


                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">
                                            <a href="@Url.Action("New_Employee", "Account")" class="nav-link">
                                                <i class="fa fa-user-plus text-white nav-icon"></i>
                                                <p style="color: white">New Employee</p>
                                            </a>
                                        </li>


                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Employes")" class="nav-link">
                                                <i class="fa fa-users text-white nav-icon"></i>
                                                <p style="color: white">Employees Profiles </p>
                                            </a>
                                        </li>







                                    </ul>
                                </li>

                                <li class="nav-header"><i class="fa fa-chart-line text-white"></i> B.I Reports</li>

                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Reports")" class="nav-link">

                                        <i class="fa fa-chart-bar text-white nav-icon"></i>
                                        <p style="color: white">
                                            Reports
                                        </p>
                                    </a>
                                </li>
                            }





                            </li>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <li class="nav-header">Admin</li>






                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Service")" class="nav-link">

                                        <i class="fa fa-cogs text-white nav-icon"></i>
                                        <p style="color: white">
                                            Admin <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Data")" class="nav-link">

                                                <i class="fa fa-users text-white nav-icon"></i>
                                                <p style="color: white">
                                                    All  Profile
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Configuration")" class="nav-link">

                                                <i class="fa fa-cogs text-white nav-icon"></i>
                                                <p style="color: white">
                                                    Configurations
                                                </p>
                                            </a>
                                        </li>
                                    </ul>


                                </li>



                            }

                            <style>
                                @@-webkit-keyframes pulse {
                                    0% {
                                        -webkit-transform: scale3d(1, 1, 1);
                                        transform: scale3d(1, 1, 1);
                                    }

                                    50% {
                                        -webkit-transform: scale3d(1.05, 1.05, 1.05);
                                        transform: scale3d(1.05, 1.05, 1.05);
                                    }

                                    100% {
                                        -webkit-transform: scale3d(1, 1, 1);
                                        transform: scale3d(1, 1, 1);
                                    }
                                }

                                @@keyframes pulse {
                                    0% {
                                        -webkit-transform: scale3d(1, 1, 1);
                                        transform: scale3d(1, 1, 1);
                                    }

                                    50% {
                                        -webkit-transform: scale3d(1.05, 1.05, 1.05);
                                        transform: scale3d(1.05, 1.05, 1.05);
                                    }

                                    100% {
                                        -webkit-transform: scale3d(1, 1, 1);
                                        transform: scale3d(1, 1, 1);
                                    }
                                }

                                .pulse:hover {
                                    -webkit-animation-name: pulse;
                                    animation-name: pulse;
                                }

                                .animated {
                                    -webkit-animation-duration: 1s;
                                    animation-duration: 1s;
                                    -webkit-animation-fill-mode: both;
                                    animation-fill-mode: both;
                                }

                                    .animated.infinite {
                                        -webkit-animation-iteration-count: infinite;
                                        animation-iteration-count: infinite;
                                    }
                            </style>
                            <div class="pulse animated infinite">
                                <div class="col-md-11 col-sm-8 col-12">
                                    <div class="info-box " style="background-color: #ffffff00; border-radius: 14px;">

                                        <span class="info-box-icon  ">
                                            <i class="fa fa-comment text-white nav-icon"></i>
                                        </span>

                                        <div class="info-box-content">
                                            <span class="info-box-text" style="color: white">Support Team</span>
                                            <span class="info-box-number">
                                                <a href="https://api.whatsapp.com/send?phone=+254727422197&text=Hello%20Sharpolex%20Support%20team%20am%20in%20need%20of%20your%20assistance
                                                                     " class="btn btn-sm  btn-success btn-lg active" role="button" aria-pressed="true">WhastApp</a>
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                            </div>





                            <li class="nav-header">
                                Version 20.0.4

                            </li>
                            <li>
                                <small style="color:whitesmoke"> Powered By Speculate Techs</small>
                            </li>

                        </ul>

                        </nav>

        </div>

    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="background-image: url('../../Images/neww.jpg');
        background-repeat: no-repeat;
        background-size: cover;">





        @RenderBody()




    </div>

    @Html.Bold().ScriptManager()
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/FrontEnd/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/FrontEnd/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/FrontEnd/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/FrontEnd/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/FrontEnd/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/FrontEnd/plugins/moment/moment.min.js"></script>
    <script src="~/FrontEnd/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/FrontEnd/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/FrontEnd/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/FrontEnd/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/FrontEnd/dist/js/pages/dashboard.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>