@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/")
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <!--Render the gauge item. Add these scripts only if your report contains the gauge report item.-->


    <style>
        body {
            background-image: url("/Images/shop.jpg");
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">


</head>


<title> @ViewBag.Title </title>

<body class="hold-transition sidebar-mini layout-fixed">
    <a class="wrapper">

        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Images/logo.png" height="100">
            <br />
            <h5 style="font-style:italic;color:navy">...loading...</h5>
            <div class="row">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only"></span>
                </div>...
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only"></span>
                </div>...
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>



        <nav class="main-header navbar navbar-expand navbar-light navbar-light">

            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Contact", "Home")" class="nav-link">
                        Contact

                    </a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-clock text-cyan"></i>
                        <span class="badge badge-info navbar-badge">@DateTime.Now.ToString("dddd :hh : mm tt")</span>
                    </a>
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell text-cyan"></i>
                        <span class="badge badge-info navbar-badge">1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/Images/logo.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        sms notifications<small style="color:blue"></small>
                                        <span class="float-right text-sm text-cyan">
                                            <span class="float-right badge bg-gradient-cyan">New</span>
                                        </span>
                                    </h3>
                                    <p class="text-sm">Automated sms notifications added </p>

                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>

                    </div>
                </li>
            </ul>









            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown" style="font-family:Calibri">
                    <a class="nav-link" data-toggle="dropdown" href="#" style="font-family:Calibri">

                        <i class="fa fa-user-circle text-cyan">
                            @Html.Label("" + User.Identity.GetUserName()
+ "", null, htmlAttributes: new { title = "Manage" })
                        </i>
                        <i class="fas fa-angle-down right"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-centre">
                        <div style="text-align:center">
                            <img src="~/Images/logo.png" height="50" alt="User Avatar">

                        </div>
                        <div style="text-align:center">
                            ...
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("Acc_Profile", "Accesses")" class="dropdown-item">
                            <i class="fas fa-user-circle text-warning nav-icon"></i> My Profile
                        </a>
                        <div class="dropdown-divider"></div>

                        <a href="@Url.Action("Acc_Profile", "Accesses")" class="dropdown-item">
                            <i class="fa fa-user-lock text-primary nav-icon"></i> Change Password
                        </a>
                        <div class="dropdown-divider"></div>

                        <div class="dropdown-divider"></div>


    </a>
















    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {@Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">
        <i class="fa fa-sign-in-alt  text-success"></i>
        Logout
    </a>}
    <div class="dropdown-divider"> </div></div>






    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->







    <aside class="main-sidebar sidebar-light-primary elevation-4">
        <!-- Brand Logo -->
        <a href="@Url.Action("Index", "Home")" class="brand-link">
            <img src="~/Images/logo.png" height="65">

        </a>

        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="color:black">
                <div class="info" style="font-family:Calibri">
                    <a href="#" class="d-block" style="color: black">
                        <i class="fa fa-grin-wink text-cyan"></i>  Hello  : @Html.Label("" + User.Identity.GetUserName()
+ "", null, htmlAttributes: new { title = "Manage" })
                    </a>
                    <a>

                        @if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 12)
                        {
                            <medium style="font-family:Calibri">
                                <i class="fa fa-cloud-sun text-cyan"></i> Good Morning
                            </medium>
                        }
                        else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
                        {
                            <medium style="font-family:Calibri">
                                <i class="fa fa-sun text-cyan"></i> : Good Afternoon
                            </medium>
                        }
                        else
                        {
                            <medium style="font-family:Calibri">
                                <i class="fa fa-cloud-sun text-cyan"></i> : Good Evenning
                            </medium>
                        }



                    </a>
                    <a>

                        
                            
                            @if (this.User.IsInRole("Candidate"))
                            {<div style="font-family:Calibri">
                                <i class="fa fa-circle-notch text-cyan"></i>   Access :  <span class="badge badge-pill badge-info"><i class="fa fa-book-reader"></i> Candidate </span>
                                </div>
                            }
                            else if (this.User.IsInRole("Admin"))
                            { <div style="font-family:Calibri">
                                 <i class="fa fa-circle-notch text-cyan"></i>   Access :    <span class="badge badge-pill badge-info"><i class="fa fa-user-cog"></i> Admin </span>
                                </div>}
                            else if (this.User.IsInRole("Employer"))
                            { <div style="font-family:Calibri">
                                   <i class="fa fa-circle-notch text-cyan"></i>   Access :  <span class="badge badge-pill badge-info"><i class="fa fa-user-clock"></i> Employer </span>
                                </div>}


                        
                    </a>
               
            </div>

            </div>

            <!-- SidebarSearch Form -->
            <!-- Sidebar Menu -->
            <nav class="mt-2" style="text-align:left">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->





                    <li class="nav-item menu-open">
                        <a href="@Url.Action("Index", "Home")" class="nav-link bg-cyan">
                            <i class="nav-icon fa fa-home text-white"></i>
                            <p style="color:white">
                                Home-Page

                            </p>
                        </a>
                    </li>
                    @if (this.User.IsInRole("Candidate"))
                    {
                        <li class="nav-header">Profile</li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "jobs")" class="nav-link">
                                <i class="fa fa-chart-line text-cyan nav-icon"></i>
                                <p style="font-family:Calibri;color:black">
                                    DashBoard <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">


                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-user-circle text-cyan"></i>
                                <p style="color: black; font-family: Calibri">
                                    My Profile <i class="fas fa-angle-left right"></i>


                                </p>

                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Profile")" class="nav-link">
                                        <i class="fa fa-clipboard-list text-cyan nav-icon"></i>
                                        <p style="font-family:Calibri;color:black">
                                            General Info  <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("my_files", "files")" class="nav-link">
                                        <i class="fa fa-folder-open text-cyan nav-icon"></i>
                                        <p style="font-family:Calibri;color:black">
                                            My Documents <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-header">Jobs section</li>
                        <li class="nav-item">


                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-bezier-curve text-cyan"></i>
                                <p style="color: black; font-family: Calibri">
                                    Jobs Dash <i class="fas fa-angle-left right"></i>


                                </p>

                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Open_Jobs", "jobs")" class="nav-link">
                                        <i class="fa fa-clipboard-list text-cyan nav-icon"></i>
                                        <p style="font-family:Calibri;color:black">
                                            Open Jobs  <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Applications")" class="nav-link">
                                        <i class="fa fa-briefcase text-cyan nav-icon"></i>
                                        <p style="font-family:Calibri;color:black">
                                            Applied Jobs <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }



                    @if (this.User.IsInRole("Employer"))
                    {
                        <li class="nav-item">


                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-briefcase text-cyan"></i>
                                <p style="color: black; font-family: Calibri">
                                    Jobs Section <i class="fas fa-angle-left right"></i>


                                </p>

                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Create", "jobs")" class="nav-link">
                                        <i class="fa fa-clipboard-list text-cyan nav-icon"></i>
                                        <p style="font-family:Calibri;color:black">
                                            Post Job  <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "jobs")" class="nav-link">
                                        <i class="fa fa-clipboard-list text-cyan nav-icon"></i>
                                        <p style="font-family:Calibri;color:black">
                                            Jobs list <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                </li>
                            </ul>

                        </li>

                    }

                        @if (this.User.IsInRole("Admin"))
                        {
                            <li class="nav-header">Admin</li>



                            <li class="nav-item">


                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-layer-group text-cyan"></i>
                                    <p style="color: black; font-family: Calibri">
                                        Sectors <i class="fas fa-angle-left right"></i>


                                    </p>

                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Create", "Sectors")" class="nav-link">
                                            <i class="fa fa-plus-circle text-cyan nav-icon"></i>
                                            <p style="font-family:Calibri;color:black">
                                                Add sector  <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Sectors")" class="nav-link">
                                            <i class="fa fa-layer-group text-cyan nav-icon"></i>
                                            <p style="font-family:Calibri;color:black">
                                                Sectors list <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </a>
                                    </li>
                                </ul>

                            </li>


                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Service")" class="nav-link">

                                    <i class="fa fa-cogs text-black nav-icon"></i>
                                    <p style="color: black">
                                        Admin <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">

                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Data")" class="nav-link">

                                            <i class="fa fa-users text-black nav-icon"></i>
                                            <p style="color: black">
                                                All  Profile
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Configuration")" class="nav-link">

                                            <i class="fa fa-cogs text-black nav-icon"></i>
                                            <p style="color: black">
                                                Configurations
                                            </p>
                                        </a>
                                    </li>
                                </ul>


                            </li>



                        }





                        <li class="nav-header">
                            Version 2.0.0

                        </li>
                        <li>
                            <small style="color:black"> Powered By Speculate Techs</small>
                        </li>

                    </ul>

            </nav>

        </div>

    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="background-image: url('../../Images/bgg.jpg');
        background-repeat: no-repeat;
        background-size: cover;">





        @RenderBody()




    </div>

   
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/FrontEnd/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/FrontEnd/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/FrontEnd/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/FrontEnd/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/FrontEnd/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/FrontEnd/plugins/moment/moment.min.js"></script>
    <script src="~/FrontEnd/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/FrontEnd/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/FrontEnd/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/FrontEnd/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/FrontEnd/dist/js/pages/dashboard.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>