@model IShop.Core.Expense

@{
    ViewBag.Title = "Edit";
}
<br />
<div class="col d-flex justify-content-center">
    <div class="col-md-9" style="border-radius: 24px;">
        <!-- Widget: user widget style 2 -->
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header" style="background-color:navy ">

                <!-- /.widget-user-image -->

                <h5 style="color:white">  Expense Update </h5>


            </div>
            <div class="card-body" style="background-color: #ffffffc1">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row">


                        <div class="form-group col-md-4">
                            <label style="font-family:Quicksand;">@Html.LabelFor(model => model.CreatedOn)</label>
                            @Html.EditorFor(model => model.CreatedOn, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control ",

                               @Readonly = true
                           }
                       })
                        </div>


                        <div class="form-group col-md-3">
                            <label style="font-family:Quicksand;">@Html.LabelFor(model => model.Amount)</label>
                            @Html.EditorFor(model => model.Amount, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control ",


                           }
                       })
                        </div>
                    </div>

                    <div class="form-row">


                        <div class="form-group col-md-2">
                            <label style="font-family:Quicksand;">@Html.LabelFor(model => model.Status)</label>
                            @Html.EditorFor(model => model.Status, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control ",

                               @Readonly = true
                           }
                       })
                        </div>
                    </div>
                   
                        <p style="font-family:Calibri">
                            <i class="fa fa-comment text-yellow"></i>
                            Additional Information
                        </p>
                        <div class="form-row">


                            @Html.TextAreaFor(model => model.Additional_Notes, 4, 70, htmlAttributes: new
                       {
                           style = "width: 70%; max-width:70%;",
                           @placeholder = "Additional information",
                           @autofocus = ""
                           ,
                           @class = "form-control form-rounded2"

                       })
                        </div>








                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update Expense" class="btn btn-success" />
                                || @Html.ActionLink("Cancel", "Index", "Expense", null, new { @class = "btn btn-danger btn" })
                            </div>
                        </div>

                        }

