@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Expense>

@{
    ViewBag.Title = "Expense";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.95);">


    <div class="card-header" style="background-color: black">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-thin fa-history"></i>
            Expenses
        </h3>





    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>



    <div>









        <div class="table-responsive" style="min-height: 300px">
            <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable">


                <thead>
                    <tr style="color:white">
                        <th style="background-color: black; "> Post On</th>
                        <th style="background-color: black; "> Category</th>

                        <th style="background-color: black; ">Amount </th>
                        <th style="background-color: black; ">Action </th>



                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-widget="expandable-table" aria-expanded="false">

                            <td style="background-color:white">
                                <small> <i class="fa fa-calendar text-green"></i> @item.CreatedOn.ToString("dd-MMMM-yyyy")</small>
                            </td>
                            <td style="background-color:white"><i class="fa fa-layer-group text-orange"></i>  @item.Item : <small>@item.Mode</small></td>

                            <td style="background-color:white"><i class="fa fa-user-circle text-green"></i> @item.Total.ToString("#,##0.00")</td>



                            <td style="background-color:ghostwhite">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn-xs btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-file-invoice"></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                        <div class="dropdown-divider"></div>

                                        <a href="javascript:void(0);" class="anchorDetail dropdown-item" data-id="@item.Id">
                                            <i class="fa fa-eye text-primary"></i> View
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="if (confirm('Are you sure you want to drop this expense?')) { window.location.href = '@Url.Action("Drop", "Expense", new { id = item.Id })'; }">
                                            <i class="fa fa-times-circle text-danger"></i> Drop Expense
                                        </a>
                                        <script>
                                            $(function () {
                                                $('#Deny').click(function () {
                                                    if (confirm('Are you sure?')) {
                                                        window.location.href = $(this).data('url');
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>

                                </div>






                            </td>











                        </tr>


                    }
                </tbody>
            </table>
            @if (Model.Count() == 0)
            {
                <div style="text-align:center">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-black">
                            <span class="info-box-icon"><i class="far fa-bed"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text"> <img src="~/Images/logo.png" height="50" /> </span>


                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <span class="progress-description">
                                    <i class="fa fa-calendar text-white nav-icon"></i>   No records Found
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            }
            <hr />

            @foreach (var item in ViewBag.l9)
            {
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-7" style="border-radius: 24px;">
                        <div class="info-box" style="border-radius: 14px;background-color:darkslategrey">
                            <span><i class="fa fa-book-reader text-white"></i></span>

                            <div class="info-box-content" style="color:white">
                                <span class="info-box-text">Month - @DateTime.Now.ToString("MMMM")</span>
                                <span class="info-box-number">@item.Total_Month.ToString("#,##0.00") </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-2 col-sm-4 col-8">
                        <div class="info-box" style="border-radius: 14px;background-color:black">
                            <span><i class="fa fa-clipboard-list text-white"></i></span>

                            <div class="info-box-content" style="color:white">
                                <span class="info-box-text">Week - </span>
                                <span class="info-box-number">@item.Total_Week.ToString("#,##0.00") </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-2 col-sm-4 col-9">
                        <div class="info-box" style="border-radius: 14px;background-color:#064e12">
                            <span><i class="fa fa-calendar-day text-white"></i></span>

                            <div class="info-box-content" style="color:white">
                                <span class="info-box-text">Today-@DateTime.Now.ToString("dddd")</span>
                                <span class="info-box-number">@item.Total_Today.ToString("#,##0.00") </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            }



            <div id='Details' class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id='myModalContent'></div>
                    </div>
                </div>
            </div>


            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script>
                var TeamDetailPostBackURL = '/Expense/Details';
                $(function () {
                    $(".anchorDetail").click(function () {
                        var $buttonClicked = $(this);
                        var id = $buttonClicked.attr('data-id');
                        $.ajax({
                            type: "GET",
                            url: TeamDetailPostBackURL,
                            contentType: "application/json; charset=utf-8",
                            data: { "Id": id },
                            datatype: "json",
                            success: function (data) {
                                $('#myModalContent').html(data);
                                $('#Details').modal('show').fade(900);
                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        });
                    });
                });
            </script>


























            <style>
                .ul.pagination {
                    display: inline-block;
                    padding: 1;
                    margin: 1;
                    border-radius: 0.5rem;
                }

                ul.pagination li {
                    display: inline;
                }

                    ul.pagination li a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color;
                        background-color: #ddd;
                        border-color: white;
                        border-radius: 0.5rem;
                    }

                        ul.pagination li a.active {
                            background-color: dodgerblue;
                            color: white;
                        }

                        ul.pagination li a:hover:not(.active) {
                            background-color: dodgerblue;
                            border-radius: 0.5rem;
                        }
            </style>
            <div id="container" style="text-align:left">

                <div class="pagination" style="text-align:left">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
                  , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
                </div>
            </div>


        </div>



</div>
