@model Ishop.Models.ForgotPasswordViewModel

@{Layout = null;}



@{
    ViewBag.Title = "Forgot Password";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="~/FrontEnd2/vendors/images/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="~/FrontEnd2/vendors/images/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/FrontEnd2/vendors/images/favicon-16x16.png" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/FrontEnd2/vendors/styles/core.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/FrontEnd2/vendors/styles/icon-font.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="src/plugins/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="src/plugins/datatables/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/FrontEnd2/vendors/styles/style.css" />
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>Forgot Password</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="~/FrontEnd2/vendors/images/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="~/FrontEnd2/vendors/images/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/FrontEnd2/vendors/images/favicon-16x16.png" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/FrontEnd2/~/FrontEndvendors/styles/core.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/FrontEnd2/vendors/styles/icon-font.min.css" />
    <link rel="stylesheet" type="text/css" href="~/FrontEnd2/vendors/styles/style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"></script>
    <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
            crossorigin="anonymous"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <div class="login-header box-shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Images/trace.svg" alt="" height="130" width="130" />
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")"><i class="dw dw-login"></i>  Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="~/FrontEnd2/vendors/images/forgot-password.png" alt="" />
                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        <div class="col-md-12">
                            <div class="login-box bg-white box-shadow border-radius-10">
                                <div class="login-title">
                                    <h2 class="text-center text-primary">Forgot Password</h2>
                                </div>
                                <h6 class="mb-20">
                                    Enter your email address to reset your password
                                </h6>
                                <form>
                                    <div class="input-group custom">
                                        @Html.EditorFor(model => model.Email, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control form-rounded",
                                           @PlaceHolder = "Email Address"
                                       }
                                   })
                                        <div class="input-group-append custom">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-5">
                                            <div class="input-group mb-0">
                                                <!--
                                                    use code for form submit
                                                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                                                -->
                                                <input type="submit" class="btn btn btn-success" value="Email Reset Link" />
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="font-16 weight-600 text-center"
                                                 data-color="#707373">
                                                OR
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="input-group mb-0">
                                                <a class="btn btn-outline-primary btn-lg btn-block"
                                                   href="@Url.Action("Login", "Account")">Login</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-divider"></div>
                                    <small><b>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</b></small>
                                    <div class="hello">

                                        <small style="color:navy">
                                            @if (TempData["Msg"] != null)
                                            {

                                                <i class="fa fa-spin fa-circle-notch text-success"></i> @TempData["Msg"]

                                            }
                                        </small>
                                    </div>
                                    <script>
                                        window.setTimeout(function () {
                                            $(".hello").fadeTo(500, 0).slideUp(500, function () {
                                                $(this).remove();
                                            });
                                        }, 2000);
                                    </script>
                                </form>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <!-- welcome modal start -->
    <!-- welcome modal end -->
    <!-- js -->
    <script src="FrontEnd2/vendors/scripts/core.js"></script>
    <script src="vendors/scripts/script.min.js"></script>
    <script src="vendors/scripts/process.js"></script>
    <script src="vendors/scripts/layout-settings.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
                height="0"
                width="0"
                style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>
