@model Ishop.Models.ForgotPasswordViewModel

@{Layout = null;}



@{
    ViewBag.Title = "Forgot Password";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition login-page" style="background-image: url('../../Images/bgw.jpg');
        background-repeat: no-repeat;
        background-size: cover;;">
    <br />


    <style type="text/css">
        .loading {
            font-size: 10pt;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            z-index: 999;
        }

        .form-rounded {
            border-radius: 1rem;
        }
    </style>




  

        <div class="card card-outline card-success" style="background-color: rgb(255, 255, 255, 0.74);border-radius:24px">
            <div class="card-header">
                <a style="text-align:center"><img src="~/Images/sharpolex.png" height="70" /> </a>
                <hr />




                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <form>



                        <div class="form-row">


                            <h6 style="color:black">Provide your account email </h6>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group col-md-10">
                                <label style="color: black">@Html.LabelFor(model => model.Email)</label>

                                @Html.EditorFor(model => model.Email, new
        {
            htmlAttributes = new
            {
                @class = "form-control form-rounded",
               @PlaceHolder = "Email Address"
            }
        })  @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            </div>


            <div class="form-group col-md-10">
                <input type="submit" class="btn btn btn-success" value="Email Reset Link" /> ||

                @Html.ActionLink("Back to Login", "login", "Account", null, new { @class = "btn btn-primary btn" })
            </div>
            <br />

            <div class="hello">

                <small style="color:white">
                    @if (TempData["Msg"] != null)
                    {

                        @TempData["Msg"]

                    }
                </small>
            </div>
            <script>
                window.setTimeout(function () {
                    $(".hello").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 2000);
            </script>




            <br />
            <small style="color: black">© 2019- @DateTime.Now.Year</small>

            </form>

        }

            </div>
                        </div>
              
    </body>
</html>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
