@model Ishop.Models.RegisterViewModel
@{
    ViewBag.Title = "New Employe Account";
}
@{
    Layout = null;
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/")
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<!--Render the gauge item. Add these scripts only if your report contains the gauge report item.-->


<style>
    body {
        background-image: url("/Images/shop.jpg");
    }
</style>
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>
<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }
</style>


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>


<br />
<br />
<br />

@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <body  style="background-image: url('../../Images/bgg.jpg'); background-repeat: no-repeat; background-size: cover;">


        <div class="col d-flex justify-content-center">
            <div class="col-md-7 col-sm-9 col-12">
                <div class="card mb- mb-xl-0" style="border-radius: 14px; background-color: rgb(255, 255, 255, 0.89)">

                    <div class="card-outline card-cyan card-body text-left" style="border-radius: 14px;">
                        <h7 style="color:seagreen"><i class="fa fa-user-plus"></i> Account Registration.</h7>
                        <div class="dropdown-divider"></div>
                        <form>

                            @using (Ajax.BeginForm("Create", "T", new AjaxOptions { HttpMethod = "POST", OnSuccess = "submitSuccess" }))
                            {


                                <div class="form-row">

                                    <div class="form-group col-md-5">
                                        <label style="color:darkblue"><i class="fa fa-user-circle"></i>  Username</label>
                                        @Html.EditorFor(model => model.UserName, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control ",
                                           @PlaceHolder = "Username",
                                           @required = "required"
                                       }
                                   })  @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-5">
                                <label style="color:darkblue"><span class="fa fa-envelope text-cyan"></span>   Email Address</label>
                                @Html.EditorFor(model => model.Email, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @PlaceHolder = "Email Address",
                                   @required = "required"
                               }
                           })  @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label style="color:darkblue"><span> ***</span>  Password </label>
                        @Html.EditorFor(model => model.Password, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control  ",
                           @PlaceHolder = "Password",
                           @required = "required"

                       }
                   })  @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
                    <div class="form-group col-md-3">
                        <label style="color:darkblue"><span> ***</span> Confirm Password </label>
                        @Html.EditorFor(model => model.ConfirmPassword, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control ",
                           @PlaceHolder = "Confirm Password",
                           @required = "required"

                       }
                   })  @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>



    <asp:TextBox ID="txtPassword" runat="server" TextMode="Password" />

    <p id="toggle_pwd" class="fa fa-fw fa-eye field_icon text-primary"> </p>
    <small>Show password</small>

    <script type="text/javascript">
        $(function () {
            $("#toggle_pwd").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                $("[id*=Password]").attr("type", type);
            });
        });
    </script>




</div>
                <div class="form-group col-md-5">
                    <medium>Account Type</medium>
                    @{
                        List<SelectListItem> q = new List<SelectListItem>();
                        q.Add(new SelectListItem
                        {
                            Text = "Candidate",
                            Value = "Candidate",
                        });
                       
                        q.Add(new SelectListItem
                        {
                            Text = "Employer",
                            Value = "Employer",
                        });


                    }@Html.DropDownListFor(model => model.UserRoles, q, "--Account Type--", new { @class = "form-control form-control", @required = "required", })
                    </div>

                    <i class="fa fa-twitter"></i>
                    <hr />
                    <input type="submit" value="Create account" class="btn btn-success" />

                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary btn" })

              <hr />
             

}

</form>



                    </div>
                </div>

            </div>
        </div>

        @section Scripts
                            {
            @Scripts.Render("~/bundles/jqueryval")
        }


    </body>
}

