﻿@model Ishop.Models.ResetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/")
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <!--Render the gauge item. Add these scripts only if your report contains the gauge report item.-->


    <style>
        body {
            background-image: url("/Images/shop.jpg");
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
</head>
<style>
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid #d3d3d3;
        }

    .wrap-text {
        white-space: normal !important; /* Use !important to override other styles if needed */
    }
</style>

<br />
<br />
<br />
<br />
<body style="background-image: url('../../Images/neww.jpg');
        background-repeat: no-repeat;
        background-size: cover;">
    <div class="col d-flex justify-content-center">
        <div class="col-md-7 col-sm-12 col-12" style="border-radius: 14px;">
            <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #ffffff; color: navy; ">
                    <h8>   <span class="badge badge-warning"> <i class="fa fa-ussers"></i></span> Password Reset </h8>
                </div>

                <div class="card-body">

                    <div style="text-align:center">
                        <h5><img src="~/Images/2D.png" height="100px" />   </h5>
                        <p> Provide your new password below  </p>
                    </div>
                    <div class="dropdown-divider"></div>




                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)

                        <div class="row">
                            <div class="form-group col-9 col-md-5">
                                <label><span class="fa fa-envelope text-orange"></span>   Email Address</label>

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-sm", @Placeholder = "Email Address", @Value = ViewBag.Useremail, @readonly = "readonly" })

                            </div>
                            <div class="form-group col-7 col-md-4">
                                <label><span class="fa fa-key text-orange"></span> Set New Password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-sm", @Placeholder = "Password", @required = "required", id = "password" })
                            </div>
                        </div>
                        <p id="toggle_pwd" class="fa fa-fw fa-eye field_icon text-orange"> </p>
                        <small>Show password</small>
                        <div class="row">

                            <div class="form-group col-9 col-md-4" style="display:none">
                                <label><span class="fa fa-envelope text-orange"></span> Confirm Password</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm", @Placeholder = "Password", @required = "required", id = "confirmPassword" })
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $("#toggle_pwd").click(function () {
                                        $(this).toggleClass("fa-eye fa-eye-slash");
                                        var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                                        $("[id*=password]").attr("type", type);
                                    });
                                });
                            </script>
                            <script>
                                $(document).ready(function () {
                                    // Listen for input events on the password field
                                    $('#password').on('input', function () {
                                        // Update the value of the confirm password field
                                        $('#confirmPassword').val($(this).val());
                                    });
                                });
                            </script>

                        </div>
                        <div class="form-group" style="color:white">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-primary" value="Reset Password" />
                                ||
                                <input type="reset" class="btn btn-danger" value="Cancel" />
                                ||
                                <a class="btn btn-success "
                                   href="@Url.Action("Login", "Account")">Login back</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    </div>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
