@model Ishop.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>
<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }
</style>


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }
</style>




@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <br />
    <br />


    <div class="col d-flex justify-content-center">
        
                <div class="col-md-11 col-sm-12 col-12">
                    <div class="card mb- mb-xl-0" style="border-radius: 24px;">
                        <div class="card-header" style="background-color: #0656A5; color: white; border-radius: 14px ">
                            <i class="fa fa-bookmark"></i> New Account.
                        </div>
                        <div class="card-outline  card-body text-left" style="border-radius: 14px;">

                            <form>

                                @using (Ajax.BeginForm("Create", "T", new AjaxOptions { HttpMethod = "POST", OnSuccess = "submitSuccess" }))
                                {


                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label style="color:darkblue"> <i class="fa fa-user-circle"></i>  Fullnames</label>
                                            @Html.EditorFor(model => model.Fullname, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control form-control-sm",
                                               @Placeholder = "Fullname",
                                               @Required = true,


                                           }
                                       })

                                        </div>
                                        <div class="form-group col-md-2">
                                            <label style="color:darkblue"><i class="fa fa-user-tag"></i>   Username</label>
                                            @Html.EditorFor(model => model.UserName, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control  form-control-sm",
                                               @PlaceHolder = "Username",
                                               @required = "required"
                                           }
                                       })  @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    <div id="errorMessage2" style="display:none;color:red">
                                        <a href="#" style="color:red">
                                            <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>  Username already in use
                                        </a>
                                    </div>




                                    <script>
$(document).ready(function () {
    $("#UserName").keyup(function () {
        var UserName = $(this).val();
        $.ajax({
            url: "@Url.Action("CheckUsername", "Account")",
            data: { UserName: UserName },
            success: function (data) {
                if (data) {
                    $("#errorMessage2").show();
                    $("#myButton").hide();
                } else {
                    $("#errorMessage2").hide();
                    $("#myButton").show();
                }
            }
        });
    });
});
                                    </script>


                                </div>



                                <div class="form-group col-md-3">
                                    <label style="color:darkblue"><i class="fa fa-mobile"></i>  Phone No</label>
                                    @Html.EditorFor(model => model.PhoneNumber, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control  form-control-sm",
                                       @PlaceHolder = "PhoneNumber",
                                       @required = "required"
                                   }
                               })  @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3">
                                <label style="color:darkblue"><i class="fa fa-envelope"></i>   Email Address</label>
                                @Html.EditorFor(model => model.Email, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control  form-control-sm",
                                   @PlaceHolder = "Email Address",
                                   @required = "required"
                               }
                           })  @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })<span id="emailValidationResult"></span>
                            <div id="errorMessage" style="display:none;color:red">
                                <a href="#" style="color:red">
                                    <div class="spinner-border spinner-border-sm text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>  Email already in use
                                </a>
                            </div>




                            <script>
$(document).ready(function () {
    $("#Email").keyup(function () {
        var Email = $(this).val();
        $.ajax({
            url: "@Url.Action("CheckValueExists", "Account")",
            data: { Email: Email },
            success: function (data) {
                if (data) {
                    $("#errorMessage").show();
                    $("#myButton").hide();
                } else {
                    $("#errorMessage").hide();
                    $("#myButton").show();
                }
            }
        });
    });
});
                            </script>
                            </div>

                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script>
    $(document).ready(function () {
        $("#Email").on("input", function () {
            var email = $(this).val();

            $.ajax({
                url: '@Url.Action("ValidateEmail", "Account")',
                type: 'POST',
                data: { email: email },
                success: function (result) {
                    if (result.isValid) {
                        $("#emailValidationResult").text("Valid email address.").css("color", "green");
                    } else {
                        $("#emailValidationResult").text("Invalid email address.").css("color", "red");
                    }
                }
            });
        });
    });
                            </script>
                            </div>

                            <div class="dropdown-divider"></div>




                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label style="color:darkblue">Password </label>
                                    @Html.EditorFor(model => model.Password, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm ",
                                       @PlaceHolder = "Password",
                                       @required = "required"

                                   }
                               })  @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3">
                                <label style="color:darkblue">Confirm Password </label>
                                @Html.EditorFor(model => model.ConfirmPassword, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm ",
                                   @PlaceHolder = "Confirm Password",
                                   @required = "required"

                               }
                           })  @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3">
                                <label style="color:darkblue"><i class="fa fa-user-check"></i> Designation </label>
                                @Html.EditorFor(model => model.Designation, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control-sm",
                                   @Placeholder = "Designation",
                                   @Required = true,


                               }
                           })

                            </div>
                            <div class="form-group col-md-3">
                                <label style="color:darkblue"><i class="fa fa-university"></i> Department </label>
                                @Html.DropDownList("DprtName", ViewBag.Department as SelectList, "--Select Department--", new { @class = "form-control form-control-sm", @Required = true })
                            </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="form-row">

                                

                                <script type="text/javascript">
                                    $(function () {

                                        $("#DprtName").chosen();
                                        $("#UsesrRoles").chosen();

                                    });
                                </script>
                                <div class="form-group col-md-2">

                                    <label style="color:darkblue"><i class="fa fa-tags"></i>   Account </label>
                                    @Html.EditorFor(model => model.UserRoles, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control form-control-sm",
                                       @Placeholder = "Designation",
                                       @Value = "Employee",
                                       @Readonly = true,


                                   }
                               })

                                </div>


                                <asp:TextBox ID="txtPassword" runat="server" TextMode="Password" />

                                <p id="toggle_pwd" class="fa fa-fw fa-eye field_icon text-primary"> </p>
                                <small>Show password</small>
                                <script type="text/javascript">
                                    $(function () {
                                        $("#toggle_pwd").click(function () {
                                            $(this).toggleClass("fa-eye fa-eye-slash");
                                            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                                            $("[id*=Password]").attr("type", type);
                                        });
                                    });
                                </script>


                            </div>
                            <div class="dropdown-divider"></div>

                            <input type="submit" value="Add New Account" class="btn btn-success" /> <small>||</small>
                            <input type="Reset" value="Reset" class="btn btn-danger" /> <small>||</small>
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary btn" })




                        }

                            </form>



                        </div>
                    </div>

                </div>
            </div>

}

@section Scripts
                            {
    @Scripts.Render("~/bundles/jqueryval")
}
