@model IShop.Core.CheckIn

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }

    form-rounded2 {
        border-radius: 4rem;
        border-color: orangered;
    }

    .form-rounded1 {
        border-radius: 1rem;
        border-color: red;
    }

    .form-control:focus {
        border-color: #0faa09;
    }
</style>


<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>



@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
<!-- /.card-header -->

<div class="col d-flex justify-content-center">
    <div class="col-md-9 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #803209; color: white; border-radius: 14px ">
                <i class="fa fa-spinner"></i> CheckIn Images
            </div>
            <div class="card-body" style="background-color: white;border-radius: 24px;">
                <div class="card-body" style="background-color: #ffffffc1;border-radius: 24px;">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })







                        <div class="form-row">
                            <div class="form-group col-md-4" style="display:none">
                                <label><i class="fa fa-calendar-day text-orange"></i> @Html.LabelFor(model => model.CreatedOn)</label>
                                @Html.EditorFor(model => model.CreatedOn, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control form-control ",
                                   @placeholder = " Expense Date",
                                   @Value = DateTime.Now,
                                        @Readonly = true
                               }
                           })
                            </div>

                            <div class="col-6 col-md-3">
                                <label><i class="fa fa-plus-circle text-orange"></i>   @Html.LabelFor(model => model.Make)</label>
                                @Html.EditorFor(model => model.Make, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @Placeholder = "Vehicle_Reg",
                                   @Readonly = true
                               }
                           })
                            </div>

                            <div class="col-6 col-md-3">
                                <label><i class="fa fa-plus-circle text-orange"></i>   @Html.LabelFor(model => model.Model)</label>
                                @Html.EditorFor(model => model.Model, new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control ",
                                         @Placeholder = "Vehicle_Reg",
                                         @Readonly = true
                                     }
                                 })
                            </div>
                            
                            <div class="col-6 col-md-3">
                                <label><i class="fa fa-car text-orange"></i>   @Html.LabelFor(model => model.Vehicle_Reg)</label>
                                @Html.EditorFor(model => model.Vehicle_Reg, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @Placeholder = "Vehicle_Reg",
                                   @Readonly = true
                               }
                           })
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-6 col-md-3">
                                <label><i class="fa fa-user-circle text-orange"></i>   @Html.LabelFor(model => model.Customer)</label>
                                @Html.EditorFor(model => model.Customer, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @Placeholder = "Customer",
                                   @Readonly = true
                               }
                           })
                            </div>
                            <div class="col-6 col-md-3">
                                <label><i class="fa fa-mobile text-orange"></i>   @Html.LabelFor(model => model.Phone)</label>
                                @Html.EditorFor(model => model.Phone, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @Placeholder = "phone Number",
                                   @Readonly = true
                               }
                           })
                            </div>

                        </div>

                        <div class="dropdown-divider">
                        </div>
                        <div style="text-align:right">
                            <a href="@Url.Action("Upload", "Files", new { id = Model.Id})" class="btn-sm btn btn-warning btn"><i class="fa fa-images text-black"></i> Add Images</a>
                        </div>


                        <div class="row">
                            @foreach (var item2 in ViewBag.CheckIn)
                            {
                                <div class="card">

                                    <div class="image-container">
                                        
                                           <p> <img src="@item2.Path" height="130" class="magnific-popup" style="border-radius: 7px;" /></p>
                                        
                                       
                                        <link href="~/Content/magnific-popup.css" rel="stylesheet" />
                                        <script src="~/Scripts/jquery.magnific-popup.js"></script>
                                        <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
                                        <script>
                                            $(document).ready(function () {
                                                $('.magnific-popup').magnificPopup({
                                                    type: 'image',
                                                    mainClass: 'mfp-fade',
                                                    gallery: {
                                                        enabled: true
                                                    }
                                                });
                                            });
                                        </script>
                                        <style>
                                            .image-container img {
                                                margin-right: 20px;
                                            }
                                        </style>


                                        <a href="@Url.Action("Delete_File", "Files", new { @item2.id })" class="btn-xs btn btn-danger btn"
                                           onclick="if (confirm('Are you sure you want to delete this file?')) { window.location.href = '@Url.Action("Delete_File", "Files", new { @item2.id})'; }">
                                        <i class="fa fa-trash text-white"></i> Delete</a>
                                    </div>

                                </div>




                            }
                        </div>

                        <div class="dropdown-divider">
                        </div>
                        <div>
                            @Html.ActionLink("Done", "Index", null, new { @class = "btn btn-success btn" }) ||
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
