@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.CheckIn>

@{
    ViewBag.Title = "Vehicle Bookings";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.95);">


    <div class="card-header" style="background-color: #001F3F; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-car"></i>
            Vehicle Bookings
        </h3>

        <div style="text-align: right; color: white ">


            @Html.ActionLink("Add Booking ", "Create", "CheckIns", null, new { @class = "btn btn-sm btn-default btn" })





        </div>



    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>



    <div>









        <div class="table-responsive" style="min-height: 300px">
            <table class="table table-bordered table-hover  text-nowrap table-condensed table-striped table-hover sortable curved-table">


                <thead>
                    <tr style="color:white">
                        <th style="background-color: #001F3F; "> #</th>
                        <th style="background-color: #001F3F; "> Booking Date</th>
                        <th style="background-color: #001F3F; "> Vehicle Registration</th>
                        <th style="background-color: #001F3F; "> Owner</th>
                        <th style="background-color: #001F3F; ">Phone Number </th>
                        <th style="background-color: #001F3F; ">Vehicle</th>
                        <th style="background-color: #001F3F; ">Action</th>


                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-widget="expandable-table" aria-expanded="false">
                            <td style="background-color:white">  @item.Id </td>
                            <td style="background-color:white">
                                <i class="fa fa-calendar-check text-orange"></i> @item.CreatedOn.ToString("dd-MMMM-yyyy")
                            </td>
                            <td style="background-color:white"><i class="fa fa-barcode text-orange"></i>  @item.Vehicle_Reg </td>
                            <td style="background-color:white"><i class="fa fa-user-circle text-orange"></i>  @item.Customer </td>
                            <td style="background-color:white"><i class="fa fa-mobile text-orange"></i>  @item.Phone </td>
                            <td style="background-color:white"><i class="fa fa-car text-orange"></i>  @item.Make @item.Model @item.Type  </td>

                            <td style="background-color:ghostwhite">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cogs"></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                        <a class="dropdown-item" onclick="if (confirm('Proceed to create Estimate?')) { window.location.href = '@Url.Action("create", "Estimate", new { id = item.Id })'; }">
                                            <i class="fas fa-clipboard-list text-orange"></i> Create Estimate
                                        </a>
                                        <script>
                                            $(function () {
                                                $('#Delete_User').click(function () {
                                                    if (confirm('Are you sure?')) {
                                                        window.location.href = $(this).data('url');
                                                    }
                                                });
                                            });
                                        </script>
                                        <div class="dropdown-divider"></div>
                                        <a href="@Url.Action("Delete", "CheckIns", new { id = item.Id })" class="dropdown-item"><i class="fa fa-trash text-danger"></i> Delete Booking</a>
                                    </div>

                                </div>






                            </td>









                        </tr>


                    }
                </tbody>
            </table>
            @if (Model.Count() == 0)
            {
                <div style="text-align:center">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-gradient-black">
                            <span class="info-box-icon"><i class="far fa-bed"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text"> <img src="~/Images/logo.png" height="50" /> </span>


                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <span class="progress-description">
                                    <i class="fa fa-calendar text-white nav-icon"></i>   No records Found
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            }
            <hr />
            <style>
                .ul.pagination {
                    display: inline-block;
                    padding: 1;
                    margin: 1;
                    border-radius: 0.5rem;
                }

                ul.pagination li {
                    display: inline;
                }

                    ul.pagination li a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color;
                        background-color: #ddd;
                        border-color: white;
                        border-radius: 0.5rem;
                    }

                        ul.pagination li a.active {
                            background-color: dodgerblue;
                            color: white;
                        }

                        ul.pagination li a:hover:not(.active) {
                            background-color: dodgerblue;
                            border-radius: 0.5rem;
                        }
            </style>
            <div id="container" style="text-align:left">

                <div class="pagination" style="text-align:left">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
                  , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
                </div>
            </div>

























        </div>



    </div>
