@model IShop.Core.Configs

@{
    ViewBag.Title = "Create";
}


<br />

<div class="col d-flex justify-content-center">
    <div class="col-md-11 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #001F3F;color:white">
                <i class="fa fa-paper-plane text-white nav-icon"></i> Configs Set
            </div>
            <div class="card-body">



                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.Email) </label>
                        @Html.EditorFor(model => model.Email, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-control-sm",
                           placeholder = "Email",
                           @required = "required",


                       }
                   })

                    </div>

                    <div class="form-group col-md-3">
                        <label>
                            <i class="fa fa-plane text-warning"></i> @Html.LabelFor(model => model.Password)
                        </label>
                        @Html.TextBoxFor(model => model.Password, new
                        {
                            @class = "form-control form-control-sm",
                            placeholder = "Password",
                       @required = "required",
                   })
                        @Html.ValidationMessageFor(model => model.Password)

                    </div>
                    <div class="form-group col-md-3">
                        <label>
                            <i class="fa fa-plane text-warning"></i> @Html.LabelFor(model => model.Smtp)
                        </label>
                        @Html.TextBoxFor(model => model.Smtp, new
                        {
                            @class = "form-control form-control-sm",
                            placeholder = "Smtp",
                       @required = "required",
                   })
                        @Html.ValidationMessageFor(model => model.Password)

                    </div>
                    <div class="form-group col-md-2">
                        <label>
                            <i class="fa fa-circle-notch text-warning"></i> @Html.LabelFor(model => model.port)
                        </label>
                        @Html.TextBoxFor(model => model.port, new
                        {
                            @class = "form-control form-control-sm",
                            placeholder = "port",
                       @required = "required",
                   })
                        @Html.ValidationMessageFor(model => model.Password)

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.SSRSReportsUrl) </label>
                        @Html.EditorFor(model => model.SSRSReportsUrl, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-control-sm",
                           placeholder = "SSRSReportsUrl",
                           @required = "required",


                       }
                   })

                    </div>
                    <div class="form-group col-md-4">
                        <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.Business_mail) </label>
                        @Html.EditorFor(model => model.Business_mail, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control form-control-sm ",
                           placeholder = "Business_mail",
                           @required = "required",


                       }
                   })

                    </div>
                    <div class="form-group col-md-3">
                        <label><i class="fa fa-spinner text-orange"></i> @Html.LabelFor(model => model.RunTime) </label>
                        @{
                            List<SelectListItem> m = new List<SelectListItem>();
                            m.Add(new SelectListItem
                            {
                                Text = "Monday",
                                Value = "Monday",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Tuesday",
                                Value = "Tuesday",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Wednesday",
                                Value = "Wednesday",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Thursday",
                                Value = "Thursday",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Friday",
                                Value = "Friday",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Saturday",
                                Value = "Saturday",
                            });
                            m.Add(new SelectListItem
                            {
                                Text = "Sunday",
                                Value = "Sunday",
                            });
                        }
                        @Html.DropDownListFor(model => model.RunTime, m, "---Timesheet RunDay---", new { @class = "form-control form-control-sm", @required = "required" })
                    </div>

                </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save " class="btn btn-warning" />
                            || @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>