@model Ishop.Models.Config

@{
    ViewBag.Title = "Edit";
}

<br />

<div class="col d-flex justify-content-center">
    <div class="col-md-8 col-sm-8 col-8">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #001F3F;color:white">
                <i class="fa fa-paper-plane text-white nav-icon"></i> Configs update
            </div>
            <div class="card-body">



                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.Email) </label>
                            @Html.EditorFor(model => model.Email, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control ",
                               placeholder = "Email",
                               @required = "required",


                           }
                       })

                        </div>

                        <div class="form-group col-md-3">
                            <label>
                                <i class="fa fa-plane text-warning"></i> @Html.LabelFor(model => model.Password)
                            </label>
                            @Html.TextBoxFor(model => model.Password, new
                            {
                                @class = "form-control",
                                placeholder = "Password",
                           @required = "required",
                       })
                            @Html.ValidationMessageFor(model => model.Password)

                        </div>
                        <div class="form-group col-md-3">
                            <label>
                                <i class="fa fa-plane text-warning"></i> @Html.LabelFor(model => model.Smtp)
                            </label>
                            @Html.TextBoxFor(model => model.Smtp, new
                            {
                                @class = "form-control",
                                placeholder = "Smtp",
                           @required = "required",
                       })
                            @Html.ValidationMessageFor(model => model.Password)

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.SSRSReportsUrl) </label>
                            @Html.EditorFor(model => model.SSRSReportsUrl, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control ",
                               placeholder = "SSRSReportsUrl",
                               @required = "required",


                           }
                       })

                        </div>
                        <div class="form-group col-md-4">
                            <label><i class="fa fa-calendar text-warning"></i> @Html.LabelFor(model => model.Business_mail) </label>
                            @Html.EditorFor(model => model.Business_mail, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control ",
                               placeholder = "Business_mail",
                               @required = "required",


                           }
                       })

                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update Configs" class="btn btn-primary" />
                        </div>
                    </div>

                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
