@model IEnumerable<Ishop.Models.Config>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>

@foreach (var item in Model)
{
    <br />
    <br />
    <br />
    <br />


    <div class="col d-flex justify-content-center">
        <div class="col-md-7" style="border-radius: 14px;">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2" style="border-radius: 14px;">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                @if (TempData["Msg"] != null)
                {<div class="row">
                        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["Msg"]
                        </div>
                    </div>
                }

                <script>
                    window.setTimeout(function () {
                        $(".alert").fadeTo(900, 0).slideUp(900, function () {
                            $(this).remove();
                        });
                    }, 2000);
                </script>


                <div class="card-outline card-primary card-body text-left" style="border-radius: 14px;">
                    <h6>Email Addrress</h6>
                    <div class="divider"></div>
                    <medium>
                        <i class="fa fa-envelope text-primary"></i>   @item.Email
                    </medium>
                    ||
                    <medium>
                        <i class="fa fa-key text-primary"></i>   *******
                    </medium>
                    ||
                    <medium>
                        <i class="fa fa-layer-group text-primary"></i>   @item.Smtp
                    </medium>
                    <div class="divider"></div>
                    <hr />
                    <h6>Business Mail</h6>
                    <i class="fa fa-envelope text-primary"></i>   @item.Business_mail

                    <h6>ssrs</h6>

                    <medium>
                        <i class="fa fa-link text-primary"></i>    @item.SSRSReportsUrl
                    </medium>
                    <hr />

                    <div class="divider"></div>
                </div>
                <hr />
                <div>
                    @Html.ActionLink("Update Configurations", "Edit", "Configs", new { id = item.id }, new { @class = "btn btn-sm btn-primary btn" })
                </div>
            </div>
        </div>
    </div>



}@if (Model.Count() == 0)
{<div class="card" style="background-color: #ffffffd9">
        <br /> <br /> <br />
        <div class="card" style="background-color: #ffffffd9">
            <br />
            <div class="col d-flex justify-content-center">
                <div class="col-md-6" style="border-radius: 14px;">
                    <!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2" style="border-radius: 14px;">
                        <!-- Add the bg color to the header using any of the bg-* classes -->

                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="info-box bg-gradient-black">
                                <span class="info-box-icon"><i class="far fa-bed"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text"> <img src="~/Images/dddd.png" height="50" /> </span>


                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                    <span class="progress-description">
                                        <i class="fa fa-sync text-white nav-icon"></i>  Configs Data no set
                                    </span>
                                    @Html.ActionLink("Setup Configs", "Create", "Configs", null, new { @class = "btn btn-success btn-sm" })
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
