@model IEnumerable<IShop.Core.Configs>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>

@foreach (var item in Model)
{
    <br />
    <br />
    <br />
    <br />


    <div class="col d-flex justify-content-center">

        <!-- Widget: user widget style 2 -->
        
            <!-- Add the bg color to the header using any of the bg-* classes -->
            @if (TempData["Msg"] != null)
            {<div class="row">
                    <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Msg"]
                    </div>
                </div>
            }

            <script>
                window.setTimeout(function () {
                    $(".alert").fadeTo(900, 0).slideUp(900, function () {
                        $(this).remove();
                    });
                }, 2000);
            </script>



            <div class="col-xl-8" style="border-radius: 14px;">
                <div class="card-header" style="background-color: #001F3F; color: white "><i class="fa fa-envelope"></i> Mail Configs </div>
                <div class="card-body text-left" style="background-color: white">

                    <div class="row">
                        <div class="col-md-5 mb-5">
                            <small><i class="fa fa-envelope text-success"></i> Sending Mail</small>
                            <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @item.Email" ReadOnly=true>
                        </div>
                        <div class="col-md-3 mb-3">
                            <small><i class="fa fa-envelope text-success"></i> Mail Server</small>
                            <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["smtp"]" ReadOnly=true>
                        </div>
                        <div class="col-md-2 mb-2">
                            <small><i class="fa fa-circle-notch text-success"></i> Port</small>
                            <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["port"]" ReadOnly=true>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <small><i class="fa fa-cubes text-success"></i> Access Pwd</small>
                            <input type="password" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Password"]" ReadOnly=true>

                        </div>
                        <div class="col-md-4 mb-4">
                            <small><i class="fa fa-cubes text-success"></i> System link</small>
                            <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["Businesssmail"]" ReadOnly=true>

                        </div>
                        <div class="col-md-4 mb-4">
                            <small><i class="fa fa-chart-line text-success"></i> SSRS Server</small>
                            <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["SSRSReportsUrl"]" ReadOnly=true>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-5">
                            <small><i class="fa fa-cubes text-success"></i> Timesheet Setup Day & Time</small>
                            <input type="text" id="Email" name="Email" class="form-control form-control-sm" required="required" value=" @System.Configuration.ConfigurationManager.AppSettings["RunTime"]" ReadOnly=true>

                        </div>
                    </div>
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Update Configurations", "Edit", "Configs", new { id = item.Id }, new { @class = "btn btn-sm btn-success btn" })
                        ||
                        @Html.ActionLink("Back to  Configurations", "Index", "Configuration", null, new { @class = "btn btn-sm btn-primary btn" })
                    </div>
                </div>
        </div>





}@if (Model.Count() == 0)
{<div class="card" style="background-color: #ffffffd9">
        <br /> <br /> <br />
        <div class="card" style="background-color: #ffffffd9">
            <br />
            <div class="col d-flex justify-content-center">
                <div class="col-md-6" style="border-radius: 14px;">
                    <!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2" style="border-radius: 14px;">
                        <!-- Add the bg color to the header using any of the bg-* classes -->

                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="info-box bg-gradient-black">
                                <span class="info-box-icon"><i class="far fa-bed"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text"> <img src="~/Images/grs.png" height="50" /> </span>


                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                    <span class="progress-description">
                                        <i class="fa fa-sync text-white nav-icon"></i>  Configs Data no set
                                    </span>
                                    @Html.ActionLink("Setup Configs", "Create", "Configs", null, new { @class = "btn btn-success btn-sm" })
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
