@model IShop.Core.Child

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fullnames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullnames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
