@using PagedList;
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Child>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Children";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }

    .limited-lines {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.78);">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #0656A5; color: white; border-radius: 14px ">
        <h4 class="card-title" style="color:white">
            <i class="fa fa-users"></i>
            Children Data
        </h4>

        <div style="text-align: right; color: white ">
            @using (Html.BeginForm("Index", "Children", FormMethod.Get))
            {

                <a style="font-family: Calibri"> Child Name/ Project No</a>
                @Html.TextBox("search", null, new { @class = "form-rounded2", @PlaceHolder = "Child Name/ Project No" })
                <button type="submit" value="search" class="btn btn-sm btn-secondary">
                    <i class="fas fa-search"></i>
                </button>

                @Html.ActionLink("Add Child ", "Create", "Children", null, new { @class = "btn btn-sm btn-default btn" })
            }

        </div>



    </div>






    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>



    <div>









        <div class="table-responsive">
            <table class="table table-bordered table-hover   table-condensed table-striped table-hover sortable curved-table">


                <thead>
                    <tr style="color:white">

                        <th style="background-color: #0656A5">Project No</th>
                        <th style="background-color: #0656A5 ">Fullnames</th>
                        <th style="background-color: #0656A5 ">DOB</th>
                        <th style="background-color: #0656A5 ">Email Address</th>
                        <th style="background-color: #0656A5">Phone No</th>
                        <th style="background-color: #0656A5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td style="background-color: white"><span class="badge badge-warning"><i class="fa fa-bookmark text-white"></i>  KE 610</span>  <small><b>@item.Project_No</b></small> </td>
                            <td style="background-color: white"><i class="fa fa-user-circle text-primary"></i>  @item.Fullnames </td>
                            <td style="background-color: white"><i class="fa fa-calendar-check text-primary"></i>  @item.DOB.ToString("dd-MMMM-yyyy")</td>
                            <td style="background-color: white"><i class="fa fa-envelope text-primary"></i>  @item.Email_Address</td>
                            <td style="background-color: white"><i class="fa fa-mobile text-warning"></i>  @item.PhoneNumber</td>

                            <td style="background-color:ghostwhite">

                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-hashtag"></i>  . Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                        <div class="dropdown-divider"></div>
                                        <a href="@Url.Action("Edit", "Children", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-pen-nib text-primary"></i> Update Child Info
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="@Url.Action("Send_sms", "outgoingsms", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-sms text-primary"></i> Send an Sms
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="if (confirm('Are you sure you want to delete  ')) { window.location.href = '@Url.Action("Delete", "Children", new { id = item.Id, })'; }">
                                            <i class="fa fa-times-circle text-danger"></i> Delete Child info
                                        </a>
                                        <script>
                                            $(function () {
                                                $('#Deny').click(function () {
                                                    if (confirm('Are you sure?')) {
                                                        window.location.href = $(this).data('url');
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                </td>
                        </tr>

                    }
                </tbody>
            </table>




            <style>
                .ul.pagination {
                    display: inline-block;
                    padding: 1;
                    margin: 1;
                    border-radius: 0.5rem;
                }

                ul.pagination li {
                    display: inline;
                }

                    ul.pagination li a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color;
                        background-color: #ddd;
                        border-color: white;
                        border-radius: 0.5rem;
                    }

                        ul.pagination li a.active {
                            background-color: dodgerblue;
                            color: white;
                        }

                        ul.pagination li a:hover:not(.active) {
                            background-color: dodgerblue;
                            border-radius: 0.5rem;
                        }
            </style>
            <div id="container" style="text-align:left">

                <div class="pagination" style="text-align:left">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
                  , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
                </div>
            </div>
        </div>


    </div>

</div>





