@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Items>

@{
    ViewBag.Title = "Beneficiaries  items ";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: gray;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header col-md-12 col-sm-12 col-12 " style="background-color: #53085B; color: white; border-radius: 4px ">
        <h3 class="card-title" style="color:white;text-align:center">
            <span class="badge badge-warning"> <i class="fa fa-usere"></i></span> <b>Beneficiaries items</b>
        </h3>

        <div style="text-align: right ">
            @using (Html.BeginForm("Index", "items", FormMethod.Get))
            {

              

                <button type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#createModal" id="createButton">
                    <i class="fa fa-plus-circle"></i> Add Items
                </button>

            }
        </div>



    </div>


    <div class="card-body">

        @if (TempData["Msg"] != null)
        {<div class="row">
                <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["Msg"]
                </div>
            </div>
        }

        <script>
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        </script>












        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel"> <span class="badge badge-warning"> <i class="fa fa-usere"></i></span>   Add Beneficiaries item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Content will be loaded here from "Create" action -->
                    </div>
                </div>
            </div>
        </div>


        <script>
$(document).ready(function () {
    // Create Button Click Event
    $('#createButton').click(function () {
        var radValue = parseInt('@ViewBag.Rad');

        $.ajax({
            url: '@Url.Action("Create", "items")',
            type: 'GET',
           
            success: function (data) {
                $('#createModal .modal-body').html(data);
                $('#createModal').modal('show');
            },
            error: function () {
                console.log('Failed to load the create form.');
            }
        });
    });

    // Handle AJAX form submission
    $(document).on('submit', '#createForm', function (event) {
        event.preventDefault(); // Prevent the default form submission


    });


});
        </script>


        <div class="row">
            @foreach (var item in Model)



            {

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-dark" style="border-radius: 15px;color:white">
                        <div class="inner">

                            <small><i class="fa fa-gifts "></i>  Beneficiary Item   (No.@item.Id)</small>
                            <div class="dropdown-divider"></div>
                            <h4> <span class="badge  badge-warning"><small><i class="fa fa-usfers "></i></small></span><b> @item.Name</b>  <small>@@  @item.Amount.ToString("#,##0.00") /=</small></h4>
                            


                        </div>
                        <div class="icon">


                            <i class="fa  fa-gifts"></i>

                        </div>


                        <div class="dropdown btn-block">
                            <button class="btn btn-warning btn-lg btn-sm btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:10px">
                                <b style="color:white">View</b> <i class="fas fa-arrow-circle-right text-white"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" aria-labelledby="dropdownMenuButton">










                                <script>
$(document).ready(function () {
    // Handle the Edit button click event for any item
    $('a[id^="editButton-"]').click(function (e) {
        e.preventDefault(); // Prevent the default link behavior

        // Get the unique item ID from the data-id attribute
        var id = $(this).data('id');

        // Make an AJAX GET request to load the Edit view
        $.ajax({
            url: '@Url.Action("Edit", "Items")',  // URL of the Edit action
            type: 'GET',
            data: { id: id },  // Pass the unique item ID
            success: function (data) {
                // Load the returned data into the modal body
                $('#createModal .modal-body').html(data);
                // Show the modal
                $('#createModal').modal('show');
            },
            error: function () {
                console.log('Failed to load the Edit form.');
            }
        });
    });

    // Handle the form submission (if needed)
    $(document).on('submit', '#editForm', function (event) {
        event.preventDefault();  // Prevent default form submission

        // You can add AJAX form submission logic here, if required.
    });
});
                                </script>






                                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#createModal" id="editButton-@item.Id" data-id="@item.Id">
                                    <i class="fa fa-pen-nib text-secondary"></i> Edit Item
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" onclick="if (confirm('Are you sure you want to delete the item')) { window.location.href = '@Url.Action("Delete", "items", new { id = item.Id })'; }">
                                    <i class="fa fa-times-circle text-danger"></i> Delete item
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>