@model Ishop.Models.ChangePasswordViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Change Password";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>


<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand;
    }
</style>




<br />

<div class="col d-flex justify-content-center">
    <div class="col-md-7 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 14px;">
            <div class="card-header" style="background-color: #0656A5; color: white; border-radius: 14px">
                <i class="fa fa-user-plus text-white nav-icon"></i> Password Change
            </div>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="/resources/demos/style.css">
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script>
                $(function () {
                    $("#datepicker").datepicker();
                });
                $(function () {
                    $("#datepicker2").datepicker();
                });
                $(function () {
                    $("#datepicker9").datepicker();
                });
            </script>

            <div class="card-body">
                <div class="dropdown-divider"></div>

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary("", new { @class = "text-danger" })


                    <div class="form-group col-md-6" id="other">
                        <label><i class="fa fa-lock text-primary"></i>   @Html.LabelFor(model => model.OldPassword)</label>
                        @Html.EditorFor(model => model.OldPassword, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control  ",
                           @Placeholder = "OldPassword",
                           @required = true,
                       }
                   })
                    </div>


                    <div style="text-align:right">
                        <a href="@Url.Action("ForgotPassword", "Account", null)" >
                            <i class="fa fa-question-circle text-primary"></i> Forgot Old Password ?
                        </a>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-4" id="other">
                            <label><i class="fa fa-key text-primary"></i>   @Html.LabelFor(model => model.NewPassword)</label>
                            @Html.EditorFor(model => model.NewPassword, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm ",
                               @Placeholder = "NewPassword",
                               @required = true,
                           }
                       })
                        </div>

                        <div class="form-group col-md-4" id="other">
                            <label><i class="fa fa-key text-primary"></i>   @Html.LabelFor(model => model.ConfirmPassword)</label>
                            @Html.EditorFor(model => model.ConfirmPassword, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control form-control-sm ",
                               @Placeholder = "ConfirmPassword",
                               @required = true,
                           }
                       })
                        </div>

                    </div>
                    <TextBox ID="txtPassword" runat="server" TextMode="Password" />
                    <p id="toggle_pwd" class="fa fa-fw fa-eye field_icon text-primary">  </p>
                    <small>Show Passwords</small>
                    <script type="text/javascript">
                        $(function () {
                            $("#toggle_pwd").click(function () {
                                $(this).toggleClass("fa-eye fa-eye-slash");
                                var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                                $("[id*=Password]").attr("type", type);
                            });
                        });
                    </script>

                    <div class="dropdown-divider"></div>

                    <input type="submit" value="Change password" class="btn btn-success" />

                    @Html.ActionLink("Go back Home", "index", "Home", null, new { @class = "btn btn-primary btn" })




                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
