@model Ishop.Models.ChangePasswordViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Change Password";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<div class="loading" align="center">
    <img src="~/Images/Andest.png" height="200" />

</div>
<script type="text/javascript">
    var modal, loading;
    function ShowProgress() {
        modal = document.createElement("DIV");
        modal.className = "modal";
        document.body.appendChild(modal);
        loading = document.getElementsByClassName("loading")[0];
        loading.style.display = "block";
        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
        loading.style.top = top + "px";
        loading.style.left = left + "px";
    };
    ShowProgress();
</script>
<!-- Keep the Page Content Here.-->
<script type="text/javascript">
    window.onload = function () {
        setTimeout(function () {
            document.body.removeChild(modal);
            loading.style.display = "none";
        }, 800); //Delay just used for example and must be set to 0.
    };
</script>

<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand;
    }
</style>



<div class="card" style="background-color: #ffffffd9">
    <br />
    <div class="col d-flex justify-content-center">
        <div class="col-md-7 col-sm-5 col-12">
            <div class="card mb- mb-xl-0" style="border-radius: 14px;">

                <div class="card-outline card-primary card-body text-left" style="border-radius: 14px;">
                    <h7 style="color:seagreen"><i class="fa fa-user-lock"></i> Account Password Change.</h7>
                    <div class="dropdown-divider"></div>

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="col-md-10 mb-10">
                            <label> @Html.LabelFor(model => model.OldPassword)</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                            </div>
                        </div>
                        <div class="col-md-10 mb-10">
                            <label> @Html.LabelFor(model => model.NewPassword)</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-rounded", @placeholder = "New Password" })
                            </div>
                        </div>
                        <div class="col-md-10 mb-10">
                            <label> @Html.LabelFor(model => model.ConfirmPassword)</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-rounded", @placeholder = "Confirm New Password" })
                            </div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                                  rel="stylesheet" type="text/css" />
                            <asp:TextBox ID="txtPassword" runat="server" TextMode="Password" />
                            <p id="toggle_pwd" class="fa fa-fw fa-eye field_icon text-primary">  </p>
                            <small>Show Passwords</small>
                            <script type="text/javascript">
                                $(function () {
                                    $("#toggle_pwd").click(function () {
                                        $(this).toggleClass("fa-eye fa-eye-slash");
                                        var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                                        $("[id*=Password]").attr("type", type);
                                    });
                                });
                            </script>
                        </div>


                        <br />

                        <input type="submit" value="Change password" class="btn btn-success" />

                        @Html.ActionLink("Go back Home", "index", "Home", null, new { @class = "btn btn-primary btn" })


                        <br />

                    }
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
