@model IShop.Core.Part

@{
    ViewBag.Title = "Create";
}


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }

    .form-rounded {
        border-radius: 1rem;
    }

    form-rounded2 {
        border-radius: 4rem;
        border-color: orangered;
    }

    .form-rounded1 {
        border-radius: 1rem;
        border-color: red;
    }

    .form-control:focus {
        border-color: #0faa09;
    }
</style>


<!-- Main content -->

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }



    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    hr {
        border: none;
        color: black;
        background-color: greenyellow;
        height: 1px;
        width: 100%;
    }
</style>



@if (TempData["Msg"] != null)
{<div class="row">
        <div class="alert alert-success col-md-6 col-md-offset-4" align="center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Msg"]
        </div>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
<!-- /.card-header -->






<br />
<div class="col d-flex justify-content-center">
    <div class="col-md-9 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #803209; color: white; border-radius: 14px ">
                <i class="fa fa-cogs"></i> Add Autoparts
            </div>
            <div class="card-body" style="background-color: white;border-radius: 24px;">
                <div class="card-body" style="background-color: #ffffffc1;border-radius: 24px;">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                    <div class="form-row">
                        @foreach (var item2 in ViewBag.CheckIn)
                        {<div class="form-group col-md-2 ">
                                <label><i class="fa fa-bookmark text-orange"></i> @Html.LabelFor(model => model.Booking_Id)</label>
                                <input id="Booking_Id" name="Booking_Id" type="number" value="@item2.Id" class="form-control  form-control  " readonly />

                            </div>
                        }

                        <script type="text/javascript">
                            $(function () {

                                $("#Condition").chosen();
                            });
                        </script>

                        <div class="form-group col-md-4" id="other">
                            <label><i class="fa fa-cogs text-orange"></i>   @Html.LabelFor(model => model.Part_Name)</label>
                            @Html.EditorFor(model => model.Part_Name, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control ",
                               @Placeholder = "Part Name",
                               @Id = "Part_Name",
                              @required = true,
                           }
                       })
                        </div>

                        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
                        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
                        <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
                              rel="Stylesheet" type="text/css" />
                        <script>
    $(function () {
        $("#Part_Name").autocomplete({
            source: '@Url.Action("AutoComplete")',
            minLength: 3 // Minimum number of characters to trigger autocomplete
        });
    });
                        </script>

                        <div class="form-group col-md-4" id="other">
                            <label><i class="fa fa-spinner text-orange"></i>   @Html.LabelFor(model => model.Condition)</label>
                            @{
                                List<SelectListItem> q = new List<SelectListItem>();
                                q.Add(new SelectListItem
                                {
                                    Text = "New Autopart",
                                    Value = "New autopart",
                                });
                                q.Add(new SelectListItem
                                {
                                    Text = "Open Market",
                                    Value = "Open Market",
                                });



                            }@Html.DropDownListFor(model => model.Condition, q, "Autopart Condition", new { @class = "form-control form-control", @required = "required", })
                        </div>

                    </div>

                        <div class="row">
                            <div class="form-group col-md-3" id="other">
                                <label><i class="fa fa-wallet text-orange"></i>   @Html.LabelFor(model => model.Amount)</label>
                                @Html.EditorFor(model => model.Amount, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @Placeholder = "Amount",
                                   @required = true,
                               }
                           })
                            </div>
                            <div class="form-group col-md-2" id="other">
                                <label><i class="fa fa-spinner text-orange"></i>   @Html.LabelFor(model => model.VAT)</label>
                                @{
                                    List<SelectListItem> v = new List<SelectListItem>();
                                    v.Add(new SelectListItem
                                    {
                                        Text = "ADD VAT",
                                        Value = "True",
                                    });
                                    v.Add(new SelectListItem
                                    {
                                        Text = "NO VAT",
                                        Value = "False",
                                    });



                                }@Html.DropDownListFor(model => model.VAT, v, "VAT", new { @class = "form-control form-control", @required = "required", })
                            </div>
                            <script>
                                $(document).ready(function () {
                                    // Get references to the dropdown and textboxes
                                    var dropdown = $('#VAT');
                                    var textBoxB = $('#Amount');
                                    var textBoxC = $('#Total_Amount');

                                    // Event handler for when the dropdown value changes
                                    dropdown.on('change', function () {
                                        // Get the selected value from the dropdown
                                        var selectedValue = dropdown.val();

                                        // Check if the selected value is "true"
                                        if (selectedValue === "True") {
                                            // Perform the calculation and set the result in TextBox C
                                            var inputValue = parseFloat(textBoxB.val());

                                            var result = inputValue + (inputValue * 0.16); // Multiply by 16%
                                            textBoxC.val(result.toFixed(2)); // Set the result in TextBox C with 2 decimal places
                                        } else if (selectedValue === "False") {
                                            var result2 = parseFloat(textBoxB.val());
                                            textBoxC.val(result2.toFixed(2));
                                        }
                                    });
                                });
                            </script>
                            <div class="form-group col-md-3" id="other">
                                <label><i class="fa fa-circle-notch text-orange"></i>   @Html.LabelFor(model => model.Total_Amount)</label>
                                @Html.EditorFor(model => model.Total_Amount, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @Placeholder = "Amount",
                                   @Readonly = true,
                               }
                           })
                            </div>
                        </div>

                        <div class="dropdown-divider"></div>
                        <input type="submit" value="Add Autopart" class="btn btn btn-success" style="color:white" onclick="return confirm('Are you sure you want add this?')" />


                        <script>
                            $(function () {
                                $('#Create').click(function () {
                                    if (confirm('Are you sure?')) {
                                        window.location.href = $(this).data('url');
                                    }
                                });
                            });
                        </script>
                        <a href="@Request.UrlReferrer" class="btn btn-primary">Back</a>
                       





                                            }

                    </form>





















                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }



                </div>
            </div>
        </div>
    </div>
</div>
