@model IShop.Core.Question

@{
    ViewBag.Title = "Workplan";
}


<style>
    .form-rounded2 {
        border-radius: 1rem;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();
    });

</script>
<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
        border-radius: 4px
    }

    .form-rounded {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }

    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid #d3d3d3;
        }
</style>
<div class="col d-flex justify-content-center">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">

            <div class="card-body" style="background-color: white;border-radius: 24px;">

                <h5 style="color:purple"><i class="fa fa-bookmark"></i> WorkPlan Details</h5>
             
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-nowrap table-condensed table-striped table-hover sortable curved-table" id="ordersTable">
                        <tbody>

                            <tr>

                                <td style="background-color: white;">
                                    <span class="badge badge-primary"><i class="fa fa-table text-white"></i></span>  <b>@ViewBag.WorkplanD.Track</b>
                                    <div class="dropdown-divider"></div>
                                    <span class="badge badge-warning"> <i class="fa fa-chess text-black"></i></span>  @ViewBag.WorkplanD.Goal
                                </td>
                                <td style="background-color: white;">
                                    <span class="badge badge-primary"><i class="fa fa-table text-white"></i></span>  <b>@ViewBag.WorkplanD.Activities</b>
                                    <div class="dropdown-divider"></div>
                                    <span class="badge badge-warning"><i class="fa fa-users text-black"></i> Respondent</span> <small>        <b> @ViewBag.WorkplanD.Respondent</b></small>
                                </td>

                                <td style="background-color: white;">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                        <i class="fa fa-book-reader"></i>  Activity Guide
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <style>
                        .custom-modal-width {
                            max-width: 80%; /* Set the desired width, can be any percentage or pixel value */
                        }
                    </style>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg custom-modal-width" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h7 class="modal-title" id="exampleModalLongTitle">Activity Guide</h7>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        @{
                                            string message2 = ViewBag.WorkplanD.Guide.Replace("\n", "<br>");
                                            string pattern2 = @"(https?://[^\s]+)";
                                            string replacedMessage2 = System.Text.RegularExpressions.Regex.Replace(message2, pattern2, "<a href=\"$1\" target=\"_blank\">$1</a>");
                                        }

                                        <p>@Html.Raw(replacedMessage2)</p>


                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>






                    <h6 style="color:purple"><i class="fa fa-bookmark"></i> WorkPlan Quiz Add</h6>
                    <div class="dropdown-divider"></div>
                    <div class="card">
                        <div class="card-body" style="background-color:whitesmoke">
                            @using (Html.BeginForm("create", "Question", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <form>



                                    <div class="form-row">
                                        <div class="form-group col-md-2" id="other">
                                            <label><i class="fa fa-tags text-primary"></i>   @Html.LabelFor(model => model.Activity)</label>
                                            @Html.EditorFor(model => model.Activity, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control form-control-sm",
                                               @Value = ViewBag.Activity,
                                               @Readonly = true
                                           }
                                       })
                                        </div>
                                        <div class="form-group col-md-2" id="other">
                                            <label><i class="fa fa-tags text-primary"></i>   @Html.LabelFor(model => model.WorkPlan_Id)</label>
                                            @Html.EditorFor(model => model.WorkPlan_Id, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control form-control-sm",
                                               @Value = ViewBag.WorkPlan_Id,
                                               @Readonly = true
                                           }
                                       })
                                        </div>
                                        <div class="form-group col-md-3" id="other" style="display:nosne">
                                            <label><i class="fa fa-bookmark text-purple"></i>   @Html.LabelFor(model => model.Type)</label>
                                            @{
                                                List<SelectListItem> b = new List<SelectListItem>();
                                                b.Add(new SelectListItem
                                                {
                                                    Text = "Text",
                                                    Value = "Text",
                                                });
                                                b.Add(new SelectListItem
                                                {
                                                    Text = "Single Choice",
                                                    Value = "Single_Choice",
                                                });


                                            }@Html.DropDownListFor(model => model.Type, b, "---Select Quiz Type---", new { @class = "form-control form-control-sm", @required = "required", })
                                        </div>

                                        <script type="text/javascript">
                                            $(function () {

                                                $("#Track").chosen();
                                                $("#Activities").chosen();

                                            });
                                        </script>



                                    </div>

                                    <div class="dropdown-divider"></div>
                                    <label><i class="fa fa-comment-dots text-primary"></i> @Html.LabelFor(model => model.Quiz) </label>
                                    <div class="form-row">

                                        @Html.TextAreaFor(model => model.Quiz, 4, 70, htmlAttributes: new
                                   {
                                       id = "Quiz", // Make sure the ID matches the one in getElementById
                                       style = "width: 70%; max-width:70%;",
                                       @placeholder = "Quiz",
                                       @autofocus = "",
                                       @Required = true,
                                       @class = "form-control form-rounded2",
                                       @data_required_if = "#Project_Name"  // Custom attribute for conditional validation
                                   })
                                        @Html.ValidationMessageFor(model => model.Quiz, "", new { @class = "text-danger" })

                                        <script>
                                            document.getElementById("Quiz").addEventListener("paste", function (event) {
                                                // Prevent the default paste behavior
                                                event.preventDefault();

                                                // Get the pasted content as plain text
                                                var text = (event.clipboardData || window.clipboardData).getData("text/plain");

                                                // Sanitize the pasted content (you may use a library for this)
                                                var sanitizedText = sanitizeFunction(text);

                                                // Insert the sanitized plain text into the textarea as HTML
                                                document.execCommand("insertHTML", false, sanitizedText);
                                            });

                                            function sanitizeFunction(input) {
                                                // Implement your own sanitization logic or use a library
                                                // to ensure that the pasted content is safe.
                                                // Example: Implement a function to escape HTML entities.
                                                return input.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                                            }
                                        </script>

                                    </div>
                                    <div class="dropdown-divider"></div>

                                    <input type="submit" name="action" value="Submit" class="btn btn btn-success" style="color:white" onclick="return confirm('Are you sure you save this add WorkPlan?')" />


                                    <script>
                                        $(function () {
                                            $('#Create').click(function () {
                                                if (confirm('Are you sure?')) {
                                                    window.location.href = $(this).data('url');
                                                }
                                            });
                                        });
                                    </script>

                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn" })
                                </form>
                            }

                        </div>
                    </div>
                            <div class="dropdown-divider"></div>

                            <h6 style="color:purple"><i class="fa fa-bookmark"></i> Added Track  Questions</h6>
                            <div class="table-responsive">

                                <table class="table table-bordered table-hover   table-condensed table-striped table-hover sortable curved-table">


                                    <thead style="font-family:Calibri">
                                        <tr style="color:black">
                                            <th style="background-color: #D2D2D2; width:20%"><i class="fa fa-calendar-check"></i>  Type</th>
                                            <th style="background-color: #D2D2D2; width: 80%"><i class="fa fa-tags"></i>   Question</th>
                                            <th style="background-color: #D2D2D2; width: 10%"><i class="fa fa-tags"></i>   Action</th>


                                        </tr>
                                    </thead>

                                    <tbody style="font-family:Calibri">
                                        @foreach (var item2 in ViewBag.Questions)
                                        {


                                            <tr data-widget="expandable-table" aria-expanded="false">

                                                <td style="background-color:white">
                                                    <i class="fa fa-calendar-day text-orange"></i> @item2.Type

                                                </td>
                                                <td style="background-color:white">

                                                    @{
                                                        string message = item2.Quiz.Replace("\n", "<br>");
                                                        string pattern = @"(https?://[^\s]+)";
                                                        string replacedMessage = System.Text.RegularExpressions.Regex.Replace(message, pattern, "<a href=\"$1\" target=\"_blank\">$1</a>");
                                                    }

                                                    <p>@Html.Raw(replacedMessage)</p>
                                                </td>

                                                <td style="background-color:white">
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-hashtag"></i>  . Action
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                                            <div class="dropdown-divider"></div>
                                                            <a href="@Url.Action("Edit", "WorkPlan", new { id = item2.Id })" class="dropdown-item">
                                                                <i class="fa fa-question-circle text-warning"></i> Update Question
                                                            </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a href="@Url.Action("Create", "Question", new { Id = item2.Id })" class="dropdown-item">
                                                                <i class="fa fa-times-circle text-success"></i> Drop Question
                                                            </a>


                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
</div>
</div>
